@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900");
/**************************************/
/*** Screen Sizes Mixins ***/
/**************************************/
/*** Colours Variables ***/
/*main*/
/*neutrals*/
/**************************************/
/* --------------------------*/
/* ----- MAIN ELEMENTS ----- */
/* --------------------------*/
/* // General Elements \\  */
/* line 65, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
body {
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  font-size: 15px;
  transition: all .3s ease-in-out;
}

/* line 75, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
#wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  transition: all .3s ease-in-out;
}

/* // Selected Elements \\  */
/* line 86, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
::-moz-selection {
  background-color: #698fb7;
  color: #ffffff;
}

/* line 91, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
::selection {
  background-color: #698fb7;
  color: #ffffff;
}

/*  // Components \\  */
/* line 99, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
button {
  color: #848484;
  display: inline-block;
  padding: 15 15 15 18;
  text-align: center;
  letter-spacing: 5px;
  background-color: #f6f6f6;
  transition: all .6s ease;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-family: 'Source Code Pro', monospace;
  font-weight: 500;
  border: 0;
  margin: 0 auto;
  margin-top: 40;
  display: block;
}

/* line 118, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
button:after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #698fb7;
  border-radius: 20px;
  position: absolute;
  margin: 0 auto;
  bottom: 0;
  left: 50%;
  transition: all 0.8s ease;
}

/* line 131, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
button:before {
  content: '';
  position: absolute;
  background-color: #fff;
  width: 0%;
  height: 100%;
  left: 50%;
  z-index: -1;
  top: 0;
  transition: all 0.6s ease;
}

/* line 142, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
button:hover {
  color: #698fb7;
  z-index: 1;
}

@media (max-width: 799px) {
  /* line 142, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  button:hover {
    color: #848484;
  }
}

/* line 150, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
button:hover:after {
  width: 30%;
  left: calc(50% - 15%);
}

@media (max-width: 799px) {
  /* line 150, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  button:hover:after {
    display: none;
  }
}

/* line 158, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
button:hover:before {
  width: 100%;
  left: 0%;
}

@media (max-width: 799px) {
  /* line 158, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  button:hover:before {
    display: none;
  }
}

/* line 166, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
button:focus {
  outline: 0;
}

/* line 172, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* line 178, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
p {
  color: #848484;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1.8;
  letter-spacing: 0.7;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@media (max-width: 799px) {
  /* line 178, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  p {
    font-size: 14px;
  }
}

/* line 193, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.links {
  color: #698fb7;
  transition: all 0.2s ease;
  position: relative;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

/* line 200, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.links:after {
  content: '';
  width: 0%;
  height: 2px;
  border-radius: 20px;
  background-color: #698fb7;
  position: absolute;
  margin: 0 auto;
  bottom: -2px;
  left: 50%;
  transition: all 0.8s ease;
}

@media (max-width: 799px) {
  /* line 200, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .links:after {
    width: 0;
    text-decoration: underline;
  }
}

/* line 218, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.links:hover:after {
  width: 100%;
  left: 0;
  margin: 0 auto;
}

/*  // Texts \\  */
/* line 228, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-title {
  font-size: 35px;
  color: #848484;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 10px;
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
  text-transform: uppercase;
  transition: all .5s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 243, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-title.white {
  color: #fff;
}

@media (max-width: 799px) {
  /* line 228, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-title {
    font-size: 25px;
    line-height: 35px;
  }
}

/* line 252, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-title:after {
  background-color: #698fb7;
  width: 80px;
  content: '';
  height: 2px;
  border-radius: 20px;
  position: absolute;
  transition: all .5s ease;
  bottom: -20px;
}

@media (max-width: 799px) {
  /* line 252, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-title:after {
    width: 50px;
  }
}

/* line 267, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-title:hover:after {
  width: 100px;
}

@media (max-width: 799px) {
  /* line 267, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-title:hover:after {
    width: 50px;
  }
}

/* line 276, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-text {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 799px) {
  /* line 276, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-text {
    padding: 0 10px;
  }
}

/* line 285, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-text.left {
  text-align: left;
}

/*  // Back to Top \\  */
/* line 292, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
#scrollme {
  margin: 0 auto;
  height: 50px;
  cursor: pointer;
  width: 120px;
}

/* line 298, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
#scrollme .backtop {
  position: relative;
  color: #698fb7;
}

/* line 301, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
#scrollme .backtop p {
  font-size: 12px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 50px;
  opacity: 0;
  transition: all 0.6s ease;
  padding-top: 10px;
  color: #698fb7;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

/* line 315, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
#scrollme .backtop span {
  width: 20px;
  height: 2px;
  position: absolute;
  top: 20px;
  left: calc(50% - 10px);
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
  background-color: #698fb7;
}

/* line 325, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
#scrollme .backtop span:nth-child(1) {
  transform: rotate(45deg);
  margin-left: 6px;
}

/* line 330, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
#scrollme .backtop span:nth-child(2) {
  transform: rotate(-45deg);
  margin-left: -7px;
}

/* line 338, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
#scrollme:hover .backtop p {
  opacity: 1;
  padding-top: 0px;
  font-size: 11px;
}

@media (max-width: 799px) {
  /* line 338, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  #scrollme:hover .backtop p {
    display: none;
  }
}

/* line 347, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
#scrollme:hover .backtop span {
  top: 22px;
  width: 20px;
}

@media (max-width: 799px) {
  /* line 347, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  #scrollme:hover .backtop span {
    top: 20px;
  }
}

/* line 354, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
#scrollme:hover .backtop span:nth-child(1) {
  left: calc(50% - 5px);
  transform: rotate(180deg);
}

@media (max-width: 799px) {
  /* line 354, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  #scrollme:hover .backtop span:nth-child(1) {
    left: calc(50% - 10px);
    transform: rotate(45deg);
    width: 20px;
    margin-left: 6px;
  }
}

/* line 364, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
#scrollme:hover .backtop span:nth-child(2) {
  right: calc(50% - 5px);
  transform: rotate(-180deg);
}

@media (max-width: 799px) {
  /* line 364, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  #scrollme:hover .backtop span:nth-child(2) {
    right: calc(50% - 10px);
    transform: rotate(-45deg);
    width: 20px;
    margin-left: -7px;
  }
}

/* ---------------------------*/
/* --------- GENERAL -------- */
/* ---------------------------*/
/* line 387, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu {
  width: 40px;
  height: 40px;
  margin: 25px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
}

@media (max-width: 799px) {
  /* line 387, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-nav .iconmenu {
    margin: 10px;
  }
}

/* line 399, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu .iconopen {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  border-radius: 100%;
}

/* line 409, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu .iconopen span {
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 20px;
  transition: all 0.3s ease;
  background-color: #698fb7;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 420, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu .iconopen span:before, .main-nav .iconmenu .iconopen span:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 100%;
  background-color: inherit;
}

/* line 430, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu .iconopen span:before {
  transition: all 0.3s ease;
  transform: translateY(-6px);
}

/* line 435, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu .iconopen span:after {
  transition: all 0.4s ease;
  transform: translateY(6px);
}

/* line 441, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu .iconopen.close {
  transition: all 0.3s ease;
  background-color: transparent;
}

/* line 445, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu .iconopen.close span {
  background-color: #ccc;
  width: 0px;
}

/* line 448, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu .iconopen.close span:before {
  width: 20px;
  transform: rotate(45deg);
}

/* line 453, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu .iconopen.close span:after {
  width: 20px;
  transform: rotate(-45deg);
}

/* line 464, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu:hover .iconopen span:before {
  width: 16px;
}

@media (max-width: 799px) {
  /* line 464, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-nav .iconmenu:hover .iconopen span:before {
    width: 20px;
  }
}

/* line 470, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu:hover .iconopen span:after {
  width: 16px;
}

@media (max-width: 799px) {
  /* line 470, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-nav .iconmenu:hover .iconopen span:after {
    width: 20px;
  }
}

/* line 479, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu:hover .iconopen.close span {
  background-color: #848484;
}

@media (max-width: 799px) {
  /* line 479, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-nav .iconmenu:hover .iconopen.close span {
    background-color: #ccc;
  }
}

/* line 484, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu:hover .iconopen.close span:before {
  width: 20px;
}

/* line 488, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .iconmenu:hover .iconopen.close span:after {
  width: 20px;
}

/* line 497, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .nav {
  background-color: white;
  margin: 0;
  width: 100%;
  height: 90px;
  position: fixed;
  top: -95px;
  transition: all .5s ease-in;
  box-shadow: 0px -10px 20px black;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /*  // Menu List \\  */
}

@media (max-width: 799px) {
  /* line 497, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-nav .nav {
    top: -65px;
    height: 60px;
  }
}

/* line 516, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .nav.navshow {
  transition: all .5s ease-out;
  top: 0;
}

/* line 522, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .nav .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

/* line 529, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .nav .menu .menu-item {
  color: #848484;
  list-style: none;
  width: 20%;
  min-width: 60px;
  max-width: 250px;
  letter-spacing: 4px;
  height: 50px;
  transition: all 0.4s ease;
  position: relative;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 799px) {
  /* line 529, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-nav .nav .menu .menu-item {
    min-width: 60px;
    font-size: 13px;
    letter-spacing: 2px;
    height: 30px;
  }
}

/* line 553, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .nav .menu .menu-item:after {
  content: '';
  width: 0%;
  height: 2px;
  border-radius: 20px;
  background-color: #698fb7;
  position: absolute;
  bottom: 0;
  transition: all 0.4s ease;
}

/* line 564, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .nav .menu .menu-item:hover {
  color: #698fb7;
}

@media (max-width: 799px) {
  /* line 564, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-nav .nav .menu .menu-item:hover {
    letter-spacing: 2px;
    color: #848484;
  }
}

/* line 572, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .nav .menu .menu-item:hover:after {
  width: 35px;
}

@media (max-width: 799px) {
  /* line 572, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-nav .nav .menu .menu-item:hover:after {
    width: 0px;
  }
}

/* line 580, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .nav .menu .menu-item.current {
  color: #698fb7;
}

/* line 582, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.main-nav .nav .menu .menu-item.current:after {
  width: 30px;
}

@media (max-width: 799px) {
  /* line 582, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .main-nav .nav .menu .menu-item.current:after {
    width: 20px;
  }
}

/* line 596, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.footer {
  background-color: #383838;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 799px) {
  /* line 596, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .footer {
    height: 100px;
  }
}

/* line 608, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.footer p {
  font-size: 12px;
  letter-spacing: 1.1;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  text-align: center;
  color: #f0f0f0;
}

/* line 616, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.footer p:first-child {
  color: #848484;
}

/* line 622, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(100% - 10%);
  margin: 0 auto;
  transition: all .3s ease-in-out;
}

/* line 632, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.content-full {
  padding: 0 5%;
}

/* line 635, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.content-full.blue {
  background-color: #698fb7;
}

/* line 639, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.content-full.gray {
  background-color: #f0f0f0;
}

/* line 643, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.content-full.dark {
  background-color: #383838;
}

/* line 648, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.section,
.section-works {
  width: 100%;
  max-width: 1280px;
  padding: 100px 0;
  transition: all .3s ease-in-out;
  margin: auto;
}

@media (max-width: 799px) {
  /* line 648, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .section,
  .section-works {
    padding: 50px 0;
  }
}

/* ---------------------------*/
/* --------- MODULES -------- */
/* ---------------------------*/
/* line 668, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header {
  width: 100%;
  margin: 0 auto;
  padding: 250 0 250;
  text-align: center;
  transition: all .6s ease-in-out;
  position: relative;
  background-color: #ccc;
  position: relative;
  /*  // Filter Blue \\  */
  /*  // Header Images \\  */
  /* /---------------------/ */
  /*  // Header Text \\  */
}

@media (max-width: 799px) {
  /* line 668, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .header {
    width: 100%;
    max-width: 100%;
    padding: 150 0 150 0;
    background-size: 250px, cover;
    background-position: center 50px;
  }
}

/* line 687, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header:before {
  background-color: #698fb7;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
  top: 0;
}

/* line 698, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header span {
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 25%;
  content: '';
  height: 100%;
  opacity: 0.5;
  transition: all .6s ease-in-out;
  z-index: 1;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* line 714, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header span:after {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  content: '';
  left: 0;
  top: 0;
  background-color: rgba(52, 52, 52, 0.85);
  text-align: center;
}

/* line 726, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header span:hover {
  width: 40%;
  z-index: 2;
  opacity: 1;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

@media (max-width: 799px) {
  /* line 726, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .header span:hover {
    width: 25%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.5;
  }
}

/* line 739, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header span:hover:after {
  background-color: rgba(52, 52, 52, 0.5);
}

@media (max-width: 799px) {
  /* line 739, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .header span:hover:after {
    background-color: rgba(52, 52, 52, 0.85);
  }
}

/* line 750, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header span:nth-child(1) {
  left: 0;
}

/* line 754, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header span:nth-child(2) {
  left: 25%;
}

/* line 758, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header span:nth-child(3) {
  right: 25%;
}

/* line 762, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header span:nth-child(4) {
  right: 0%;
}

/* line 771, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header .header-content {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  z-index: 2;
  position: relative;
  top: 0;
  text-align: center;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

/* line 781, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header .header-content h1 {
  font-size: 50px;
  color: white;
  font-weight: 100;
  width: 100%;
  position: relative;
  letter-spacing: 2px;
  margin: 0 auto;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

@media (max-width: 799px) {
  /* line 781, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .header .header-content h1 {
    font-size: 35px;
  }
}

/* line 797, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header .header-content p {
  color: white;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  position: relative;
  letter-spacing: 8;
  font-size: 14px;
  text-align: center;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}

/* line 809, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header .header-content p:before {
  content: '';
  width: 160px;
  height: 6px;
  position: absolute;
  background-color: #698fb7;
  z-index: -1;
  transform: translateX(-4px);
  top: 11px;
}

/* line 824, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.header:hover .header-content {
  opacity: 0.2;
}

@media (max-width: 799px) {
  /* line 824, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .header:hover .header-content {
    opacity: 1;
  }
}

/* line 835, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image-container {
  display: grid;
  grid-template-columns: 50% 50%;
  /*  // IE CODE \\  */
}

@media (max-width: 799px) {
  /* line 835, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-container .image-container {
    grid-template-columns: 100%;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 835, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-container .image-container {
    display: flex;
    flex-direction: column;
  }
}

/* line 851, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image {
  position: relative;
  width: calc(100% - 20px);
  padding-bottom: calc(100% - 20px);
  margin-bottom: 10px;
  margin-top: 10px;
  background-size: cover;
  background-position: 50%;
  transition: all .5s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* filtro cinza */
  /* filtro azul */
}

/* line 865, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image.big {
  padding-bottom: 50%;
}

@media (max-width: 799px) {
  /* line 865, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-container .image.big {
    width: 100%;
    padding-bottom: 100%;
  }
}

@media (max-width: 799px) {
  /* line 851, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-container .image {
    width: 100%;
    padding-bottom: 100%;
  }
}

/* line 880, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image:before {
  content: '';
  opacity: 0.1;
  background-color: #000;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .4s ease-in-out;
}

/* line 894, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image:after {
  position: absolute;
  content: '';
  opacity: 0;
  background-color: #698fb7;
  transition: all .4s ease-in-out;
  cursor: pointer;
  width: 90%;
  height: 90%;
  z-index: 1;
  top: 5%;
}

/* line 907, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image .overlay-title {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  font-weight: 500;
  top: 42%;
  opacity: 0;
  z-index: 2;
  text-align: center;
  cursor: pointer;
  transition: all .5s ease;
  color: white;
}

@media (max-width: 799px) {
  /* line 907, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-container .image .overlay-title {
    display: none;
  }
}

/* line 928, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image .overlay-text {
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  top: 60%;
  opacity: 0;
  z-index: 2;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  transition: all .9s ease;
  margin-top: 10px;
  color: white;
}

@media (max-width: 799px) {
  /* line 928, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-container .image .overlay-text {
    display: none;
  }
}

/* line 949, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image .overlay-text span {
  opacity: 0.4;
}

/* line 954, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image:hover {
  /* filtro cinza */
  /* filtro azul */
}

/* line 956, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image:hover:before {
  opacity: 0.5;
}

@media (max-width: 799px) {
  /* line 956, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-container .image:hover:before {
    opacity: 0.1;
  }
}

/* line 963, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image:hover:after {
  opacity: 0.9;
  width: 100%;
  height: 100%;
  top: 0;
}

@media (max-width: 799px) {
  /* line 963, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-container .image:hover:after {
    display: none;
  }
}

/* line 973, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image:hover .overlay-title {
  opacity: 1;
  top: 48%;
}

/* line 978, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-container .image:hover .overlay-text {
  opacity: 0.7;
  top: 55%;
}

/* line 989, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons {
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  /* icon 1 */
  /* icon 2 */
  /* icon 3 */
  /* icon 4 */
  /* icon 5 */
  /* icon 6 */
}

@media (max-width: 1023px) {
  /* line 989, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .info-icons .row-icons {
    grid-template-columns: 33% 33% 33%;
  }
}

@media (max-width: 799px) {
  /* line 989, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .info-icons .row-icons {
    grid-template-columns: 50% 50%;
  }
}

/* line 1003, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section {
  width: 120px;
  text-align: center;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  /*  // Content Icons \\  */
}

/* line 1010, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:before {
  background-color: white;
  position: absolute;
  content: '';
  border-radius: 1px;
  z-index: 1;
  width: auto;
  height: auto;
}

@media (max-width: 799px) {
  /* line 1010, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .info-icons .row-icons .icon-section:before {
    background-color: #698fb7;
  }
}

/* line 1023, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:after {
  background-color: #698fb7;
  position: absolute;
  content: '';
  transition: all 0.4s ease-in-out;
  border-radius: 1px;
  z-index: 2;
}

/* line 1033, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section p {
  font-size: 12px;
  line-height: 20px;
  margin: 15 0 0 0;
  letter-spacing: 0px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

/* line 1044, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:hover p {
  color: #698fb7;
}

@media (max-width: 800px) {
  /* line 1051, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .info-icons .row-icons .icon-section .icon-section p,
  .info-icons .row-icons .icon-section .icon-section:hover p {
    font-size: 11px;
    line-height: 18px;
    margin: 10 0 0 0;
    color: #848484;
  }
}

/* line 1063, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(1):before {
  width: 13px;
  height: 12px;
  top: 70px;
  left: 37px;
}

/* line 1070, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(1):after {
  width: 0px;
  height: 12px;
  top: 70px;
  left: 37px;
}

/* line 1078, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(1):hover:after {
  width: 13px;
}

/* line 1087, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(2):before {
  width: 52px;
  height: 9px;
  top: 87px;
  left: 25px;
}

/* line 1093, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(2):after {
  width: 0px;
  height: 9px;
  top: 87px;
  left: 25px;
}

/* line 1100, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(2):hover:after {
  width: 52px;
}

/* line 1108, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(3):before {
  width: 17px;
  height: 27px;
  top: 58px;
  left: 66px;
}

/* line 1115, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(3):after {
  width: 17px;
  height: 0px;
  top: 58px;
  left: 66px;
}

/* line 1123, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(3):hover:after {
  height: 27px;
}

/* line 1131, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(4):before {
  width: 17px;
  height: 17px;
  top: 71px;
  left: 49px;
  z-index: -2;
}

/* line 1139, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(4):after {
  width: 17px;
  height: 0px;
  top: 71px;
  left: 49px;
  z-index: -1;
}

/* line 1148, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(4):hover:after {
  height: 17px;
}

/* line 1156, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(5):before {
  width: 21px;
  height: 19px;
  top: 88px;
  left: 22px;
}

/* line 1163, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(5):after {
  width: 0px;
  height: 19px;
  top: 88px;
  left: 22px;
}

/* line 1172, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(5):hover:after {
  width: 21px;
}

/* line 1180, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(6):before {
  width: 12px;
  height: 12px;
  top: 81px;
  left: 62px;
  border-radius: 50px;
}

/* line 1188, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(6):after {
  width: 0px;
  height: 0px;
  top: 87px;
  left: 68px;
  border-radius: 50px;
}

/* line 1197, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.info-icons .row-icons .icon-section:nth-child(6):hover:after {
  width: 12px;
  height: 12px;
  top: 81px;
  left: 62px;
}

/* line 1209, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts {
  display: flex;
  justify-content: space-around;
  text-align: center;
  transition: all 0.8s ease;
  -webkit-transition: all .8s ease;
  /* social item*/
}

/* line 1217, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social {
  background-color: #4a4a4a;
  padding: 100 0;
  z-index: 2;
  Width: 100%;
  position: relative;
  transition: all 0.6s ease;
  -webkit-transition: all .3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  /*  // Social Texts \\  */
  /*  // Icon Social \\  */
  /*  // Background Icons \\  */
}

/* line 1231, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social .social-title {
  color: #ccc;
  letter-spacing: 10px;
  font-size: 14px;
  position: absolute;
  letter-spacing: 4px;
  width: 100%;
  transition: all 0.9s ease;
  top: 35%;
  opacity: 0;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

@media (max-width: 799px) {
  /* line 1231, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .contacts .social .social-title {
    top: 70%;
    opacity: 1;
    letter-spacing: 2;
    font-size: 11px;
    color: #999;
  }
}

/* line 1253, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social .social-link {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-size: 12px;
  opacity: 0;
  color: white;
  transition: all 0.7s ease;
  position: absolute;
  width: 100%;
  top: 60%;
}

@media (max-width: 799px) {
  /* line 1253, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .contacts .social .social-link {
    display: none;
  }
}

/* line 1269, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social span {
  width: 60px;
  height: 60px;
  content: '';
  position: absolute;
  opacity: 1;
  transition: all 0.4s ease;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 799px) {
  /* line 1269, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .contacts .social span {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: 20%;
  }
}

/* line 1290, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social:nth-child(1) span {
  background-image: url("../images/icons/icons_mail.svg");
}

/* line 1294, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social:nth-child(2) {
  background-color: #525252;
}

/* line 1296, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social:nth-child(2) span {
  background-image: url("../images/icons/icons_behance.svg");
}

/* line 1301, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social:nth-child(3) span {
  background-image: url("../images/icons/icons_linkedin.svg");
}

/* line 1306, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social:before {
  content: '';
  position: absolute;
  background-color: #313131;
  width: 0%;
  height: 100%;
  z-index: -1;
  top: 0;
  transition: all 0.7s ease;
  color: #ccc;
}

/* line 1317, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social:after {
  content: '';
  width: 0%;
  height: 2px;
  border-radius: 20px;
  background-color: #698fb7;
  position: absolute;
  bottom: 0;
  transition: all 0.9s ease;
}

@media (max-width: 799px) {
  /* line 1217, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .contacts .social {
    padding: 50 0;
  }
}

/* line 1332, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social:hover {
  color: #698fb7;
  letter-spacing: 6px;
  text-align: center;
}

/* line 1336, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social:hover:before {
  width: 100%;
}

@media (max-width: 799px) {
  /* line 1336, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .contacts .social:hover:before {
    width: 0;
  }
}

/* line 1342, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social:hover:after {
  width: 100%;
}

@media (max-width: 799px) {
  /* line 1342, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .contacts .social:hover:after {
    width: 0;
  }
}

/* line 1348, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social:hover .social-title {
  opacity: 1;
  top: 40%;
  letter-spacing: 6px;
}

@media (max-width: 799px) {
  /* line 1348, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .contacts .social:hover .social-title {
    top: 70%;
    opacity: 1;
    letter-spacing: 2;
    font-size: 11px;
    color: #999;
  }
}

/* line 1361, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social:hover .social-link {
  opacity: 0.2;
  letter-spacing: 1;
  top: 55%;
}

@media (max-width: 799px) {
  /* line 1361, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .contacts .social:hover .social-link {
    display: none;
  }
}

/* line 1370, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.contacts .social:hover span {
  width: 50%;
  height: 50%;
  opacity: 0.03;
}

@media (max-width: 799px) {
  /* line 1370, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .contacts .social:hover span {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: 20%;
    opacity: 1;
  }
}

/* line 1387, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.page-header {
  height: 200px;
  background-color: #f0f0f0;
  text-align: center;
}

@media (max-width: 799px) {
  /* line 1387, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .page-header {
    height: 150px;
  }
}

/* line 1397, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.page-header.works {
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 1404, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.page-header .page-title {
  font-size: 80px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 120px;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
}

@media (max-width: 799px) {
  /* line 1404, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .page-header .page-title {
    font-size: 50px;
    margin-top: 100px;
  }
}

/* line 1421, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.bio-content {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 40% 50%;
  margin: 0 auto;
}

@media (max-width: 799px) {
  /* line 1421, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .bio-content {
    grid-template-columns: 100%;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 1421, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .bio-content {
    display: flex;
    justify-content: space-around;
  }
}

@media all and (-ms-high-contrast: none) and (max-width: 799px), (-ms-high-contrast: active) and (max-width: 799px) {
  /* line 1421, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .bio-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}

/* line 1442, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.bio-content .bio {
  font-size: 15px;
  position: relative;
  z-index: 2;
  text-align: left;
  margin-left: 60px;
}

@media (max-width: 799px) {
  /* line 1442, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .bio-content .bio {
    margin-left: 0px;
    font-size: 13px;
  }
}

/* line 1454, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.bio-content .bio h2 {
  font-size: 35px;
  color: #848484;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 10px;
  z-index: 2;
  text-transform: uppercase;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  max-width: 500px;
  text-align: left;
  margin: 20px 0px 50px -100px;
}

@media (max-width: 799px) {
  /* line 1454, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .bio-content .bio h2 {
    margin: 0px 0px 40px 0px;
    font-size: 25px;
    line-height: 35px;
  }
}

/* line 1474, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.bio-content .bio h2:after {
  background-color: #698fb7;
  width: 80px;
  content: '';
  height: 2px;
  border-radius: 20px;
  display: block;
  margin-top: 20px;
  transition: all .5s ease;
  left: 0;
}

@media (max-width: 799px) {
  /* line 1474, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .bio-content .bio h2:after {
    width: 50px;
  }
}

/* line 1492, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.bio-content .image-about {
  width: 100%;
  height: 500px;
  z-index: 2;
  transition: all .6s ease-in-out;
  opacity: 0.2;
  background-image: url("../images/bio2.png");
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media (max-width: 799px) {
  /* line 1492, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .bio-content .image-about {
    height: 250px;
    margin-bottom: 40px;
  }
}

/* line 1512, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.tab-navigation .tab {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 50px;
  transition: all .6s ease-in-out;
}

/* line 1520, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.tab-navigation .tab span {
  font-weight: 300;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 14px 0px;
  color: #fff;
  transition: all .6s ease-in-out;
  width: 200px;
  position: relative;
  cursor: pointer;
  opacity: 0.5;
  display: flex;
  justify-content: center;
}

@media (max-width: 799px) {
  /* line 1520, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .tab-navigation .tab span {
    font-size: 15px;
    letter-spacing: 4px;
    width: 130px;
  }
}

/* line 1541, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.tab-navigation .tab span:after {
  content: '';
  width: 0%;
  height: 2px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  transition: all 0.6s ease;
}

/* line 1552, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.tab-navigation .tab span.active {
  opacity: 1;
}

/* line 1555, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.tab-navigation .tab span.active:after {
  width: 40px;
}

/* line 1562, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.tab-navigation .tab:hover span {
  opacity: 1;
}

/* line 1564, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.tab-navigation .tab:hover span:after {
  width: 40px;
}

/* line 1573, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.tab-navigation .tabcontent {
  margin: 0 auto;
  display: none;
  padding: 6px 12px;
  top: 10;
  transition: all 0.5s ease;
}

/* line 1581, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.tab-navigation .skills-section {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  transition: all .3s ease-in-out;
}

@media (max-width: 799px) {
  /* line 1581, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .tab-navigation .skills-section {
    flex-direction: column;
  }
}

/* line 1591, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.tab-navigation .skills-section p {
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin: 10px;
  transition: all 0.5s ease;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  letter-spacing: 0;
}

/* line 1603, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.tab-navigation #Skills {
  display: block;
}

/* line 1608, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.timeline-section {
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: calc(50% - 30px) calc(50% - 30px);
  max-width: 700px;
  margin-top: 0px;
  margin-bottom: 90px;
  column-gap: 60px;
  /*  // IE CODE \\  */
}

/* line 1618, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.timeline-section:last-child {
  margin-bottom: 0;
}

@media (max-width: 799px) {
  /* line 1608, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .timeline-section {
    grid-template-columns: 100%;
    padding: 0;
    margin: 0 5%;
    margin-bottom: 60px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* line 1608, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .timeline-section {
    display: flex;
    justify-content: space-around;
  }
}

/* line 1636, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.timeline-section .timeline {
  margin-bottom: 50px;
  text-align: left;
  padding: 0;
  position: relative;
}

@media (max-width: 799px) {
  /* line 1643, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .timeline-section .timeline:last-child {
    margin-bottom: 0px;
  }
}

/* line 1648, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.timeline-section .timeline:after {
  background-color: #f6f6f6;
  position: absolute;
  height: calc(100% - 25px);
  width: 90%;
  content: '';
  right: 0;
  bottom: 0;
  z-index: -1;
  display: block;
}

/* line 1660, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.timeline-section .timeline label {
  color: #698fb7;
  font-size: 14px;
  text-align: left;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  position: relative;
  display: block;
  z-index: 2;
  padding: 0 0 15 0;
}

@media (max-width: 799px) {
  /* line 1660, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .timeline-section .timeline label {
    padding: 0 0 10 0;
    font-size: 14px;
  }
}

/* line 1678, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.timeline-section .timeline p {
  font-size: 14px;
  padding: 0 15 15 0;
  text-align: left;
}

/* line 1683, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.timeline-section .timeline p strong {
  letter-spacing: 1px;
  font-weight: 600;
  position: relative;
  z-index: 1;
}

/* line 1689, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.timeline-section .timeline p em {
  color: #ccc;
  text-decoration: none;
}

/* line 1697, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page {
  max-width: 800px;
}

/* line 1700, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page .section-works {
  padding-bottom: 0;
}

/* line 1703, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page .section-works .second-title {
  font-size: 20px;
  color: #848484;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 5px;
  text-align: left;
  margin: 0;
  margin-bottom: 20px;
  z-index: 2;
  text-transform: uppercase;
  transition: all .5s ease;
}

@media (max-width: 799px) {
  /* line 1703, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-page .section-works .second-title {
    font-size: 15px;
    line-height: 25px;
  }
}

/* line 1721, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page .section-works .second-title:after {
  background-color: #698fb7;
  width: 80px;
  content: '';
  height: 2px;
  border-radius: 20px;
  display: block;
  margin-top: 20px;
  transition: all .5s ease;
}

@media (max-width: 799px) {
  /* line 1721, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-page .section-works .second-title:after {
    width: 50px;
  }
}

/* line 1737, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page .section-works .legenda {
  color: #848484;
  font-size: 14px;
  margin-bottom: 50px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

@media (max-width: 799px) {
  /* line 1737, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-page .section-works .legenda {
    margin-bottom: 30px;
  }
}

/* line 1748, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page .section-works .legenda b {
  color: #ccc;
  font-weight: 400;
}

/* line 1752, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page .section-works .legenda span {
  color: #698fb7;
}

/* line 1757, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page .section-works .description {
  margin-left: 80px;
  font-size: 15px;
  max-width: 800px;
}

@media (max-width: 799px) {
  /* line 1757, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-page .section-works .description {
    margin-left: 30px;
    font-size: 13px;
  }
}

/* line 1768, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page .works-images {
  max-width: 800px;
  transition: all .3s ease;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* line 1777, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page .works-images .image-main {
  width: 100%;
  margin: 40px 0;
  transition: all .3s ease;
}

/* line 1781, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page .works-images .image-main:first-child {
  margin: 0;
}

@media (max-width: 799px) {
  /* line 1777, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
  .works-page .works-images .image-main {
    width: 100%;
    margin: 10px 0;
  }
}

/* line 1790, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page .works-images .video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  width: 100%;
}

/* line 1796, /Users/rafaelalucas/Documents/_TRABALHOS/PORTFOLIO/website/sass/main.scss */
.works-page .works-images .video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*# sourceMappingURL=../css/main.map */