@import url('https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900&display=swap');

$font: 'Barlow',
sans-serif;

$m-01: #C9C9D2;
$m-02: #A7A7B3;
$m-03: #7C7D81;
$m-04: #B78273;
$m-05: #D5A289;

$g-01: linear-gradient(45deg, $m-01, $m-02);
$g-02: linear-gradient(45deg, $m-02, $m-03);
$g-03: linear-gradient(45deg, $m-01, $m-04);
$g-04: linear-gradient(45deg, $m-01, $m-05);
$g-05: linear-gradient(45deg, $m-04, $m-05);


$neu-01: #f5f5f5;
$neu-02: #200e0e;
$neu-03: #d2d2d2;
$neu-04: #b7b7b7;
$neu-05: #9c9c9c;
$neu-06: #404145;
$neu-07: #1c1c1e;

@mixin xl {
    @media screen and (max-width: 1440px) {
        @content;
    }
}

@mixin lg {
    @media screen and (max-width: 1240px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 639px) {
        @content;
    }
}

@mixin xxs {
    @media screen and (max-width: 380px) {
        @content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;

    &:focus {
        outline: 0;
    }
}

body {
    background: $m-01;
    margin: 0;
    padding: 0;
    font-family: $font;
}

nav {
    .navigation {
        width: 100%;
        z-index: 4;
        position: fixed;

        .content {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5%;
            box-sizing: border-box;
            position: relative;
            height: 60px;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                backdrop-filter: blur(5px);
                background-image: $g-02;
                opacity: 0;
                z-index: -1;
                transition: all 0.4s ease;
                transform: translateY(-100%);
            }

            .back {
                display: flex;
                align-items: center;

                img {
                    width: 32px;
                    margin-right: 20px;
                }

                .text {
                    color: white;
                }
            }

            .social {
                display: flex;
                align-items: center;

                img {
                    width: 32px;
                }
            }


        }

        &.sticky {


            .content {


                &:before {
                    opacity: 0.9;
                    transition: all 0.4s ease;
                    transform: translateY(0%);
                }
            }
        }

        &.no-sticky {

            .content {
                &:before {
                    opacity: 0;
                    transform: translateY(-100%);
                }
            }
        }
    }
}



header {
    height: 200px;
}

#dailyui-items {
    max-width: 1440px;
    padding: 0 5%;
    margin: 0 auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    font-family: $font;

    @include sm {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    @include xs {
        grid-template-columns: 1fr;
    }

    a {
        background-color: white;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        box-shadow: 0px 2px 10px -8px $m-02;
        transition: all 0.4s ease;

        .item {
            box-sizing: border-box;
            width: 100%;
            //height: 0px;
            padding-bottom: 60%;
            overflow: hidden;
            background-color: white;
            position: relative;
            border-radius: 4px;
            display: flex;
            justify-content: center;


            &:before {
                position: absolute;
                content: '';
                width: calc(100% - 20px);
                height: 0%;
                bottom: 10px;
                background: $g-02;
                opacity: 0;
                z-index: 2;
                transition: all 0.4s ease;
                border-radius: 4px;
                backdrop-filter: blur(8px);
                overflow: hidden;
            }

            .image {
                left: 0;
                top: 0;
                position: absolute;
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.6s ease, transform 1s ease;

                }

                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.05);
                    z-index: 1;
                }

            }


            article {
                position: absolute;
                z-index: 2;
                color: white;
                bottom: 30px;
                left: 10px;
                padding-left: 20px;
                opacity: 0;
                overflow: hidden;

                .name {
                    opacity: 0;
                    font-size: 20px;
                    font-weight: 800;
                    margin-bottom: 10px;
                    transition: all 0.4s ease;
                    transform: translateX(-50px);
                }

                .desc {
                    opacity: 0;
                    font-size: 16px;
                    transition: all 0.4s ease;
                    transform: translateX(-50px);
                    letter-spacing: -5px;
                }
            }

        }

        &:hover {
            box-shadow: 0px 10px 30px -10px $m-02;
            transform: scale(1.02);

            .item {


                article {
                    opacity: 1;

                    .name {
                        opacity: 1;
                        transition: all 0.4s 0.2s ease;
                        transform: translateX(0px);
                    }

                    .desc {
                        opacity: 1;
                        transition: all 0.4s 0.4s ease;
                        transform: translateX(0px);
                        letter-spacing: 0.5px;
                    }
                }

                .image {
                    img {
                        transform: scale(1.1);
                        transition: all 0.6s ease, transform 4s ease;
                    }
                }

                &:before {
                    height: 90px;
                    opacity: 0.85;
                }
            }
        }
    }
}