@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900');

/**************************************/

/*** Screen Sizes Mixins ***/

// 512
@mixin xs {
    @media (max-width: 511px) {
        @content;
    }
}

// 768
@mixin sm {
    @media (max-width: 800px) {
        @content;
    }
}

// 1024
@mixin md {
    @media (max-width: 1023px) {
        @content;
    }
}

// 1440
@mixin lg {
    @media (max-width: 1279px) {
        @content;
    }
}

/**************************************/

/*** Margins ***/

/* to define the sizes of wrapper */

@mixin width-sizes {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

/* to give 5% of margins on the side - left and right */

@mixin mg-side {
    margin-left: 5%;
    margin-right: 5%;
}

@mixin pd-side {
    padding-left: 5%;
    padding-right: 5%;
}

/* outside top and bottom margins - between modules */

@mixin mg-60 {
    margin-top: 60px;
    margin-bottom: 60px;

    @include sm {
        margin-top: 30px;
        margin-bottom: 30px;
    }

}

@mixin mg-100 {
    margin-top: 100px;
    margin-bottom: 100px;

    @include sm {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@mixin mg-120 {
    margin-top: 120px;
    margin-bottom: 120px;

    @include sm {
        margin-top: 60px;
        margin-bottom: 60px;
    }

}

/* inside top and bottom padding - for modules with background colour */

@mixin pd-0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

@mixin pd-60 {
    padding-top: 60px;
    padding-bottom: 60px;

    @include sm {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@mixin pd-80 {
    padding-top: 80px;
    padding-bottom: 80px;

    @include sm {
        padding-top: 40px;
        padding-bottom: 40px;

    }
}

@mixin pd-100 {
    padding-top: 100px;
    padding-bottom: 100px;

    @include sm {
        padding-top: 60px;
        padding-bottom: 60px;

    }
}

@mixin pd-120 {
    padding-top: 120px;
    padding-bottom: 120px;

    @include sm {
        padding-top: 60px;
        padding-bottom: 60px;

    }
}

.t-120 {
    padding-top: 120px;

    @include sm {
        padding-top: 60px;
    }
}

.b-120 {
    padding-bottom: 120px;

    @include sm {
        padding-bottom: 60px;
    }
}

.mt-120 {
    margin-top: 120px;

    @include sm {
        margin-top: 60px;
    }
}

.mb-120 {
    margin-bottom: 120px;

    @include sm {
        margin-bottom: 60px;
    }
}

/***/

.t-100 {
    padding-top: 100px;

    @include sm {
        padding-top: 50px;
    }
}

.mt-100 {
    margin-top: 100px;

    @include sm {
        margin-top: 50px;
    }
}

.b-100 {
    padding-bottom: 100px;

    @include sm {
        padding-bottom: 50px;
    }
}

.mb-100 {
    margin-bottom: 100px;

    @include sm {
        margin-bottom: 50px;
    }
}

/***/

.t-80 {
    padding-top: 60px;

    @include sm {
        padding-top: 40px;
    }
}


.b-80 {
    padding-bottom: 80px;

    @include sm {
        padding-bottom: 40px;
    }
}

/***/

.t-60 {
    padding-top: 60px;

    @include sm {
        padding-top: 30px;
    }
}

.b-60 {
    padding-bottom: 60px;

    @include sm {
        padding-bottom: 30px;
    }
}

.mt-60 {
    margin-top: 60px;

    @include sm {
        margin-top: 30px;
    }
}

.mb-60 {
    margin-bottom: 60px;

    @include sm {
        margin-bottom: 30px;
    }
}

/***/

.t-0 {
    padding-top: 0px;
}

.b-0 {
    padding-bottom: 0px;
}

/**************************************/

/*** Colours Variables ***/

/*main*/

$m-01: #698fb7;

/*neutrals*/

$neu-01: #37383d;
$neu-02: #5c5f6c;
$neu-03: #939aa6;
$neu-04: #c2c7ce;
$neu-05: #e0e4e7;
$neu-06: #ececec;
$neu-07: #f5f5f5;
$neu-08: #ffffff;

/**************************************/

/* --------------------------*/

/* ----- MAIN ELEMENTS ----- */

/* --------------------------*/

/* // General Elements \\  */

body {
    font-family: sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    font-size: 15px;
    transition: all .3s ease-in-out;
}

#wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all .3s ease-in-out;
}

/* // Selected Elements \\  */

::-moz-selection {
    background-color: $m-01;
    color: #ffffff;
}

::selection {
    background-color: $m-01;
    color: #ffffff;
}

/* // Footer \\  */

.footer {
    background-color: #313131;
    padding: 50px 0;
    right: 0;
    bottom: 0;
    left: 0;

    @include sm {
        padding: 20px 0;
    }

    p {
        display: inline;
        font-size: 12px;
        letter-spacing: 1.1;
        font-family: 'Source Code Pro', monospace;
        font-weight: 400;
        text-align: center;

        span {
            color: $m-01;
        }
    }

    a {
        color: #525252;
        font-size: 12px;
        letter-spacing: 1.6;
        font-weight: 400;
    }
}

/*  // Main Contents \\  */

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
    margin: 0 5%;
    transition: all .3s ease-in-out;
}

.content-full {
    padding: 0 5%;

    &.blue {
        background-color: $m-01;
    }

    &.gray {
        background-color: #f0f0f0
    }

    &.dark {
        background-color: #383838;
    }
}

/*  // Main Sections \\  */

.section,
.section-works,
.section-slider {
    width: 100%;
    max-width: 1440px;
    padding: 100px 0;
    transition: all .3s ease-in-out;
    margin: auto;

    @include sm {
        padding: 50px 0;
    }
}

/*  // Components \\  */

button {
    color: #848484;
    display: inline-block;
    padding: 15 15 15 18;
    text-align: center;
    letter-spacing: 5px;
    background-color: #f6f6f6;
    transition: all .6s ease;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    border: 0;
    margin: 0 auto;
    margin-top: 40;
    display: block;

    &:after {
        content: '';
        width: 0%;
        height: 2px;
        background-color: $m-01;
        border-radius: 20px;
        position: absolute;
        margin: 0 auto;
        bottom: 0;
        left: 50%;
        transition: all 0.8s ease;

    }
    &:before {
        content: '';
        position: absolute;
        background-color: #fff;
        width: 0%;
        height: 100%;
        left: 50%;
        z-index: -1;
        top: 0;
        transition: all 0.6s ease;
    }
    &:hover {
        color: $m-01;
        text-align: center;
        z-index: 1;

        @include sm {
            color: #848484;
        }

        &:after {
            width: 30%;
            left: calc(50% - 15%);
            @include sm {
                display: none;
            }
        }

        &:before {
            width: 100%;
            left: 0%;
            @include sm {
                display: none;
            }
        }
    }

}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

p {
    color: #848484;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.8;
    letter-spacing: 0.7;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    @include sm {
        font-size: 14px;
    }
}

.links {
    color: $m-01;
    transition: all .8s ease-in-out;
    position: relative;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;

    &:after {
        content: '';
        width: 0%;
        height: 2px;
        border-radius: 20px;
        background-color: $m-01;
        position: absolute;
        margin: 0 auto;
        bottom: -2px;
        left: 50%;
        transition: all 0.8s ease;
        @include sm {
            width: 0;
            text-decoration: underline;
        }
    }

    &:hover {
        &:after {
            width: 100%;
            left: 0;
            margin: 0 auto;
        }
    }
}

/*  // Texts \\  */

.main-title {
    font-size: 35px;
    color: #848484;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 10px;
    text-align: center;
    margin: 0;
    margin-bottom: 60px;
    text-transform: uppercase;
    transition: all .5s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &.white {
        color: #fff;
    }

    @include sm {
        font-size: 25px;
        line-height: 35px;
    }

    &:after {
        background-color: $m-01;
        width: 80px;
        content: '';
        height: 2px;
        border-radius: 20px;
        position: absolute;
        transition: all .5s ease;
        bottom: -20px;
        @include sm {
            width: 50px;
        }
    }

    &:hover {
        &:after {
            width: 100px;
            @include sm {
                width: 50px;
            }
        }
    }
}

.main-text {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;

    @include sm {
        padding: 0 10px;
    }

    &.left {
        text-align: left;
    }
}

/*  // Back to Top \\  */

#scrollme {
    margin: 0 auto;
    height: 50px;
    cursor: pointer;
    width: 120px;

    .backtop {
        position: relative;
        color: $m-01;
        p {
            font-size: 12px;
            font-family: 'Source Code Pro', monospace;
            font-weight: 400;
            letter-spacing: 2px;
            margin-bottom: 50px;
            opacity: 0;
            transition: all 0.6s ease;
            padding-top: 10px;
            color: $m-01;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
        }
        span {
            width: 20px;
            height: 2px;
            position: absolute;
            top: 20px;
            left: calc(50% - 10px);
            border-radius: 20px;
            transition: all 0.4s ease-in-out;
            background-color: $m-01;
        }
        span:nth-child(1) {
            transform: rotate(45deg);
            margin-left: 6px;
        }

        span:nth-child(2) {
            transform: rotate(-45deg);
            margin-left: -7px;
        }
    }

    &:hover {
        .backtop {
            p {
                opacity: 1;
                padding-top: 0px;
                font-size: 11px;
                @include sm {
                    display: none;
                }
            }

            span {
                top: 22px;
                width: 20px;
                @include sm {
                    top: 20px;
                }
            }
            span:nth-child(1) {
                left: calc(50% - 5px);
                transform: rotate(180deg);
                @include sm {
                    left: calc(50% - 10px);
                    transform: rotate(45deg);
                    width: 20px;
                    margin-left: 6px;
                }
            }
            span:nth-child(2) {
                right: calc(50% - 5px);
                transform: rotate(-180deg);
                @include sm {
                    right: calc(50% - 10px);
                    transform: rotate(-45deg);
                    width: 20px;
                    margin-left: -7px;

                }
            }
        }
    }
}


/* ---------------------------*/

/* --------- MODULES -------- */

/* ---------------------------*/

.header {
    width: 100%;
    margin: 0 auto;
    padding: 250 0 250;
    text-align: center;
    transition: all .6s ease-in-out;
    position: relative;
    background-color: #ccc;
    position: relative;

    @include sm {
        width: 100%;
        max-width: 100%;
        padding: 150 0 150 0;
        background-size: 250px, cover;
        background-position: center 50px;
    }

    /*  // Filter Blue \\  */
    &:before {
        background-color: $m-01;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 0;
        top: 0;
    }
    /*  // Header Images \\  */
    span {
        position: absolute;
        top: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 25%;
        content: '';
        height: 100%;
        opacity: 0.5;
        transition: all .6s ease-in-out;
        z-index: 1;
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);

        &:after {
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
            content: '';
            left: 0;
            top: 0;
            background-color: rgba(52, 52, 52, 0.85);
            text-align: center;
        }

        &:hover {
            width: 40%;
            z-index: 2;
            opacity: 1;
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            @include sm {
                width: 25%;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                opacity: 0.5;
            }

            &:after {
                background-color: rgba(52, 52, 52, 0.5);
                @include sm {

                    background-color: rgba(52, 52, 52, 0.85);

                }

            }
        }

        &:nth-child(1) {
            left: 0;
        }

        &:nth-child(2) {
            left: 25%;
        }

        &:nth-child(3) {
            right: 25%;
        }

        &:nth-child(4) {
            right: 0%;
        }
    }



    /* /---------------------/ */
    /*  // Header Text \\  */
    .header-content {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        z-index: 2;
        position: relative;
        top: 0;
        text-align: center;
        -webkit-transition: all .6s ease-in-out;
        transition: all .6s ease-in-out;
        h1 {
            font-size: 50px;
            color: white;
            font-weight: 100;
            width: 100%;
            position: relative;
            letter-spacing: 2px;
            margin: 0 auto;
            -webkit-transition: all .6s ease-in-out;
            transition: all .6s ease-in-out;
            @include sm {

                font-size: 35px;

            }
        }
        p {
            color: white;
            font-family: 'Source Code Pro', monospace;
            font-weight: 400;
            position: relative;
            letter-spacing: 8;
            font-size: 14px;
            text-align: center;
            position: relative;
            z-index: 2;
            display: flex;
            justify-content: center;
            &:before {
                content: '';
                width: 160px;
                height: 6px;
                position: absolute;
                background-color: $m-01;
                z-index: -1;
                transform: translateX(-4px);
                top: 11px;
            }

        }
    }

    &:hover {
        .header-content {
            opacity: 0.2;
            @include sm {
                opacity: 1;
            }
        }
    }
}

.main-nav {
    /*  // Icon Menu \\  */
    #iconmenu {
        float: left;
        padding: 0;
        width: 40px;
        height: 40px;
        margin: 25px;
        position: fixed;
        z-index: 4;
        border-radius: 50px;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        cursor: pointer;
        @include sm {
            margin: 10px;
        }

        &.iconopen,
        &.iconclose {
            position: relative;
            span {
                display: flex;
                width: 20px;
                height: 2px;
                position: absolute;
                left: calc(50% - 10px);
                top: 50%;
                border-radius: 20px;
                transition: all .4s ease;
                background-color: $m-01;
            }
        }

        /*  // Icon Open \\  */
        &.iconopen {
            background-color: #f9f9f9;
            background-size: 25px 25px;
            background-repeat: no-repeat;
            background-position: center;

            z-index: 4;

            span {
                &:nth-child(1) {
                    top: calc(35% - 1px);
                }

                &:nth-child(2) {
                    top: calc(50% - 1px);
                }

                &:nth-child(3) {
                    top: calc(65% - 1px);
                }
            }
        }

        /*  // Icon Open \\  */
        &.iconclose {
            background-color: white;
            transition: all .4s ease;
            transform: rotate(0deg);
            z-index: 5;

            span {
                background-color: #ccc;

                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: calc(50% - 1px);
                }

                &:nth-child(2) {
                    transform: rotate(0deg);
                    top: calc(50% - 1px);
                    width: 0px;
                    left: 50%;
                    opacity: 0;
                    transition: all .3s ease;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
            }
        }

        &:hover {

            &.iconopen {
                @include sm {
                    background-color: #f9f9f9;
                }
                span {
                    opacity: 1;
                    transition: all .3s ease;

                    &:nth-child(1) {
                        top: calc(50% - 1px);
                        @include sm {
                            top: calc(35% - 1px);
                        }
                    }

                    &:nth-child(2) {
                        transform: rotate(90deg);
                        @include sm {
                            transform: rotate(0deg);
                        }
                    }

                    &:nth-child(3) {
                        top: calc(50% - 1px);
                        @include sm {
                            top: calc(65% - 1px);
                        }
                    }

                    @include sm {
                        background-color: $m-01;
                    }
                }
            }

            &.iconclose {
                background-color: white;
                span {
                    opacity: 1;
                    background-color: #848484;

                    @include sm {
                        background-color: #ccc;
                    }
                }
            }
        }
    }

    #nav {
        background-color: white;
        padding: 20 0;
        margin: 0;
        width: 100%;
        height: 50px;
        position: fixed;
        top: -100px;
        z-index: 3;
        transition: all .6s ease;
        box-shadow: 0px -10px 20px black;

        @include sm {
            padding: 10 0;
            height: 40px;
        }

        &.navshow {
            top: 0;
            z-index: 3;
        }

        /*  // Menu List \\  */
        .menu {
            margin: 0;
            text-align: center;
            padding: 0;
            li {
                color: #848484;
                display: inline-block;
                list-style: none;
                width: 10%;
                margin: 0 10;
                padding: 15px 0;
                letter-spacing: 4px;
                transition: all 0.4s ease;
                position: relative;
                font-family: 'Source Code Pro', monospace;
                font-weight: 400;
                font-size: 14px;

                @include sm {
                    font-size: 13px;
                    margin: 0 5;
                    width: 20%;
                    padding: 8px 0;
                    letter-spacing: 2px;
                }

                &:after {
                    content: '';
                    width: 0%;
                    height: 2px;
                    border-radius: 20px;
                    background-color: $m-01;
                    position: absolute;
                    margin: 0 auto;
                    bottom: 0;
                    left: 50%;
                    transition: all 0.4s ease;


                }

                &:hover {
                    color: $m-01;

                    @include sm {
                        letter-spacing: 2px;
                        color: #848484;
                    }

                    &:after {
                        width: 30px;
                        left: calc(50% - 15px);
                        @include sm {
                            width: 0px;
                        }
                    }
                }

                &.current {
                    color: $m-01;
                    text-align: center;
                    &:after {
                        width: 30px;
                        left: calc(50% - 15px);
                        background-color: $m-01;
                        @include sm {
                            width: 20px;
                            left: calc(50% - 10px)
                        }

                    }
                }
            }
        }
    }

}

.works-container {

    .image-container {
        display: grid;
        grid-template-columns: 50% 50%;

        @include sm {
            grid-template-columns: 100%;
        }
        /*  // IE CODE \\  */
        @media all and (-ms-high-contrast: none),
        (-ms-high-contrast: active) {
            display: flex;
            flex-direction: column;
        }

    }

    .image {
        position: relative;
        width: calc(100% - 20px);
        padding-bottom: calc(100% - 20px);
        margin-bottom: 10px;
        margin-top: 10px;
        background-size: cover;
        background-position: 50%;
        transition: all .5s ease;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &.big {
            padding-bottom: 50%;

            @include sm {
                width: 100%;
                padding-bottom: 100%;
            }
        }

        @include sm {
            width: 100%;
            padding-bottom: 100%;
        }

        /* filtro cinza */
        &:before {
            content: '';
            opacity: 0.1;
            background-color: #000;
            cursor: pointer;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .4s ease-in-out;
        }

        /* filtro azul */
        &:after {
            position: absolute;
            content: '';
            opacity: 0;
            background-color: $m-01;
            transition: all .4s ease-in-out;
            cursor: pointer;
            width: 90%;
            height: 90%;
            z-index: 1;
            top: 5%;
        }

        .overlay-title {
            width: 100%;
            padding: 0 40px;
            box-sizing: border-box;
            font-size: 18px;
            line-height: 20px;
            position: absolute;
            font-weight: 500;
            top: 42%;
            opacity: 0;
            z-index: 2;
            text-align: center;
            cursor: pointer;
            transition: all .5s ease;
            color: white;

            @include sm {
                display: none;
            }
        }

        .overlay-text {
            width: 100%;
            padding: 0 40px;
            box-sizing: border-box;
            font-size: 14px;
            line-height: 20px;
            position: absolute;
            top: 60%;
            opacity: 0;
            z-index: 2;
            text-align: center;
            font-family: 'Source Code Pro', monospace;
            font-weight: 300;
            transition: all .9s ease;
            margin-top: 10px;
            color: white;

            @include sm {
                display: none;
            }

            span {
                opacity: 0.4;
            }
        }

        &:hover {
            /* filtro cinza */
            &:before {
                opacity: 0.5;
                @include sm {
                    opacity: 0.1;
                }
            }
            /* filtro azul */
            &:after {
                opacity: 0.9;
                width: 100%;
                height: 100%;
                top: 0;
                @include sm {
                    display: none;
                }
            }

            .overlay-title {
                opacity: 1;
                top: 48%;
            }

            .overlay-text {
                opacity: 0.7;
                top: 55%;
            }
        }


    }
}

.info-icons {
    .row-icons {
        display: grid;
        grid-template-columns: 16% 16% 16% 16% 16% 16%;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;

        @include md {
            grid-template-columns: 33% 33% 33%;

        }
        @include sm {
            grid-template-columns: 50% 50%;
        }

        .icon-section {
            width: 120px;
            text-align: center;
            margin: 0 auto;
            position: relative;
            z-index: 1;

            &:before {
                background-color: white;
                position: absolute;
                content: '';
                border-radius: 1px;
                z-index: 1;
                width: auto;
                height: auto;
                @include sm {
                    background-color: $m-01;
                }
            }

            &:after {
                background-color: $m-01;
                position: absolute;
                content: '';
                transition: all 0.4s ease-in-out;
                border-radius: 1px;
                z-index: 2;
            }

            /*  // Content Icons \\  */
            p {
                font-size: 12px;
                line-height: 20px;
                margin: 15 0 0 0;
                letter-spacing: 0px;
                font-family: 'Source Code Pro', monospace;
                font-weight: 400;
            }


            &:hover {
                p {
                    color: $m-01;
                }
            }


            @media (max-width: 800px) {
                .icon-section p,
                .icon-section:hover p {
                    font-size: 11px;
                    line-height: 18px;
                    margin: 10 0 0 0;
                    color: #848484;
                }
            }
        }

        /* icon 1 */
        .icon-section:nth-child(1) {
            &:before {
                width: 13px;
                height: 12px;
                top: 70px;
                left: 37px;
            }

            &:after {
                width: 0px;
                height: 12px;
                top: 70px;
                left: 37px;
            }

            &:hover {
                &:after {
                    width: 13px;
                }
            }

        }

        /* icon 2 */
        .icon-section:nth-child(2) {
            &:before {
                width: 52px;
                height: 9px;
                top: 87px;
                left: 25px;
            }
            &:after {
                width: 0px;
                height: 9px;
                top: 87px;
                left: 25px;
            }
            &:hover {
                &:after {
                    width: 52px;
                }
            }
        }

        /* icon 3 */
        .icon-section:nth-child(3) {
            &:before {
                width: 17px;
                height: 27px;
                top: 58px;
                left: 66px;
            }

            &:after {
                width: 17px;
                height: 0px;
                top: 58px;
                left: 66px;
            }

            &:hover {
                &:after {
                    height: 27px;
                }
            }
        }

        /* icon 4 */
        .icon-section:nth-child(4) {
            &:before {
                width: 17px;
                height: 17px;
                top: 71px;
                left: 49px;
                z-index: -2;
            }

            &:after {
                width: 17px;
                height: 0px;
                top: 71px;
                left: 49px;
                z-index: -1;
            }

            &:hover {
                &:after {
                    height: 17px;
                }
            }
        }

        /* icon 5 */
        .icon-section:nth-child(5) {
            &:before {
                width: 21px;
                height: 19px;
                top: 88px;
                left: 22px;
            }

            &:after {
                width: 0px;
                height: 19px;
                top: 88px;
                left: 22px;
            }


            &:hover {
                &:after {
                    width: 21px;
                }
            }
        }

        /* icon 6 */
        .icon-section:nth-child(6) {
            &:before {
                width: 12px;
                height: 12px;
                top: 81px;
                left: 62px;
                border-radius: 50px;
            }

            &:after {
                width: 0px;
                height: 0px;
                top: 87px;
                left: 68px;
                border-radius: 50px;
            }

            &:hover {
                &:after {
                    width: 12px;
                    height: 12px;
                    top: 81px;
                    left: 62px;
                }
            }
        }

    }
}

.contacts {
    display: flex;
    justify-content: space-around;
    text-align: center;
    transition: all 0.8s ease;
    -webkit-transition: all .8s ease;

    /* social item*/
    .social {
        background-color: #4a4a4a;
        padding: 100 0;
        z-index: 2;
        Width: 100%;
        position: relative;
        transition: all 0.6s ease;
        -webkit-transition: all .3s ease;
        display: flex;
        align-items: center;
        justify-content: center;


        /*  // Social Texts \\  */
        .social-title {
            color: #ccc;
            letter-spacing: 10px;
            font-size: 14px;
            position: absolute;
            letter-spacing: 4px;
            width: 100%;
            transition: all 0.9s ease;
            top: 35%;
            opacity: 0;
            font-family: 'Source Code Pro', monospace;
            font-weight: 400;

            @include sm {
                top: 70%;
                opacity: 1;
                letter-spacing: 2;
                font-size: 11px;
                color: #999;
            }
        }

        .social-link {
            font-family: 'Source Code Pro', monospace;
            font-weight: 400;
            font-size: 12px;
            opacity: 0;
            color: white;
            transition: all 0.7s ease;
            position: absolute;
            width: 100%;
            top: 60%;

            @include sm {
                display: none;
            }
        }
        /*  // Icon Social \\  */
        span {
            width: 60px;
            height: 60px;
            content: '';
            position: absolute;
            opacity: 1;
            transition: all 0.4s ease;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @include sm {
                width: 40px;
                height: 40px;
                left: calc(50% - 20px);
                top: 20%
            }
        }

        /*  // Background Icons \\  */
        &:nth-child(1) {
            span {
                background-image: url("../images/icons/icons_mail.svg");
            }
        }
        &:nth-child(2) {
            background-color: #525252;
            span {
                background-image: url("../images/icons/icons_behance.svg");
            }
        }
        &:nth-child(3) {
            span {
                background-image: url("../images/icons/icons_linkedin.svg");
            }
        }

        &:before {
            content: '';
            position: absolute;
            background-color: #313131;
            width: 0%;
            height: 100%;
            z-index: -1;
            top: 0;
            transition: all 0.7s ease;
            color: #ccc;
        }
        &:after {
            content: '';
            width: 0%;
            height: 2px;
            border-radius: 20px;
            background-color: $m-01;
            position: absolute;
            bottom: 0;
            transition: all 0.9s ease;
        }

        @include sm {
            padding: 50 0;
        }

        &:hover {
            color: $m-01;
            letter-spacing: 6px;
            text-align: center;
            &:before {
                width: 100%;
                @include sm {
                    width: 0;
                }
            }
            &:after {
                width: 100%;
                @include sm {
                    width: 0;
                }
            }
            .social-title {
                opacity: 1;
                top: 40%;
                letter-spacing: 6px;
                @include sm {
                    top: 70%;
                    opacity: 1;
                    letter-spacing: 2;
                    font-size: 11px;
                    color: #999;
                }
            }

            .social-link {
                opacity: 0.2;
                letter-spacing: 1;
                top: 55%;
                @include sm {
                    display: none;
                }
            }

            span {
                width: 50%;
                height: 50%;
                opacity: 0.03;
                @include sm {
                    width: 40px;
                    height: 40px;
                    left: calc(50% - 20px);
                    top: 20%;
                    opacity: 1;

                }
            }
        }
    }
}

.page-header {
    height: 200px;
    background-color: #f0f0f0;
    text-align: center;
    @include sm {
        height: 150px;
    }

    &.works {
        height: 90px;
    }

    .page-title {
        font-size: 80px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        text-transform: uppercase;
        margin-top: 120px;
        position: absolute;
        text-align: center;
        width: 100%;
        color: white;
        z-index: 1;

        @include sm {
            font-size: 50px;
            margin-top: 100px;
        }
    }
}


/* --------------------------*/

/* --------- about --------- */

/* --------------------------*/

.bio-content {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 40% 50%;
    margin: 0 auto;

    @include sm {
        grid-template-columns: 100%;
    }

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        display: flex;
        justify-content: space-around;
        @include sm {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
    }

    .bio {
        font-size: 15px;
        position: relative;
        z-index: 2;
        text-align: left;
        margin-left: 60px;

        @include sm {
            margin-left: 0px;
            font-size: 13px;
        }

        h2 {
            font-size: 35px;
            color: #848484;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
            letter-spacing: 10px;
            z-index: 2;
            text-transform: uppercase;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
            max-width: 500px;
            text-align: left;
            margin: 20px 0px 50px -100px;

            @include sm {
                margin: 0px 0px 40px 0px;
                font-size: 25px;
                line-height: 35px;
            }

            &:after {
                background-color: $m-01;
                width: 80px;
                content: '';
                height: 2px;
                border-radius: 20px;
                display: block;
                margin-top: 20px;
                transition: all .5s ease;
                left: 0;

                @include sm {
                    width: 50px;
                }
            }
        }
    }

    .image-about {
        width: 100%;
        height: 500px;
        z-index: 2;
        transition: all .6s ease-in-out;
        opacity: 0.2;
        background-image: url("../images/bio2.png");
        background-size: cover;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);

        @include sm {
            height: 250px;
            margin-bottom: 40px;
        }
    }
}

.tab-navigation {

    .tab {
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
        margin-bottom: 50px;
        transition: all .6s ease-in-out;

        span {
            font-weight: 300;
            letter-spacing: 6px;
            text-transform: uppercase;
            font-size: 20px;
            padding: 14px 0px;
            color: #fff;
            transition: all .6s ease-in-out;
            width: 200px;
            position: relative;
            cursor: pointer;
            opacity: 0.5;
            display: flex;
            justify-content: center;

            @include sm {
                font-size: 15px;
                letter-spacing: 4px;
                width: 130px;
            }

            &:after {
                content: '';
                width: 0%;
                height: 2px;
                border-radius: 20px;
                background-color: #fff;
                position: absolute;
                bottom: 0;
                transition: all 0.6s ease;
            }

            &.active {
                opacity: 1;

                &:after {
                    width: 40px;
                }
            }
        }

        &:hover {
            span {
                opacity: 1;
                &:after {
                    width: 40px;
                }
            }
        }

    }


    .tabcontent {
        margin: 0 auto;
        display: none;
        padding: 6px 12px;
        top: 10;
        transition: all 0.5s ease;
    }

    .skills-section {
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        transition: all .3s ease-in-out;

        @include sm {
            flex-direction: column;
        }

        p {
            font-size: 14px;
            text-align: center;
            color: #fff;
            margin: 10px;
            transition: all 0.5s ease;
            font-family: 'Source Code Pro', monospace;
            font-weight: 300;
            letter-spacing: 0;
        }
    }

    #Skills {
        display: block;
    }
}

.timeline-section {
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: calc(50% - 30px) calc(50% - 30px);
    max-width: 700px;
    margin-top: 0px;
    margin-bottom: 90px;
    column-gap: 60px;

    &:last-child {
        margin-bottom: 0;
    }

    @include sm {
        grid-template-columns: 100%;
        padding: 0;
        margin: 0 5%;
        margin-bottom: 60px;
    }

    /*  // IE CODE \\  */
    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        display: flex;
        justify-content: space-around;
    }

    .timeline {
        margin-bottom: 50px;
        text-align: left;
        padding: 0;
        position: relative;

        @include sm {
            &:last-child {
                margin-bottom: 0px;
            }
        }

        &:after {
            background-color: #f6f6f6;
            position: absolute;
            height: calc(100% - 25px);
            width: 90%;
            content: '';
            right: 0;
            bottom: 0;
            z-index: -1;
            display: block;
        }

        label {
            color: $m-01;
            font-size: 14px;
            text-align: left;
            font-family: 'Source Code Pro', monospace;
            font-weight: 400;
            position: relative;
            display: block;
            z-index: 2;
            padding: 0 0 15 0;

            @include sm {
                padding: 0 0 10 0;
                font-size: 14px;
            }

        }

        p {
            font-size: 14px;
            padding: 0 15 15 0;
            text-align: left;

            strong {
                letter-spacing: 1px;
                font-weight: 600;
                position: relative; //color: white;
                z-index: 1;
            }
            em {
                color: #ccc;
                text-decoration: none;
            }
        }
    }
}


/* --------------------------*/

/* ------- WORKS PAGE ------ */

/* --------------------------*/

.section-works {

    .second-title {
        font-size: 20px;
        color: #848484;
        font-family: 'Open Sans', sans-serif;
        font-weight: 100;
        letter-spacing: 5px;
        text-align: left;
        margin: 0;
        margin-bottom: 20px;
        z-index: 2;
        text-transform: uppercase;
        transition: all .5s ease;

        @include sm {
            font-size: 15px;
            line-height: 25px;
        }

        &:after {
            background-color: $m-01;
            width: 80px;
            content: '';
            height: 2px;
            border-radius: 20px;
            display: block;
            margin-top: 20px;
            transition: all .5s ease;

            @include sm {
                width: 50px;
            }
        }
    }

    .legenda {
        color: #666;
        font-size: 14px;
        margin-bottom: 50px;
        font-family: 'Source Code Pro', monospace;
        font-weight: 400;

        @include sm {
            margin-bottom: 30px;
        }

        b {
            color: #ccc;
            font-weight: 400;
        }
        span {
            color: $m-01;
        }
    }

    .description {
        margin-bottom: 50px;
        margin-left: 80px;
        font-size: 15px;
        max-width: 800px;
        @include sm {
            margin-left: 30px;
            margin-bottom: 20px;
            font-size: 13px;
        }
    }

}



/* --------------------------*/

/* ----- SLICK MY CODE ----- */

/* --------------------------*/

/*  // Section Slider \\  */

.section-slider {
    margin: 0 auto;
    padding: 0 0 80 0;
}


@media (max-width: 800px) {
    .section-slider {
        width: 100%;
        padding: 0 0 30 0;
    }
}


@media (max-width: 640px) {
    .section-slider {
        width: 100%;
        padding: 0 0 10 0;
    }
}


/*  // On Going Works \\  */

.slider-slick {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}


@media (max-width: 800px) {
    .slider-slick {
        width: calc(100% - 40px);
        left: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

/*  // Main Image Slider \\  */

.image-main {
    margin: 0 auto;
    width: calc(100% - 20px) !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


@media (max-width: 800px) {
    .image-main {
        width: 100% !important;
    }
}


@media (max-width: 640px) {
    .image-main {
        width: calc(100% - 10px) !important;
    }
}


.slider-slick,
.image-main {
    max-height: 400px;
    padding-bottom: 60%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


@media (max-width: 800px) {
    .slider-slick,
    .image-main {
        max-height: 300px;
    }
}


@media (max-width: 640px) {
    .slider-slick,
    .image-main {
        max-height: 250px;
    }
}

@media (max-width: 400px) {
    .slider-slick,
    .image-main {
        padding-bottom: 70%;
        max-height: 220px;
    }
}


.image-main-vertical {
    width: calc(100% - 20px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.slider-slick-vertical,
.image-main-vertical {
    height: 900px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}


@media (max-width: 800px) {
    .slider-slick-vertical,
    .image-main-vertical {
        height: 700px;
    }
}


@media (max-width: 640px) {
    .slider-slick-vertical,
    .image-main-vertical {
        height: 540px;
    }
}


@media (max-width: 400px) {
    .slider-slick-vertical,
    .image-main-vertical {
        height: 500px;
    }
}


.video-main {
    height: 700px;
    margin: 0 auto;
    width: calc(100% - 20px);
    margin-left: 10px;
}


@media (max-width: 1919px) {
    .video-main {
        margin: 0 auto;
        height: 600px;
        margin-left: 10px;
    }
}


@media (max-width: 1023px) {
    .video-main {
        margin: 0 auto;
        height: 500px;
        margin-left: 10px;
    }
}


@media (max-width: 800px) {
    .video-main {
        margin: 0 auto;
        width: calc(100% - 60px);
        height: 400px;
        padding-bottom: 40px;
    }
}


@media (max-width: 640px) {
    .video-main {
        width: calc(100% - 50px);
        height: 350px;
        margin: 0 auto;
    }
}


@media (max-width: 400px) {
    .video-main {
        width: calc(100% - 50px);
        height: 200px;
        margin: 0 auto;
    }
}




/* --------------------------*/

/* ------- SLICK CODE ------ */

/* --------------------------*/

/*  // Arrows \\  */

.slick-prev,
.slick-next {}

.slick-prev:after,
.slick-next:after {
    display: none;
    opacity: 0;
}


@media (max-width: 1023px) {
    .slick-prev,
    .slick-next {
        display: none;
    }
}


/*  // Prev \\  */

.slick-prev,
.slick-next {
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    opacity: 1;
    -webkit-transition: all .5s ease;
    transition: all .5 ease;
    background-color: transparent;
    margin: 0px;
    padding: 0px\;
}


.slick-prev:before,
.slick-next:before {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0px;
    content: '';
    left: 0;
    background-size: cover;
    background-color: transparent;
}

.slick-prev:before {
    background-image: url(../images/icons/icon_left_c.png);

}

.slick-next:before {
    background-image: url(../images/icons/icon_right_c.png);

}

.slick-prev.slick-disabled:before,
.slick-prev.slick-disabled:hover:before,
.slick-next.slick-disabled:hover:before,
.slick-next.slick-disabled:before {
    opacity: 0.2;
    left: 0;
}





/*  // Hovers Prev \\  */

.slick-prev:hover:before {
    left: -10px;

}



/*  // Next \\  */

/*  // Hovers Next \\  */

.slick-next:hover:before {
    left: 10px;

}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 1;
    background-color: #eeeeee;

}



/*  // Counter Slider \\  */

.slide-count-wrap {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 00px;
}


.slide-count-wrap .current {
    color: $m-01;
    font-size: 20px;
}


.slide-count-wrap .total {
    color: #ccc;
    font-size: 12px;
}


.slide-count-wrap b {
    color: #ccc;
    font-weight: 100;
}


@media (max-width: 800px) {
    .slide-count-wrap {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 20px;
    }
}
