@import url("https://fonts.googleapis.com/css?family=Barlow:100,200,300,400,500,600,700,800,900&display=swap");
/*
$m-01: #C9C9D2;
$m-02: #A7A7B3;
$m-03: #7C7D81;
$m-04: #B78273;
$m-05: #D5A289;


$m-01: #316064;
$m-02: #4B908E;
$m-03: #73C0B0;
$m-04: #B8D7D5;
$m-05: #E5E5E9;

*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
ul:focus,
li:focus,
button:focus,
a:focus,
i:focus {
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  background: #f5f5f5;
}

nav .navigation {
  width: 100%;
  z-index: 4;
  position: fixed;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
  nav .navigation {
    padding: 0 5%;
  }
}

@media screen and (max-width: 799px) {
  nav .navigation {
    padding: 0 5%;
  }
}

nav .navigation:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-image: linear-gradient(45deg, #DCE1E4, #E6EAEC);
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

nav .navigation .content {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

@media screen and (max-width: 799px) {
  nav .navigation .content {
    height: 50px;
  }
}

nav .navigation .content .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 12px;
}

nav .navigation .content .back:before {
  position: absolute;
  width: 32px;
  height: 32px;
  content: '';
  background-color: transparent;
  -webkit-box-shadow: inset 0px 0px 0px 0px white;
          box-shadow: inset 0px 0px 0px 0px white;
  z-index: -1;
  border-radius: 50px;
  -webkit-transition: all 0.4s 0.25s ease, width 0.4s ease;
  transition: all 0.4s 0.25s ease, width 0.4s ease;
  left: -3px;
  opacity: 1;
}

@media screen and (max-width: 799px) {
  nav .navigation .content .back:before {
    display: none;
  }
}

nav .navigation .content .back img {
  width: 25px;
  margin-right: 12px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (max-width: 799px) {
  nav .navigation .content .back img {
    width: 24px;
  }
}

nav .navigation .content .back .text {
  color: #8a91a5;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

nav .navigation .content .back:hover:before {
  width: 100%;
  height: 32px;
  opacity: 1;
  -webkit-box-shadow: inset 0px 0px 0px 18px white;
          box-shadow: inset 0px 0px 0px 18px white;
  -webkit-transition: all 0.4s ease, width 0.4s 0.25s ease;
  transition: all 0.4s ease, width 0.4s 0.25s ease;
}

nav .navigation .content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navigation .content .social .icon-social {
  width: 40px;
  height: 40px;
  margin: 0 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 799px) {
  nav .navigation .content .social .icon-social {
    width: 24px;
    margin: 0 10px;
  }
}

nav .navigation .content .social .icon-social:last-child {
  margin-right: 0;
}

nav .navigation .content .social .icon-social:before {
  position: absolute;
  width: 0%;
  height: 0%;
  content: '';
  z-index: -1;
  border-radius: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (max-width: 799px) {
  nav .navigation .content .social .icon-social:before {
    display: none;
  }
}

nav .navigation .content .social .icon-social img {
  width: 30px;
}

nav .navigation .content .social .icon-social:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 799px) {
  nav .navigation .content .social .icon-social:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

nav .navigation .content .social .icon-social:hover:before {
  opacity: 1;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 0px 20px white;
          box-shadow: inset 0px 0px 0px 20px white;
}

nav .navigation.sticky:before {
  opacity: 0.8;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

nav .navigation.sticky-out:before {
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

header {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

header:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #DCE1E4, #E6EAEC);
  z-index: -1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;
  -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.08);
          box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.08);
}

header article {
  margin: 0 auto;
  text-align: center;
  z-index: -1;
  overflow: hidden;
  position: fixed;
}

@media screen and (max-width: 799px) {
  header article {
    margin-top: 20px;
  }
}

header article h1 {
  text-transform: uppercase;
  color: #8a91a5;
  letter-spacing: 0.5px;
}

header article p {
  margin-top: 20px;
  color: #b5bcc8;
}

.wrapper {
  background: #f5f5f5;
  padding-top: 60px;
  padding-bottom: 100px;
  z-index: 4;
}

@media screen and (max-width: 799px) {
  .wrapper {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}

#dailyui-items {
  max-width: 1440px;
  padding: 0 5%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  font-family: "Barlow", sans-serif;
}

@media screen and (max-width: 1023px) {
  #dailyui-items {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 799px) {
  #dailyui-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}

@media screen and (max-width: 639px) {
  #dailyui-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#dailyui-items a,
#dailyui-items .empty {
  background-color: white;
  padding: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 10px -8px rgba(138, 145, 165, 0.7);
          box-shadow: 0px 2px 10px -8px rgba(138, 145, 165, 0.7);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#dailyui-items a .item,
#dailyui-items .empty .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding-bottom: 60%;
  overflow: hidden;
  background-color: white;
  position: relative;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#dailyui-items a .item:before,
#dailyui-items .empty .item:before {
  position: absolute;
  content: '';
  width: calc(100% - 20px);
  height: 0%;
  bottom: 10px;
  background: linear-gradient(45deg, #8a91a5, #F8F7F3);
  opacity: 0;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  overflow: hidden;
}

@media screen and (max-width: 799px) {
  #dailyui-items a .item:before,
  #dailyui-items .empty .item:before {
    height: 32px;
    opacity: 0.8;
  }
}

#dailyui-items a .item .image,
#dailyui-items .empty .item .image {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

#dailyui-items a .item .image img,
#dailyui-items .empty .item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.6s ease, -webkit-transform 1s ease;
  transition: all 0.6s ease, -webkit-transform 1s ease;
  transition: all 0.6s ease, transform 1s ease;
  transition: all 0.6s ease, transform 1s ease, -webkit-transform 1s ease;
}

#dailyui-items a .item .image:before,
#dailyui-items .empty .item .image:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0.05;
}

#dailyui-items a .item article,
#dailyui-items .empty .item article {
  position: absolute;
  z-index: 2;
  bottom: 30px;
  left: 10px;
  padding-left: 20px;
  opacity: 0;
  overflow: hidden;
}

#dailyui-items a .item article .name,
#dailyui-items .empty .item article .name {
  opacity: 0;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  color: white;
}

#dailyui-items a .item article .desc,
#dailyui-items .empty .item article .desc {
  opacity: 0;
  font-size: 16px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  letter-spacing: -5px;
  color: white;
}

@media screen and (max-width: 799px) {
  #dailyui-items a .item article,
  #dailyui-items .empty .item article {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: initial;
    bottom: 15px;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    left: 5px;
  }
  #dailyui-items a .item article .name,
  #dailyui-items .empty .item article .name {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    letter-spacing: 0px;
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  #dailyui-items a .item article .desc,
  #dailyui-items .empty .item article .desc {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    letter-spacing: 0.5px;
  }
}

#dailyui-items a:hover,
#dailyui-items .empty:hover {
  -webkit-box-shadow: 0px 10px 30px -10px rgba(138, 145, 165, 0.4);
          box-shadow: 0px 10px 30px -10px rgba(138, 145, 165, 0.4);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

@media screen and (max-width: 799px) {
  #dailyui-items a:hover,
  #dailyui-items .empty:hover {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#dailyui-items a:hover .item article,
#dailyui-items .empty:hover .item article {
  opacity: 1;
}

#dailyui-items a:hover .item article .name,
#dailyui-items .empty:hover .item article .name {
  opacity: 1;
  -webkit-transition: all 0.4s 0.2s cubic-bezier(0.25, 0.1, 0.24, 1.34);
  transition: all 0.4s 0.2s cubic-bezier(0.25, 0.1, 0.24, 1.34);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

#dailyui-items a:hover .item article .desc,
#dailyui-items .empty:hover .item article .desc {
  opacity: 1;
  -webkit-transition: all 0.4s 0.4s cubic-bezier(0.25, 0.1, 0.24, 1.34);
  transition: all 0.4s 0.4s cubic-bezier(0.25, 0.1, 0.24, 1.34);
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  letter-spacing: 0.5px;
}

#dailyui-items a:hover .item .image img,
#dailyui-items .empty:hover .item .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.6s ease, -webkit-transform 4s ease;
  transition: all 0.6s ease, -webkit-transform 4s ease;
  transition: all 0.6s ease, transform 4s ease;
  transition: all 0.6s ease, transform 4s ease, -webkit-transform 4s ease;
}

@media screen and (max-width: 799px) {
  #dailyui-items a:hover .item .image img,
  #dailyui-items .empty:hover .item .image img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#dailyui-items a:hover .item .image:before,
#dailyui-items .empty:hover .item .image:before {
  opacity: 0.05;
}

#dailyui-items a:hover .item:before,
#dailyui-items .empty:hover .item:before {
  height: 90px;
  opacity: 0.85;
}

@media screen and (max-width: 799px) {
  #dailyui-items a:hover .item:before,
  #dailyui-items .empty:hover .item:before {
    height: 32px;
  }
}
/*# sourceMappingURL=main.css.map */