@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

$font-01: "Barlow",
sans-serif;
$font-02: "Barlow Condensed",
sans-serif;


$neu-01: #454660;
$neu-02: #343549;
$neu-03: #292A3A;
$purple: #8866E9;
$green: #04b9ae;
$blue: #00a1e5;
$pink: #D251A6;
$orange: #FF906D;


$cubic: cubic-bezier(0.77, 0.14, 0.58, 1.49);
$cubic2: cubic-bezier(0.18, 0.89, 0.32, 1.15);

:root {
    --m-01: #8866E9;
    --m-02: #5E38CC;
    --m-03: #B1B2D6;
    --g-01: linear-gradient(95deg, var(--m-01), var(--m-02));
    --l: 18px;
    --m: 14px;
    --s: 14px;
}

[data-size="large"] {
    --l: 20px;
    --m: 16px;
    --s: 16px;
}


[data-size="small"] {
    --l: 16px;
    --m: 12px;
    --s: 10px;
}

[data-theme="green"] {
    --m-01: #04b9ae;
    --m-02: #027b77;
    --m-03: #a3cac7;
    --g-01: linear-gradient(95deg, var(--m-01), var(--m-02));
}

[data-theme="blue"] {
    --m-01: #00a1e5;
    --m-02: #006bbb;
    --m-03: #B6D7E4;
    --g-01: linear-gradient(95deg, var(--m-01), var(--m-02));
}

[data-theme="pink"] {
    --m-01: #D251A6;
    --m-02: #BB1B85;
    --m-03: #DAB7CE;
    --g-01: linear-gradient(95deg, var(--m-01), var(--m-02));
}

[data-theme="orange"] {
    --m-01: #ff7b52;
    --m-02: #E55426;
    --m-03: #e2c5bb;
    --g-01: linear-gradient(95deg, var(--m-01), var(--m-02));
}


@mixin lg {
    @media screen and (max-width: 1240px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 511px) {
        @content;
    }
}

@mixin xxs {
    @media screen and (max-width: 511px) {
        @content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i,
input,
body {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;

    &:focus {
        outline: 0;
    }
}


body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: $font-01;
    background: $neu-03;
    overflow-x: hidden;
}

.logo {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    backdrop-filter: blur(5px);

    img {

        width: 55%;
        height: 55%;
        transform: translateY(-1px);
        opacity: 0.8;
    }
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 40px;
    box-sizing: border-box;

    @include sm {
        padding: 0;
    }

    .container {
        max-width: 860px;
        width: 100%;
        min-height: 500px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 40px;
        transition: all 0.4s ease;


        @include sm {
            height: 100%;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .settings_modal {
            display: flex;
            background: $neu-02;
            height: 100%;
            width: 100%;
            border-radius: 6px;

            @include sm {
                border-radius: 0px;
            }

            // Left column with Links
            .left {
                background: $neu-01;
                width: 100%;
                max-width: 220px;
                transition: all 0.6s 0.2s ease;
                box-shadow: 10px 0px 34px rgba(0, 0, 0, 0.21);
                border-radius: 6px 0px 0px 6px;
                z-index: 2;

                @include sm {
                    max-width: 50px;
                    position: absolute;
                    border-radius: 0px;
                    height: 100%;

                    &:before {
                        content: '';
                        position: absolute;
                        background: $neu-03;
                        width: 0;
                        height: 100%;
                        left: 100%;
                        border-radius: 3px 0px 0px 3px;
                        transition: all 0.6s ease;
                        opacity: 0.8;
                    }
                }

                .icon {
                    width: 40px;
                    height: 40px;
                    display: none;
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    cursor: pointer;
                    display: none;
                    justify-content: center;
                    align-items: center;
                    z-index: 2;
                    transition: all 0.4s ease;


                    span {
                        position: absolute;
                        background-color: var(--m-03);
                        width: 24px;
                        height: 2px;
                        border-radius: 4px;
                        transition: all 0.4s ease;


                        &:nth-child(1) {
                            transform: translateY(-8px);
                        }

                        &:nth-child(3) {
                            transform: translateY(8px);
                        }
                    }

                    @include sm {
                        display: flex;
                    }
                }

                // Side Links Container
                .links_container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;

                    @include sm {

                        //display: none;
                    }

                    // The links 

                    .side_link {
                        width: calc(220px - 40px);
                        height: 40px;
                        display: flex;
                        align-items: center;
                        background-color: rgba($neu-03, 0.5);
                        font-family: $font-01;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: var(--m);
                        letter-spacing: 0.09em;
                        padding: 0 20px;
                        box-sizing: border-box;
                        color: var(--m-03);
                        position: relative;
                        margin: 10px 0;
                        border-radius: 3px;
                        cursor: pointer;
                        transition: all 0.4s 0s ease;


                        span {
                            z-index: 1;
                        }

                        &:before {
                            content: '';
                            position: absolute;
                            background: var(--g-01);
                            width: 3px;
                            height: 100%;
                            left: 0;
                            border-radius: 3px 0px 0px 3px;
                            transition: all 0.4s ease;
                        }

                        &:hover {
                            color: white;

                            &:before {
                                width: 100%;
                                border-radius: 3px;
                            }

                            @include sm {
                                color: var(--m-03);

                                &:before {
                                    width: 3px;
                                    border-radius: 3px 0px 0px 3px;
                                }
                            }
                        }

                        //The Active link
                        &.active {
                            color: white;
                            width: 210px;
                            left: 15px;
                            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.1);

                            &:before {
                                width: 100%;
                                border-radius: 3px;
                            }
                        }

                        @include sm {
                            transform: translateX(-100%);
                            opacity: 0;

                        }
                    }
                }

                //To Show the Left Container in mobile

                &.show {
                    display: flex;
                    max-width: 220px;
                    transition: all 0.8s $cubic;

                    &:before {
                        transition: all 0.6s ease;
                        width: calc(100vw - 220px);
                        // left: 220px;

                    }

                    .icon {
                        right: 10px;

                        span {
                            &:nth-child(1) {
                                width: 13px;
                                transform: translate(-8px, -4px) rotate(-45deg);
                            }

                            &:nth-child(3) {
                                width: 13px;
                                transform: translate(-8px, 4px) rotate(45deg);
                            }
                        }
                    }

                    .links_container {
                        display: flex;


                        .side_link {
                            transition: all 0.4s $cubic2;
                            transform: translateX(0%);
                            opacity: 1;


                            &:nth-child(1) {
                                transition-delay: 0.4s;
                            }

                            &:nth-child(2) {
                                transition-delay: 0.6s;
                            }

                            &:nth-child(3) {
                                transition-delay: 0.8s;
                            }

                            &:nth-child(4) {
                                transition-delay: 1s;
                            }
                        }

                    }
                }

            }

            // The Right Side

            .right {
                //background: red;
                width: 100%;
                height: 100%;
                padding: 50px 10%;
                box-sizing: border-box;

                @include sm {
                    padding: 50px 20px 50px 20%;
                }

                .general {
                    margin-bottom: 50px;

                    @include sm {
                        margin-bottom: 50px;
                    }

                    .toggle_options {
                        .option {
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            height: 30px;
                            position: relative;

                            @include sm {
                                margin-bottom: 20px;
                            }

                            &:last-child {
                                margin-bottom: 0px;
                            }

                            .toggle {
                                width: 40px;
                                height: 20px;
                                background: var(--m-03);
                                box-shadow: inset 0px 0px 0px 1px rgba(white, 0.3), 3px 5px 20px rgba(0, 0, 0, 0.2);
                                border-radius: 30px;
                                transition: all 0.2s ease;
                                position: absolute;
                                cursor: pointer;


                                &:before {
                                    position: absolute;
                                    content: '';
                                    width: 16px;
                                    height: 16px;
                                    background: white;
                                    border-radius: 100%;
                                    top: 2px;
                                    left: 2px;
                                    transition: all 0.4s cubic-bezier(0.99, 0.01, 0.29, 1.24);
                                    transform: translateX(0px);
                                    box-shadow: 1px 1px 7px rgba($neu-02, 0.4), inset 3px 2px 5px rgba($neu-01, 0.3), ;

                                }

                                &.off {
                                    background: var(--m-01);

                                    &:before {
                                        transform: translateX(20px);

                                    }
                                }


                            }

                            p {
                                padding-left: 60px
                            }
                        }
                    }
                }

                .appearance {
                    .appearance_options {

                        .option {
                            display: flex;
                            margin-bottom: 30px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            @include sm {
                                margin-bottom: 40px;
                            }

                            .text {
                                margin-right: 20px;
                                transition: all 0.3s ease;
                            }

                            .font_size {
                                display: flex;
                                align-items: center;


                                .letter {
                                    font-weight: 600;
                                    color: white;
                                    margin-right: 20px;
                                    cursor: pointer;
                                    padding: 5px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    &:last-child {
                                        margin-bottom: 0;
                                    }

                                    @include xs {
                                        margin-right: 10px;
                                    }


                                    &.size_s {
                                        font-size: 14px;
                                        width: 20px;
                                        height: 20px;
                                    }

                                    &.size_m {
                                        font-size: 18px;
                                        width: 25px;
                                        height: 25px;
                                    }

                                    &.size_l {
                                        font-size: 22px;
                                        width: 30px;
                                        height: 30px;
                                    }

                                    &.select {
                                        position: relative;


                                        span {
                                            z-index: 1;
                                        }


                                        &:before {
                                            content: '';
                                            position: absolute;
                                            background-color: $neu-01;
                                            width: 100%;
                                            height: 100%;
                                            border-radius: 100%;
                                            box-shadow: inset 0px 0px 0px 1px rgba(white, 0.2);
                                            transition: all 0.3s ease;
                                            animation: select 0.3s ease both;

                                            @keyframes select {
                                                0% {
                                                    width: 100%;
                                                    height: 100%;
                                                }

                                                50% {
                                                    width: calc(100% + 5px);
                                                    height: calc(100% + 5px);
                                                }

                                                100% {
                                                    width: 100%;
                                                    height: 100%;
                                                }
                                            }


                                        }


                                    }

                                }
                            }

                            .themes {
                                display: flex;
                                height: 24px;
                                align-items: center;

                                .color_circle {
                                    width: 24px;
                                    height: 24px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    margin-right: 20px;


                                    @include sm {
                                        margin-right: 20px;
                                    }

                                    .color {
                                        width: 20px;
                                        height: 20px;
                                        display: block;
                                        border-radius: 100%;
                                        transition: all 0.2s ease;
                                        box-shadow: inset 0px 0px 0px 1px rgba(white, 0.5), 3px 5px 20px rgba(0, 0, 0, 0.15);
                                        cursor: pointer;



                                        &:last-child {
                                            margin-right: 0;
                                        }

                                        &.c_purple {
                                            background: $purple;
                                        }

                                        &.c_green {
                                            background: $green;
                                        }

                                        &.c_blue {
                                            background: $blue;
                                        }

                                        &.c_pink {
                                            background: $pink;
                                        }

                                        &.c_orange {
                                            background: $orange;
                                        }

                                        &.active_color {
                                            width: 24px;
                                            height: 24px;
                                            box-shadow: inset 0px 0px 0px 2px white;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }

                .title {
                    color: white;
                    font-size: var(--l);
                    font-weight: 500;
                    letter-spacing: 0.04em;
                    text-transform: uppercase;
                    position: relative;
                    height: 40px;
                    margin-bottom: 30px;
                    transition: all 0.3s ease;

                    &:before {
                        content: '';
                        position: absolute;
                        background: var(--m-01);
                        width: 30px;
                        height: 2px;
                        left: 0;
                        bottom: 0;
                        border-radius: 3px 0px 0px 3px;
                        transition: all 0.4s ease;
                    }
                }

                p {
                    font-size: var(--m);
                    line-height: auto;
                    display: flex;
                    align-items: center;
                    letter-spacing: 0.04em;
                    color: var(--m-03);
                    transition: all 0.3s ease;
                }
            }
        }
    }
}