@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,600,700,800,900|Barlow+Semi+Condensed:100,200,300,400,500,600,700,800,900|Barlow:100,200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #F5F5F5;
  font-family: "Barlow", sans-serif;
  font-weight: normal;
  background-color: white;
}

.logo {
  position: fixed;
  z-index: 5;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.logo img {
  width: 55%;
  height: 55%;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  opacity: 0.8;
}

@media screen and (max-width: 799px) {
  .logo {
    display: none;
  }
}

.wrapper {
  width: 100%;
  height: 100vh;
  min-height: 400px;
  font-family: "Barlow", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0 5%;
}

@media screen and (max-width: 460px) {
  .wrapper {
    height: auto;
    min-height: 100vh;
    padding: 0 16px;
  }
}

.container {
  background-color: transparent;
  margin: 40px auto;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
}

@media screen and (max-width: 460px) {
  .container {
    margin: 20px auto;
  }
}

.container .cta {
  background-color: #435072;
  color: #E4E7F1;
  padding: 0px 24px;
  border-radius: 40px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  height: 40px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 20px rgba(67, 80, 114, 0.4);
          box-shadow: 0px 10px 20px rgba(67, 80, 114, 0.4);
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.container .cta:hover {
  -webkit-box-shadow: 0px 5px 10px rgba(67, 80, 114, 0.4);
          box-shadow: 0px 5px 10px rgba(67, 80, 114, 0.4);
}

.container .thanks {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #435072;
  position: absolute;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.receipt {
  max-width: 440px;
  width: 100%;
  padding: 40px;
  color: #435072;
  background-color: #F5F6FA;
  margin: 0px auto 0;
  text-align: initial;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: none;
  border-top: dashed 2px #E4E7F1;
  border-bottom: dashed 2px #E4E7F1;
}

@media screen and (max-width: 460px) {
  .receipt {
    padding: 16px;
    margin: 28px auto 0;
  }
}

.receipt__message {
  text-align: center;
  border-bottom: 2px solid #E4E7F1;
  padding: 8px 8px 32px 8px;
}

.receipt__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.receipt__text {
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 22px;
}

.receipt .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #E4E7F1;
  padding: 16px 8px;
}

.receipt .product__name {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}

.receipt .product__quantity {
  font-size: 14px;
  line-height: 22px;
}

.receipt .product__image {
  border: 1px solid #E4E7F1;
  width: 70px;
  height: 70px;
  background-color: white;
  margin-right: 16px;
  padding: 8px;
}

.receipt .product__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.receipt .price__pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px 0;
  padding: 0 8px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.receipt .price__pricing:last-of-type {
  margin-bottom: 0px;
}

.receipt .price__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 8px;
  margin-bottom: 32px;
  border-top: 2px solid #E4E7F1;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.receipt .price__totalNumber {
  font-weight: bold;
}

.receipt .info__infoTitle {
  padding: 0 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.receipt .info__addressContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

@media screen and (max-width: 460px) {
  .receipt .info__addressContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.receipt .info__address {
  background-color: #E4E7F1;
  margin-right: 16px;
  padding: 16px;
  font-size: 12px;
  line-height: 18px;
  width: 50%;
}

.receipt .info__address:last-of-type {
  margin-right: 0px;
}

@media screen and (max-width: 460px) {
  .receipt .info__address {
    margin-right: 0px;
    margin-bottom: 16px;
    width: 100%;
  }
  .receipt .info__address:last-of-type {
    margin-bottom: 0px;
  }
}

.receipt .info__addressTitle {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
}

.receipt .btn {
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 8px 16px;
  background-color: #E4E7F1;
  -webkit-box-shadow: inset 0px -2px 0px #435072;
          box-shadow: inset 0px -2px 0px #435072;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.receipt .btn:hover {
  -webkit-box-shadow: inset 0px -40px 0px #435072;
          box-shadow: inset 0px -40px 0px #435072;
  color: white;
}

.anime {
  position: relative;
  max-width: 480px;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 460px) {
  .anime {
    padding: 0 20px;
  }
}

.anime:before, .anime:after {
  position: absolute;
  content: '';
  width: 150px;
  height: 20px;
  -webkit-animation: bg 1.2s 0.2s ease forwards;
          animation: bg 1.2s 0.2s ease forwards;
  border-radius: 40px 40px 0px 0px;
  z-index: 1;
  -webkit-box-shadow: inset 0px 19px 0px #435072;
          box-shadow: inset 0px 19px 0px #435072;
  background-color: #435072;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.anime:after {
  margin-top: 20px;
  z-index: -1;
  border-radius: 0px 0px 40px 40px;
  -webkit-box-shadow: inset 0px -18px 0px #435072;
          box-shadow: inset 0px -18px 0px #435072;
}

@-webkit-keyframes bg {
  0% {
    background-color: #435072;
    width: 140px;
    top: 50%;
  }
  50% {
    background-color: #435072;
    width: 100%;
  }
  100% {
    background-color: #1d2231;
    width: 100%;
    top: 0px;
  }
}

@keyframes bg {
  0% {
    background-color: #435072;
    width: 140px;
    top: 50%;
  }
  50% {
    background-color: #435072;
    width: 100%;
  }
  100% {
    background-color: #1d2231;
    width: 100%;
    top: 0px;
  }
}

.anime .thanks {
  display: none;
}

.anime .receipt {
  -webkit-animation: receipt 3s 1.6s ease both;
          animation: receipt 3s 1.6s ease both;
  display: block;
}

@-webkit-keyframes receipt {
  0% {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  20% {
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
  }
  30% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  40% {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  60% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  70% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes receipt {
  0% {
    -webkit-transform: translateY(-110%);
            transform: translateY(-110%);
  }
  20% {
    -webkit-transform: translateY(-90%);
            transform: translateY(-90%);
  }
  30% {
    -webkit-transform: translateY(-80%);
            transform: translateY(-80%);
  }
  40% {
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  60% {
    -webkit-transform: translateY(-60%);
            transform: translateY(-60%);
  }
  70% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.anime .cta {
  display: none;
}
/*# sourceMappingURL=main.css.map */