@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

$font-01: "Barlow",
sans-serif;
$font-02: "Barlow Condensed",
sans-serif;

$m-01: #D45B7A;
$m-02: #FDA576;


$g-01: linear-gradient(140deg, $m-01, $m-02);

$neu-01: #EAEAEA;
$neu-02: #EDEEF4;
$neu-03: #6F7073;
$neu-04: #505050;
$neu-05: #403E3E;

$transition: all 0.4s cubic-bezier(0.7, 0.29, 0.68, 1.43);




@mixin lg {
    @media screen and (max-width: 1160px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 511px) {
        @content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i,
input,
figure,
img {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;

    &:focus {
        outline: 0;
    }
}

div {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: $font-01;
    background: white;
    //background-color: #CBCBCB;

}

.logo {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    backdrop-filter: blur(5px);

    img {

        width: 55%;
        height: 55%;
        transform: translateY(-1px);
        opacity: 0.8;
    }
}

.wrapper {


    .module-team {
        position: relative;

        &:before {
            width: 100%;
            height: 380px;
            background-color: $neu-01;
            content: '';
            position: absolute;
            z-index: -1;

            @include sm {
                height: 250px;
            }
        }

        .team {
            max-width: 1440px;
            margin: 0 auto;
            padding: 100px 5%;

            @include sm {
                padding: 50px 0%;
            }

            .title {
                text-align: center;
                margin-bottom: 80px;
                color: $neu-03;
                font-size: 44px;
                line-height: normal;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1.3px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                height: 100px;

                &:before {
                    content: '';
                    position: absolute;
                    width: 80px;
                    height: 10px;
                    background: $neu-03;
                    border-radius: 50px;
                    bottom: 0;
                    opacity: 0.2;

                    @include sm {
                        width: 60px;
                        height: 5px;
                    }
                }

                @include sm {
                    font-size: 32px;
                    height: 60px;
                    margin-bottom: 40px;

                }
            }

            .team-cards {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                .swiper-container {
                    max-width: 920px;
                    height: 380px;
                    padding: 0 20px;

                    @include lg {
                        max-width: 600px;
                    }

                    @include sm {
                        max-width: 280px;
                        padding: 0 20px;
                        overflow: visible;
                    }

                    /* Card */
                    .swiper-slide {
                        background-color: white;
                        width: 280px !important;
                        height: 320px;
                        border-radius: 4px;
                        box-shadow: inset 0px 0px 0px 1px $neu-02;
                        position: relative;
                        transition: all 0.4s ease;

                        &:before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            box-shadow: 0px 20px 40px -20px #EAEAEA;
                            top: 0px;
                            z-index: -1;
                            transition: all 0.4s ease;
                        }

                        .card {
                            width: 100%;
                            height: 100%;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            position: relative;

                            .bg {
                                position: absolute;
                                width: 100%;
                                height: 100px;
                                top: 0;
                                border-radius: 4px 4px 0px 0px;
                                transition: all 0.4s ease;
                                background: $g-01;
                                z-index: 1;
                            }

                            .more {
                                width: 16px;
                                height: 16px;
                                position: absolute;
                                z-index: 2;
                                right: 20px;
                                top: 20px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                cursor: pointer;
                                transform: rotate(0deg);
                                transition: all 0.4s ease;

                                &:before,
                                &:after {
                                    width: 100%;
                                    height: 2px;
                                    background-color: white;
                                    content: '';
                                    position: absolute;
                                    border-radius: 4px;
                                }

                                &:after {
                                    transform: rotate(90deg);
                                }
                            }

                            .photo {
                                width: 120px;
                                height: 120px;
                                border-radius: 100%;
                                overflow: hidden;
                                z-index: 1;
                                position: absolute;
                                top: 40px;
                                border: 3px solid #FFFFFF;
                                transition: all 0.4s ease;
                                box-shadow: 0px 4px 10px rgba($neu-03, 0.2);

                                &:before,
                                &:after {
                                    width: 100%;
                                    height: 100px;
                                    border-radius: 4px;
                                    content: '';
                                    position: absolute;
                                    transition: all 0.1s ease;
                                    opacity: 0;
                                    left: 0;
                                    top: 0;
                                }

                                &:before {
                                    background: $neu-05;
                                    z-index: 1;
                                }

                                &:after {
                                    background: $g-01;
                                    z-index: 2;
                                }

                                img {
                                    object-fit: cover;
                                    width: 100%;
                                    height: 100%;
                                }
                            }

                            .text {
                                z-index: 3;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                position: absolute;
                                transform: translateY(50px);
                                transition: all 0.4s ease;

                                .name {
                                    font-size: 20px;
                                    color: #6F7073;
                                }

                                .role {
                                    font-size: 14px;
                                    font-weight: bold;
                                    color: #CBCBCB;
                                    letter-spacing: 0.5px;
                                    margin-top: 5px;
                                }

                                .desc {
                                    color: white;
                                    display: none;

                                }
                            }



                            .social {
                                z-index: 1;
                                display: flex;
                                align-items: center;
                                background-color: rgba($neu-01, 0.5);
                                box-shadow: inset 0px 11px 13px -20px $neu-03;
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                height: 50px;
                                padding: 0 20px;
                                box-sizing: border-box;
                                border-radius: 0px 0px 4px 4px;
                                transition: all 0.4s ease;

                                .pointer {
                                    display: block;
                                    width: 10px;
                                    height: 10px;
                                    z-index: 2;
                                    bottom: 50px;
                                    position: absolute;
                                    transform: translateX(25px);
                                    transition: all 0.4s ease;
                                    opacity: 0;


                                    &:before {
                                        content: '';
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        background-color: white;
                                        transform: rotate(45deg);
                                    }

                                }

                                .icons {
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-around;

                                    .icon {
                                        width: 25%;
                                        height: 24px;
                                        opacity: 0.3;
                                        transition: all 0.4s ease;

                                        &:hover {
                                            opacity: 0.6;

                                        }

                                        img {
                                            width: 100%;
                                            height: 100%;
                                        }

                                    }
                                }

                                &:hover {
                                    .pointer {
                                        opacity: 1;
                                        bottom: 45px;
                                    }
                                }
                            }
                        }

                        &:hover {
                            // transform: translateY(-10px);

                            &:before {
                                // box-shadow: 0px 10px 10px -10px #EAEAEA;
                            }
                        }

                        &.show-more {
                            .card {
                                overflow: hidden;

                                .more {
                                    transform: rotate(45deg);
                                }

                                .social {
                                    transform: translateY(55px);

                                }

                                .text {
                                    color: white;
                                    transform: translateY(0px);

                                    .name,
                                    .role {
                                        color: white;
                                    }

                                    .desc {
                                        display: block;
                                    }
                                }

                                .photo {
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    border: 0;
                                    border-radius: 4px;
                                    box-shadow: 0;

                                    &:before {
                                        height: 100%;
                                        opacity: 0.5;
                                    }

                                    &:after {
                                        height: 100%;
                                        opacity: 0.8;
                                    }

                                    img {
                                        filter: grayscale(100%);
                                    }
                                }

                                .bg {
                                    width: 100%;
                                    height: 100%;
                                    //z-index: 2;
                                    border-radius: 4px;

                                    &:before {
                                        opacity: 0.5;
                                    }

                                    &:after {
                                        opacity: 0.8;
                                    }

                                }
                            }

                        }

                    }
                }


                .swiper-pagination {
                    bottom: 0;
                    display: none;

                    @include sm {
                        display: block;
                    }
                }

                .navigation {
                    width: 1098px;
                    height: 28px;
                    position: absolute;
                    margin: 0 auto;
                    padding: 0 5%;
                    box-sizing: border-box;
                    top: 86px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include lg {
                        width: 768px;
                    }

                    .swiper-button-prev,
                    .swiper-button-next {
                        width: 28px;
                        height: 28px;
                        background-position: center;
                        transition: all 0.4s ease;
                        top: 0;
                        margin-top: 0;

                        &:focus {
                            outline: none;
                        }

                        @include sm {
                            display: none;
                        }
                    }

                    .swiper-button-prev {
                        background-image: url("../assets/arrow-prev.svg");
                        background-position-x: 5px;

                        &:hover {
                            transform: translateX(-5px);
                        }
                    }

                    .swiper-button-next {
                        background-image: url("../assets/arrow-next.svg");
                        background-position-x: -5px;

                        &:hover {
                            transform: translateX(5px);
                        }
                    }

                }
            }
        }
    }
}