@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500,700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #F5F5F5;
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.logo {
  position: fixed;
  z-index: 5;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.logo img {
  width: 55%;
  height: 55%;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  opacity: 0.8;
}

@media screen and (max-width: 799px) {
  .logo {
    display: none;
  }
}

.wrapper {
  width: 100%;
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.messageBox {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.messageBox__button {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 15px rgba(201, 201, 201, 0.58);
          box-shadow: 0px 2px 15px rgba(201, 201, 201, 0.58);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  bottom: 0;
  cursor: pointer;
  -webkit-transition: all 0.4s 0.2s ease;
  transition: all 0.4s 0.2s ease;
}

.messageBox__button:before, .messageBox__button:after {
  position: absolute;
  content: '';
  width: 0px;
  height: 2px;
  background-color: #BDBDBD;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.messageBox__button:before {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.messageBox__button:after {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.messageBox__wrapper {
  border: 2px solid #23D2D2;
  width: 30px;
  height: 22px;
  border-radius: 4px;
  z-index: 2;
  bottom: 19px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.messageBox__wrapper:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #23D2D2;
  border-right: 2px solid #23D2D2;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
  bottom: -5px;
  right: 7px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.messageBox__dots {
  width: 48px;
  height: 48px;
  top: 6px;
  display: block;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  pointer-events: none;
  -webkit-transition: all 0.4s 0.2s ease;
  transition: all 0.4s 0.2s ease;
}

.messageBox__dots span {
  width: 2px;
  height: 2px;
  background-color: #23D2D2;
  display: block;
  border-radius: 50%;
  position: relative;
}

.messageBox__dots span:before, .messageBox__dots span:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: inherit;
}

.messageBox__dots span:before {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}

.messageBox__dots span:after {
  -webkit-transform: translateX(6px);
          transform: translateX(6px);
}

.messageBox__content {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
  padding: 16px;
  position: relative;
}

.messageBox__profile {
  width: 100%;
  height: 72px;
  border-radius: 8px;
  margin-top: 28px;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.messageBox__profilePic {
  width: 68px;
  height: 68px;
  position: relative;
  z-index: 2;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.messageBox__profilePic:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #23D2D2;
  top: -4px;
  left: 4px;
  z-index: 1;
  border-radius: 6px;
}

.messageBox__profilePic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
  position: absolute;
  border-radius: 4px;
}

.messageBox__profileName {
  margin: 10px 0px 0px 20px;
  font-size: 16px;
  line-height: 20px;
  color: #23D2D2;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.messageBox__chat {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 4px;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  padding: 16px;
  overflow-x: hidden;
  overflow-Y: scroll;
  pointer-events: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.messageBox__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.messageBox__message:nth-child(1) {
  margin-top: auto;
}

.messageBox__message.you {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.messageBox__message.you .messageBox__text {
  background-color: #23D2D2;
  color: white;
}

.messageBox__text {
  background-color: #F8f8f8;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  color: #23D2D2;
}

.messageBox__date {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #BDBDBD;
  font-size: 10px;
  line-height: 12px;
}

.messageBox__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: translatex(-10px);
          transform: translatex(-10px);
}

.messageBox__input input {
  pointer-events: initial;
  height: 48px;
  border-radius: 4px;
  background-color: white;
  padding: 12px 16px;
  color: #909090;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  resize: none;
  line-height: 24px;
  white-space: pre-line;
  width: calc(100% - 64px);
}

.messageBox__input input::-moz-selection {
  background-color: #23D2D2;
  color: white;
}

.messageBox__input input::selection {
  background-color: #23D2D2;
  color: white;
}

.messageBox__btnSend {
  background: #23D2D2;
  width: 48px;
  height: 48px;
  border-radius: 4px;
  margin-left: 14px;
  pointer-events: initial;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.2s cubic-bezier(0.67, 0.1, 0.26, 1.33);
  transition: all 0.2s cubic-bezier(0.67, 0.1, 0.26, 1.33);
}

.messageBox__btnSend span {
  display: block;
  background-image: url("../assets/send.svg");
  width: calc(48px + 24px);
  height: 48px;
  position: absolute;
  left: -65%;
  top: 0;
  z-index: 1;
  background-repeat: space;
  background-size: 32px;
  background-position: center;
  -webkit-transition: all 0.4s cubic-bezier(0.67, 0.1, 0.26, 1.33);
  transition: all 0.4s cubic-bezier(0.67, 0.1, 0.26, 1.33);
}

.messageBox__btnSend:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.messageBox__btnSend:hover span {
  left: 15%;
}

.openBox {
  width: 340px;
  height: 526px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.openBox .messageBox__button {
  right: 40px;
}

.openBox .messageBox__button:before, .openBox .messageBox__button:after {
  width: 28px;
}

.openBox .messageBox__button:before {
  -webkit-transition: all 0.2s ease, width 0.2s 0.3s ease, -webkit-transform 0.2s 0.3s ease;
  transition: all 0.2s ease, width 0.2s 0.3s ease, -webkit-transform 0.2s 0.3s ease;
  transition: all 0.2s ease, transform 0.2s 0.3s ease, width 0.2s 0.3s ease;
  transition: all 0.2s ease, transform 0.2s 0.3s ease, width 0.2s 0.3s ease, -webkit-transform 0.2s 0.3s ease;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.openBox .messageBox__button:after {
  -webkit-transition: all 0.2s ease, width 0.2s 0.4s ease, -webkit-transform 0.2s 0.4s ease;
  transition: all 0.2s ease, width 0.2s 0.4s ease, -webkit-transform 0.2s 0.4s ease;
  transition: all 0.2s ease, transform 0.2s 0.4s ease, width 0.2s 0.4s ease;
  transition: all 0.2s ease, transform 0.2s 0.4s ease, width 0.2s 0.4s ease, -webkit-transform 0.2s 0.4s ease;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.openBox .messageBox__button:hover:before, .openBox .messageBox__button:hover:after {
  background-color: #23D2D2;
}

.openBox .messageBox__wrapper {
  width: 100%;
  height: 430px;
  bottom: 100px;
  right: 0;
  border-radius: 10px;
  pointer-events: initial;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.openBox .messageBox__wrapper:before {
  width: 30px;
  height: 30px;
  bottom: -17px;
  right: 52px;
  background-color: #F5F5F5;
}

.openBox .messageBox__dots {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
  right: 0px;
  z-index: 3;
  cursor: pointer;
  pointer-events: initial;
  -webkit-transition: all 0.4s cubic-bezier(0.67, 0.1, 0.26, 1.33);
  transition: all 0.4s cubic-bezier(0.67, 0.1, 0.26, 1.33);
}

.openBox .messageBox__dots span {
  width: 4px;
  height: 4px;
}

.openBox .messageBox__dots span:before {
  -webkit-transform: translateX(-8px);
          transform: translateX(-8px);
}

.openBox .messageBox__dots span:after {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.openBox .messageBox__dots:hover {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  right: 8px;
}

.openBox .messageBox__content {
  visibility: visible;
}

.openBox .messageBox__profilePic {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.4s 0.4s ease;
  transition: all 0.4s 0.4s ease;
}

.openBox .messageBox__profileName {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 0.4s 0.4s ease;
  transition: all 0.4s 0.4s ease;
}

.openBox .messageBox__message {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.openBox .messageBox__message:nth-child(1) {
  -webkit-transition: all 0.4s 0.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 0.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(2) {
  -webkit-transition: all 0.4s 0.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 0.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(3) {
  -webkit-transition: all 0.4s 1s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 1s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(4) {
  -webkit-transition: all 0.4s 1.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 1.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(5) {
  -webkit-transition: all 0.4s 1.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 1.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(6) {
  -webkit-transition: all 0.4s 1.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 1.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(7) {
  -webkit-transition: all 0.4s 1.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 1.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(8) {
  -webkit-transition: all 0.4s 2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(9) {
  -webkit-transition: all 0.4s 2.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 2.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(10) {
  -webkit-transition: all 0.4s 2.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 2.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(11) {
  -webkit-transition: all 0.4s 2.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 2.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(12) {
  -webkit-transition: all 0.4s 2.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 2.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(13) {
  -webkit-transition: all 0.4s 3s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 3s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(14) {
  -webkit-transition: all 0.4s 3.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 3.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(15) {
  -webkit-transition: all 0.4s 3.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 3.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(16) {
  -webkit-transition: all 0.4s 3.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 3.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(17) {
  -webkit-transition: all 0.4s 3.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 3.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(18) {
  -webkit-transition: all 0.4s 4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(19) {
  -webkit-transition: all 0.4s 4.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 4.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(20) {
  -webkit-transition: all 0.4s 4.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 4.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(21) {
  -webkit-transition: all 0.4s 4.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 4.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(22) {
  -webkit-transition: all 0.4s 4.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 4.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(23) {
  -webkit-transition: all 0.4s 5s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 5s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(24) {
  -webkit-transition: all 0.4s 5.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 5.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(25) {
  -webkit-transition: all 0.4s 5.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 5.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(26) {
  -webkit-transition: all 0.4s 5.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 5.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(27) {
  -webkit-transition: all 0.4s 5.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 5.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(28) {
  -webkit-transition: all 0.4s 6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(29) {
  -webkit-transition: all 0.4s 6.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 6.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(30) {
  -webkit-transition: all 0.4s 6.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 6.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(31) {
  -webkit-transition: all 0.4s 6.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 6.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(32) {
  -webkit-transition: all 0.4s 6.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 6.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(33) {
  -webkit-transition: all 0.4s 7s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 7s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(34) {
  -webkit-transition: all 0.4s 7.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 7.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(35) {
  -webkit-transition: all 0.4s 7.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 7.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(36) {
  -webkit-transition: all 0.4s 7.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 7.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(37) {
  -webkit-transition: all 0.4s 7.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 7.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(38) {
  -webkit-transition: all 0.4s 8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(39) {
  -webkit-transition: all 0.4s 8.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 8.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(40) {
  -webkit-transition: all 0.4s 8.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 8.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(41) {
  -webkit-transition: all 0.4s 8.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 8.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(42) {
  -webkit-transition: all 0.4s 8.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 8.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(43) {
  -webkit-transition: all 0.4s 9s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 9s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(44) {
  -webkit-transition: all 0.4s 9.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 9.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(45) {
  -webkit-transition: all 0.4s 9.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 9.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(46) {
  -webkit-transition: all 0.4s 9.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 9.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(47) {
  -webkit-transition: all 0.4s 9.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 9.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(48) {
  -webkit-transition: all 0.4s 10s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 10s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(49) {
  -webkit-transition: all 0.4s 10.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 10.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(50) {
  -webkit-transition: all 0.4s 10.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 10.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(51) {
  -webkit-transition: all 0.4s 10.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 10.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(52) {
  -webkit-transition: all 0.4s 10.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 10.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(53) {
  -webkit-transition: all 0.4s 11s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 11s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(54) {
  -webkit-transition: all 0.4s 11.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 11.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(55) {
  -webkit-transition: all 0.4s 11.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 11.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(56) {
  -webkit-transition: all 0.4s 11.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 11.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(57) {
  -webkit-transition: all 0.4s 11.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 11.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(58) {
  -webkit-transition: all 0.4s 12s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 12s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(59) {
  -webkit-transition: all 0.4s 12.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 12.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(60) {
  -webkit-transition: all 0.4s 12.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 12.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(61) {
  -webkit-transition: all 0.4s 12.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 12.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(62) {
  -webkit-transition: all 0.4s 12.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 12.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(63) {
  -webkit-transition: all 0.4s 13s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 13s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(64) {
  -webkit-transition: all 0.4s 13.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 13.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(65) {
  -webkit-transition: all 0.4s 13.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 13.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(66) {
  -webkit-transition: all 0.4s 13.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 13.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(67) {
  -webkit-transition: all 0.4s 13.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 13.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(68) {
  -webkit-transition: all 0.4s 14s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 14s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(69) {
  -webkit-transition: all 0.4s 14.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 14.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(70) {
  -webkit-transition: all 0.4s 14.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 14.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(71) {
  -webkit-transition: all 0.4s 14.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 14.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(72) {
  -webkit-transition: all 0.4s 14.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 14.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(73) {
  -webkit-transition: all 0.4s 15s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 15s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(74) {
  -webkit-transition: all 0.4s 15.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 15.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(75) {
  -webkit-transition: all 0.4s 15.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 15.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(76) {
  -webkit-transition: all 0.4s 15.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 15.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(77) {
  -webkit-transition: all 0.4s 15.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 15.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(78) {
  -webkit-transition: all 0.4s 16s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 16s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(79) {
  -webkit-transition: all 0.4s 16.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 16.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(80) {
  -webkit-transition: all 0.4s 16.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 16.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(81) {
  -webkit-transition: all 0.4s 16.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 16.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(82) {
  -webkit-transition: all 0.4s 16.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 16.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(83) {
  -webkit-transition: all 0.4s 17s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 17s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(84) {
  -webkit-transition: all 0.4s 17.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 17.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(85) {
  -webkit-transition: all 0.4s 17.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 17.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(86) {
  -webkit-transition: all 0.4s 17.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 17.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(87) {
  -webkit-transition: all 0.4s 17.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 17.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(88) {
  -webkit-transition: all 0.4s 18s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 18s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(89) {
  -webkit-transition: all 0.4s 18.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 18.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(90) {
  -webkit-transition: all 0.4s 18.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 18.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(91) {
  -webkit-transition: all 0.4s 18.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 18.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(92) {
  -webkit-transition: all 0.4s 18.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 18.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(93) {
  -webkit-transition: all 0.4s 19s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 19s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(94) {
  -webkit-transition: all 0.4s 19.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 19.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(95) {
  -webkit-transition: all 0.4s 19.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 19.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(96) {
  -webkit-transition: all 0.4s 19.6s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 19.6s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(97) {
  -webkit-transition: all 0.4s 19.8s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 19.8s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(98) {
  -webkit-transition: all 0.4s 20s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 20s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(99) {
  -webkit-transition: all 0.4s 20.2s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 20.2s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__message:nth-child(100) {
  -webkit-transition: all 0.4s 20.4s cubic-bezier(0.41, 0.24, 0, 1.29);
  transition: all 0.4s 20.4s cubic-bezier(0.41, 0.24, 0, 1.29);
}

.openBox .messageBox__input {
  opacity: 1;
  -webkit-transition: all 0.4s 0.4s ease;
  transition: all 0.4s 0.4s ease;
  -webkit-transform: translatex(0px);
          transform: translatex(0px);
}
/*# sourceMappingURL=main.css.map */