@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@-webkit-keyframes enterLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes enterLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  font-family: "DM Mono", monospace;
  background: #484848;
  color: white;
  font-size: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}

@media screen and (max-width: 1023px) {
  body {
    font-size: 90%;
  }
}

@media screen and (max-width: 799px) {
  body {
    font-size: 70%;
  }
}

@media screen and (max-width: 599px) {
  body {
    font-size: 45%;
  }
}

@media screen and (max-width: 399px) {
  body {
    font-size: 40%;
  }
}

#wrapper {
  z-index: 3;
  background: #484848;
  position: relative;
}

.mainNav {
  width: 100%;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
}

.mainNav__items {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 799px) {
  .mainNav__items {
    margin-top: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mainNav__links {
  font-size: 32px;
  margin-left: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s cubic-bezier(0.76, 0.57, 0.17, 1.05);
  transition: all 0.3s cubic-bezier(0.76, 0.57, 0.17, 1.05);
  cursor: pointer;
}

.mainNav__links:first-child {
  margin-left: 0;
}

.mainNav__links:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 8%;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  background-color: #EE7D4C;
  -webkit-transition: inherit;
  transition: inherit;
}

.mainNav__links:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: rgba(255, 255, 255, 0.3);
}

.mainNav__links:hover:before {
  width: calc(100% + 8px);
}

@media screen and (max-width: 799px) {
  .mainNav__links {
    font-size: 18px;
  }
}

.mainHeading {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  padding-left: 5vw;
  padding-right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

@media screen and (max-width: 799px) {
  .mainHeading {
    min-height: 500px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mainHeading__text {
  padding-top: 120px;
  padding-bottom: 120px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  right: 0;
}

.mainHeading__title {
  font-size: 3em;
  font-weight: 400;
  margin-left: 4px;
  -webkit-animation: enterLeft 1s cubic-bezier(0.76, 0.57, 0.17, 1.05) backwards;
          animation: enterLeft 1s cubic-bezier(0.76, 0.57, 0.17, 1.05) backwards;
  letter-spacing: 0.62em;
}

.mainHeading__title span {
  margin-right: 0.13em;
}

.mainHeading__title span:nth-child(1) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.mainHeading__title span:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.mainHeading__title span:nth-child(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.mainHeading__title span:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.mainHeading__title span:nth-child(5) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.mainHeading__title span:nth-child(6) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.mainHeading__title span:nth-child(7) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.mainHeading__title span:nth-child(8) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.mainHeading__title span:nth-child(9) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

.mainHeading__title span:nth-child(10) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.mainHeading__title span:nth-child(11) {
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s;
}

.mainHeading__title span:nth-child(12) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.mainHeading__title span:nth-child(13) {
  -webkit-animation-delay: 1.95s;
          animation-delay: 1.95s;
}

.mainHeading__title span:nth-child(14) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.mainHeading__title span:nth-child(15) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

.mainHeading__title span:nth-child(16) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.mainHeading__title span:nth-child(17) {
  -webkit-animation-delay: 2.55s;
          animation-delay: 2.55s;
}

.mainHeading__title span:nth-child(18) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.mainHeading__title span:nth-child(19) {
  -webkit-animation-delay: 2.85s;
          animation-delay: 2.85s;
}

.mainHeading__title span:nth-child(20) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.mainHeading__title span:nth-child(21) {
  -webkit-animation-delay: 3.15s;
          animation-delay: 3.15s;
}

.mainHeading__title span:nth-child(22) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.mainHeading__title span:nth-child(23) {
  -webkit-animation-delay: 3.45s;
          animation-delay: 3.45s;
}

.mainHeading__title span:nth-child(24) {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.mainHeading__title span:nth-child(25) {
  -webkit-animation-delay: 3.75s;
          animation-delay: 3.75s;
}

.mainHeading__title span:nth-child(26) {
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}

.mainHeading__title span:nth-child(27) {
  -webkit-animation-delay: 4.05s;
          animation-delay: 4.05s;
}

.mainHeading__title span:nth-child(28) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

.mainHeading__title span:nth-child(29) {
  -webkit-animation-delay: 4.35s;
          animation-delay: 4.35s;
}

.mainHeading__title span:nth-child(30) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.mainHeading__title span:nth-child(31) {
  -webkit-animation-delay: 4.65s;
          animation-delay: 4.65s;
}

.mainHeading__title span:nth-child(32) {
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}

.mainHeading__title span:nth-child(33) {
  -webkit-animation-delay: 4.95s;
          animation-delay: 4.95s;
}

.mainHeading__title span:nth-child(34) {
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}

.mainHeading__title span:nth-child(35) {
  -webkit-animation-delay: 5.25s;
          animation-delay: 5.25s;
}

.mainHeading__title span:nth-child(36) {
  -webkit-animation-delay: 5.4s;
          animation-delay: 5.4s;
}

.mainHeading__title span:nth-child(37) {
  -webkit-animation-delay: 5.55s;
          animation-delay: 5.55s;
}

.mainHeading__title span:nth-child(38) {
  -webkit-animation-delay: 5.7s;
          animation-delay: 5.7s;
}

.mainHeading__title span:nth-child(39) {
  -webkit-animation-delay: 5.85s;
          animation-delay: 5.85s;
}

.mainHeading__title span:nth-child(40) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.mainHeading__title span:nth-child(41) {
  -webkit-animation-delay: 6.15s;
          animation-delay: 6.15s;
}

.mainHeading__title span:nth-child(42) {
  -webkit-animation-delay: 6.3s;
          animation-delay: 6.3s;
}

.mainHeading__title span:nth-child(43) {
  -webkit-animation-delay: 6.45s;
          animation-delay: 6.45s;
}

.mainHeading__title span:nth-child(44) {
  -webkit-animation-delay: 6.6s;
          animation-delay: 6.6s;
}

.mainHeading__title span:nth-child(45) {
  -webkit-animation-delay: 6.75s;
          animation-delay: 6.75s;
}

.mainHeading__title span:nth-child(46) {
  -webkit-animation-delay: 6.9s;
          animation-delay: 6.9s;
}

.mainHeading__title span:nth-child(47) {
  -webkit-animation-delay: 7.05s;
          animation-delay: 7.05s;
}

.mainHeading__title span:nth-child(48) {
  -webkit-animation-delay: 7.2s;
          animation-delay: 7.2s;
}

.mainHeading__title span:nth-child(49) {
  -webkit-animation-delay: 7.35s;
          animation-delay: 7.35s;
}

.mainHeading__title span:nth-child(50) {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

.mainHeading__title span:nth-child(51) {
  -webkit-animation-delay: 7.65s;
          animation-delay: 7.65s;
}

.mainHeading__title span:nth-child(52) {
  -webkit-animation-delay: 7.8s;
          animation-delay: 7.8s;
}

.mainHeading__title span:nth-child(53) {
  -webkit-animation-delay: 7.95s;
          animation-delay: 7.95s;
}

.mainHeading__title span:nth-child(54) {
  -webkit-animation-delay: 8.1s;
          animation-delay: 8.1s;
}

.mainHeading__title span:nth-child(55) {
  -webkit-animation-delay: 8.25s;
          animation-delay: 8.25s;
}

.mainHeading__title span:nth-child(56) {
  -webkit-animation-delay: 8.4s;
          animation-delay: 8.4s;
}

.mainHeading__title span:nth-child(57) {
  -webkit-animation-delay: 8.55s;
          animation-delay: 8.55s;
}

.mainHeading__title span:nth-child(58) {
  -webkit-animation-delay: 8.7s;
          animation-delay: 8.7s;
}

.mainHeading__title span:nth-child(59) {
  -webkit-animation-delay: 8.85s;
          animation-delay: 8.85s;
}

.mainHeading__title span:nth-child(60) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.mainHeading__title span:nth-child(61) {
  -webkit-animation-delay: 9.15s;
          animation-delay: 9.15s;
}

.mainHeading__title span:nth-child(62) {
  -webkit-animation-delay: 9.3s;
          animation-delay: 9.3s;
}

.mainHeading__title span:nth-child(63) {
  -webkit-animation-delay: 9.45s;
          animation-delay: 9.45s;
}

.mainHeading__title span:nth-child(64) {
  -webkit-animation-delay: 9.6s;
          animation-delay: 9.6s;
}

.mainHeading__title span:nth-child(65) {
  -webkit-animation-delay: 9.75s;
          animation-delay: 9.75s;
}

.mainHeading__title span:nth-child(66) {
  -webkit-animation-delay: 9.9s;
          animation-delay: 9.9s;
}

.mainHeading__title span:nth-child(67) {
  -webkit-animation-delay: 10.05s;
          animation-delay: 10.05s;
}

.mainHeading__title span:nth-child(68) {
  -webkit-animation-delay: 10.2s;
          animation-delay: 10.2s;
}

.mainHeading__title span:nth-child(69) {
  -webkit-animation-delay: 10.35s;
          animation-delay: 10.35s;
}

.mainHeading__title span:nth-child(70) {
  -webkit-animation-delay: 10.5s;
          animation-delay: 10.5s;
}

.mainHeading__title span:nth-child(71) {
  -webkit-animation-delay: 10.65s;
          animation-delay: 10.65s;
}

.mainHeading__title span:nth-child(72) {
  -webkit-animation-delay: 10.8s;
          animation-delay: 10.8s;
}

.mainHeading__title span:nth-child(73) {
  -webkit-animation-delay: 10.95s;
          animation-delay: 10.95s;
}

.mainHeading__title span:nth-child(74) {
  -webkit-animation-delay: 11.1s;
          animation-delay: 11.1s;
}

.mainHeading__title span:nth-child(75) {
  -webkit-animation-delay: 11.25s;
          animation-delay: 11.25s;
}

.mainHeading__title span:nth-child(76) {
  -webkit-animation-delay: 11.4s;
          animation-delay: 11.4s;
}

.mainHeading__title span:nth-child(77) {
  -webkit-animation-delay: 11.55s;
          animation-delay: 11.55s;
}

.mainHeading__title span:nth-child(78) {
  -webkit-animation-delay: 11.7s;
          animation-delay: 11.7s;
}

.mainHeading__title span:nth-child(79) {
  -webkit-animation-delay: 11.85s;
          animation-delay: 11.85s;
}

.mainHeading__title span:nth-child(80) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.mainHeading__title span:nth-child(81) {
  -webkit-animation-delay: 12.15s;
          animation-delay: 12.15s;
}

.mainHeading__title span:nth-child(82) {
  -webkit-animation-delay: 12.3s;
          animation-delay: 12.3s;
}

.mainHeading__title span:nth-child(83) {
  -webkit-animation-delay: 12.45s;
          animation-delay: 12.45s;
}

.mainHeading__title span:nth-child(84) {
  -webkit-animation-delay: 12.6s;
          animation-delay: 12.6s;
}

.mainHeading__title span:nth-child(85) {
  -webkit-animation-delay: 12.75s;
          animation-delay: 12.75s;
}

.mainHeading__title span:nth-child(86) {
  -webkit-animation-delay: 12.9s;
          animation-delay: 12.9s;
}

.mainHeading__title span:nth-child(87) {
  -webkit-animation-delay: 13.05s;
          animation-delay: 13.05s;
}

.mainHeading__title span:nth-child(88) {
  -webkit-animation-delay: 13.2s;
          animation-delay: 13.2s;
}

.mainHeading__title span:nth-child(89) {
  -webkit-animation-delay: 13.35s;
          animation-delay: 13.35s;
}

.mainHeading__title span:nth-child(90) {
  -webkit-animation-delay: 13.5s;
          animation-delay: 13.5s;
}

.mainHeading__title span:nth-child(91) {
  -webkit-animation-delay: 13.65s;
          animation-delay: 13.65s;
}

.mainHeading__title span:nth-child(92) {
  -webkit-animation-delay: 13.8s;
          animation-delay: 13.8s;
}

.mainHeading__title span:nth-child(93) {
  -webkit-animation-delay: 13.95s;
          animation-delay: 13.95s;
}

.mainHeading__title span:nth-child(94) {
  -webkit-animation-delay: 14.1s;
          animation-delay: 14.1s;
}

.mainHeading__title span:nth-child(95) {
  -webkit-animation-delay: 14.25s;
          animation-delay: 14.25s;
}

.mainHeading__title span:nth-child(96) {
  -webkit-animation-delay: 14.4s;
          animation-delay: 14.4s;
}

.mainHeading__title span:nth-child(97) {
  -webkit-animation-delay: 14.55s;
          animation-delay: 14.55s;
}

.mainHeading__title span:nth-child(98) {
  -webkit-animation-delay: 14.7s;
          animation-delay: 14.7s;
}

.mainHeading__title span:nth-child(99) {
  -webkit-animation-delay: 14.85s;
          animation-delay: 14.85s;
}

.mainHeading__title span:nth-child(100) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.mainHeading__subtitle {
  font-family: "Major Mono Display", monospace;
  text-transform: uppercase;
  font-size: 7em;
  margin-left: -0.05em;
  line-height: 0.7em;
  color: #EE7D4C;
  display: block;
  padding: 0.2em 0px;
}

.mainHeading__subtitleWord {
  display: block;
  -webkit-animation: enterLeft 1s cubic-bezier(0.76, 0.57, 0.17, 1.05) both;
          animation: enterLeft 1s cubic-bezier(0.76, 0.57, 0.17, 1.05) both;
}

.mainHeading__subtitleWord:nth-child(1) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.mainHeading__subtitleWord:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.mainHeading__subtitleWord:nth-child(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.mainHeading__subtitleWord:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.mainHeading__subtitleWord:nth-child(5) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.mainHeading__subtitleWord:nth-child(6) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.mainHeading__subtitleWord:nth-child(7) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.mainHeading__subtitleWord:nth-child(8) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.mainHeading__subtitleWord:nth-child(9) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
}

.mainHeading__subtitleWord:nth-child(10) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.mainHeading__subtitleWord:nth-child(11) {
  -webkit-animation-delay: 1.65s;
          animation-delay: 1.65s;
}

.mainHeading__subtitleWord:nth-child(12) {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.mainHeading__subtitleWord:nth-child(13) {
  -webkit-animation-delay: 1.95s;
          animation-delay: 1.95s;
}

.mainHeading__subtitleWord:nth-child(14) {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.mainHeading__subtitleWord:nth-child(15) {
  -webkit-animation-delay: 2.25s;
          animation-delay: 2.25s;
}

.mainHeading__subtitleWord:nth-child(16) {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.mainHeading__subtitleWord:nth-child(17) {
  -webkit-animation-delay: 2.55s;
          animation-delay: 2.55s;
}

.mainHeading__subtitleWord:nth-child(18) {
  -webkit-animation-delay: 2.7s;
          animation-delay: 2.7s;
}

.mainHeading__subtitleWord:nth-child(19) {
  -webkit-animation-delay: 2.85s;
          animation-delay: 2.85s;
}

.mainHeading__subtitleWord:nth-child(20) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.mainHeading__subtitleWord:nth-child(21) {
  -webkit-animation-delay: 3.15s;
          animation-delay: 3.15s;
}

.mainHeading__subtitleWord:nth-child(22) {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.mainHeading__subtitleWord:nth-child(23) {
  -webkit-animation-delay: 3.45s;
          animation-delay: 3.45s;
}

.mainHeading__subtitleWord:nth-child(24) {
  -webkit-animation-delay: 3.6s;
          animation-delay: 3.6s;
}

.mainHeading__subtitleWord:nth-child(25) {
  -webkit-animation-delay: 3.75s;
          animation-delay: 3.75s;
}

.mainHeading__subtitleWord:nth-child(26) {
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}

.mainHeading__subtitleWord:nth-child(27) {
  -webkit-animation-delay: 4.05s;
          animation-delay: 4.05s;
}

.mainHeading__subtitleWord:nth-child(28) {
  -webkit-animation-delay: 4.2s;
          animation-delay: 4.2s;
}

.mainHeading__subtitleWord:nth-child(29) {
  -webkit-animation-delay: 4.35s;
          animation-delay: 4.35s;
}

.mainHeading__subtitleWord:nth-child(30) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.mainHeading__subtitleWord:nth-child(31) {
  -webkit-animation-delay: 4.65s;
          animation-delay: 4.65s;
}

.mainHeading__subtitleWord:nth-child(32) {
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}

.mainHeading__subtitleWord:nth-child(33) {
  -webkit-animation-delay: 4.95s;
          animation-delay: 4.95s;
}

.mainHeading__subtitleWord:nth-child(34) {
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
}

.mainHeading__subtitleWord:nth-child(35) {
  -webkit-animation-delay: 5.25s;
          animation-delay: 5.25s;
}

.mainHeading__subtitleWord:nth-child(36) {
  -webkit-animation-delay: 5.4s;
          animation-delay: 5.4s;
}

.mainHeading__subtitleWord:nth-child(37) {
  -webkit-animation-delay: 5.55s;
          animation-delay: 5.55s;
}

.mainHeading__subtitleWord:nth-child(38) {
  -webkit-animation-delay: 5.7s;
          animation-delay: 5.7s;
}

.mainHeading__subtitleWord:nth-child(39) {
  -webkit-animation-delay: 5.85s;
          animation-delay: 5.85s;
}

.mainHeading__subtitleWord:nth-child(40) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.mainHeading__subtitleWord:nth-child(41) {
  -webkit-animation-delay: 6.15s;
          animation-delay: 6.15s;
}

.mainHeading__subtitleWord:nth-child(42) {
  -webkit-animation-delay: 6.3s;
          animation-delay: 6.3s;
}

.mainHeading__subtitleWord:nth-child(43) {
  -webkit-animation-delay: 6.45s;
          animation-delay: 6.45s;
}

.mainHeading__subtitleWord:nth-child(44) {
  -webkit-animation-delay: 6.6s;
          animation-delay: 6.6s;
}

.mainHeading__subtitleWord:nth-child(45) {
  -webkit-animation-delay: 6.75s;
          animation-delay: 6.75s;
}

.mainHeading__subtitleWord:nth-child(46) {
  -webkit-animation-delay: 6.9s;
          animation-delay: 6.9s;
}

.mainHeading__subtitleWord:nth-child(47) {
  -webkit-animation-delay: 7.05s;
          animation-delay: 7.05s;
}

.mainHeading__subtitleWord:nth-child(48) {
  -webkit-animation-delay: 7.2s;
          animation-delay: 7.2s;
}

.mainHeading__subtitleWord:nth-child(49) {
  -webkit-animation-delay: 7.35s;
          animation-delay: 7.35s;
}

.mainHeading__subtitleWord:nth-child(50) {
  -webkit-animation-delay: 7.5s;
          animation-delay: 7.5s;
}

.mainHeading__subtitleWord:nth-child(51) {
  -webkit-animation-delay: 7.65s;
          animation-delay: 7.65s;
}

.mainHeading__subtitleWord:nth-child(52) {
  -webkit-animation-delay: 7.8s;
          animation-delay: 7.8s;
}

.mainHeading__subtitleWord:nth-child(53) {
  -webkit-animation-delay: 7.95s;
          animation-delay: 7.95s;
}

.mainHeading__subtitleWord:nth-child(54) {
  -webkit-animation-delay: 8.1s;
          animation-delay: 8.1s;
}

.mainHeading__subtitleWord:nth-child(55) {
  -webkit-animation-delay: 8.25s;
          animation-delay: 8.25s;
}

.mainHeading__subtitleWord:nth-child(56) {
  -webkit-animation-delay: 8.4s;
          animation-delay: 8.4s;
}

.mainHeading__subtitleWord:nth-child(57) {
  -webkit-animation-delay: 8.55s;
          animation-delay: 8.55s;
}

.mainHeading__subtitleWord:nth-child(58) {
  -webkit-animation-delay: 8.7s;
          animation-delay: 8.7s;
}

.mainHeading__subtitleWord:nth-child(59) {
  -webkit-animation-delay: 8.85s;
          animation-delay: 8.85s;
}

.mainHeading__subtitleWord:nth-child(60) {
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.mainHeading__subtitleWord:nth-child(61) {
  -webkit-animation-delay: 9.15s;
          animation-delay: 9.15s;
}

.mainHeading__subtitleWord:nth-child(62) {
  -webkit-animation-delay: 9.3s;
          animation-delay: 9.3s;
}

.mainHeading__subtitleWord:nth-child(63) {
  -webkit-animation-delay: 9.45s;
          animation-delay: 9.45s;
}

.mainHeading__subtitleWord:nth-child(64) {
  -webkit-animation-delay: 9.6s;
          animation-delay: 9.6s;
}

.mainHeading__subtitleWord:nth-child(65) {
  -webkit-animation-delay: 9.75s;
          animation-delay: 9.75s;
}

.mainHeading__subtitleWord:nth-child(66) {
  -webkit-animation-delay: 9.9s;
          animation-delay: 9.9s;
}

.mainHeading__subtitleWord:nth-child(67) {
  -webkit-animation-delay: 10.05s;
          animation-delay: 10.05s;
}

.mainHeading__subtitleWord:nth-child(68) {
  -webkit-animation-delay: 10.2s;
          animation-delay: 10.2s;
}

.mainHeading__subtitleWord:nth-child(69) {
  -webkit-animation-delay: 10.35s;
          animation-delay: 10.35s;
}

.mainHeading__subtitleWord:nth-child(70) {
  -webkit-animation-delay: 10.5s;
          animation-delay: 10.5s;
}

.mainHeading__subtitleWord:nth-child(71) {
  -webkit-animation-delay: 10.65s;
          animation-delay: 10.65s;
}

.mainHeading__subtitleWord:nth-child(72) {
  -webkit-animation-delay: 10.8s;
          animation-delay: 10.8s;
}

.mainHeading__subtitleWord:nth-child(73) {
  -webkit-animation-delay: 10.95s;
          animation-delay: 10.95s;
}

.mainHeading__subtitleWord:nth-child(74) {
  -webkit-animation-delay: 11.1s;
          animation-delay: 11.1s;
}

.mainHeading__subtitleWord:nth-child(75) {
  -webkit-animation-delay: 11.25s;
          animation-delay: 11.25s;
}

.mainHeading__subtitleWord:nth-child(76) {
  -webkit-animation-delay: 11.4s;
          animation-delay: 11.4s;
}

.mainHeading__subtitleWord:nth-child(77) {
  -webkit-animation-delay: 11.55s;
          animation-delay: 11.55s;
}

.mainHeading__subtitleWord:nth-child(78) {
  -webkit-animation-delay: 11.7s;
          animation-delay: 11.7s;
}

.mainHeading__subtitleWord:nth-child(79) {
  -webkit-animation-delay: 11.85s;
          animation-delay: 11.85s;
}

.mainHeading__subtitleWord:nth-child(80) {
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.mainHeading__subtitleWord:nth-child(81) {
  -webkit-animation-delay: 12.15s;
          animation-delay: 12.15s;
}

.mainHeading__subtitleWord:nth-child(82) {
  -webkit-animation-delay: 12.3s;
          animation-delay: 12.3s;
}

.mainHeading__subtitleWord:nth-child(83) {
  -webkit-animation-delay: 12.45s;
          animation-delay: 12.45s;
}

.mainHeading__subtitleWord:nth-child(84) {
  -webkit-animation-delay: 12.6s;
          animation-delay: 12.6s;
}

.mainHeading__subtitleWord:nth-child(85) {
  -webkit-animation-delay: 12.75s;
          animation-delay: 12.75s;
}

.mainHeading__subtitleWord:nth-child(86) {
  -webkit-animation-delay: 12.9s;
          animation-delay: 12.9s;
}

.mainHeading__subtitleWord:nth-child(87) {
  -webkit-animation-delay: 13.05s;
          animation-delay: 13.05s;
}

.mainHeading__subtitleWord:nth-child(88) {
  -webkit-animation-delay: 13.2s;
          animation-delay: 13.2s;
}

.mainHeading__subtitleWord:nth-child(89) {
  -webkit-animation-delay: 13.35s;
          animation-delay: 13.35s;
}

.mainHeading__subtitleWord:nth-child(90) {
  -webkit-animation-delay: 13.5s;
          animation-delay: 13.5s;
}

.mainHeading__subtitleWord:nth-child(91) {
  -webkit-animation-delay: 13.65s;
          animation-delay: 13.65s;
}

.mainHeading__subtitleWord:nth-child(92) {
  -webkit-animation-delay: 13.8s;
          animation-delay: 13.8s;
}

.mainHeading__subtitleWord:nth-child(93) {
  -webkit-animation-delay: 13.95s;
          animation-delay: 13.95s;
}

.mainHeading__subtitleWord:nth-child(94) {
  -webkit-animation-delay: 14.1s;
          animation-delay: 14.1s;
}

.mainHeading__subtitleWord:nth-child(95) {
  -webkit-animation-delay: 14.25s;
          animation-delay: 14.25s;
}

.mainHeading__subtitleWord:nth-child(96) {
  -webkit-animation-delay: 14.4s;
          animation-delay: 14.4s;
}

.mainHeading__subtitleWord:nth-child(97) {
  -webkit-animation-delay: 14.55s;
          animation-delay: 14.55s;
}

.mainHeading__subtitleWord:nth-child(98) {
  -webkit-animation-delay: 14.7s;
          animation-delay: 14.7s;
}

.mainHeading__subtitleWord:nth-child(99) {
  -webkit-animation-delay: 14.85s;
          animation-delay: 14.85s;
}

.mainHeading__subtitleWord:nth-child(100) {
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
}

.mainHeading__subtitleWord:first-child {
  letter-spacing: 0.11em;
}

.mainHeading__description {
  margin-top: 2em;
  font-size: 2em;
  font-weight: 500px;
  position: relative;
  line-height: 2em;
}

@media screen and (max-width: 599px) {
  .mainHeading__description {
    font-size: 16px;
  }
}

.mainHeading__description--strike {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.9em;
}

.mainHeading__description--strike:before {
  content: '';
  position: absolute;
  width: calc(100% + 8px);
  height: 0.1em;
  background-color: #EE7D4C;
  -webkit-animation: strike 0.4s 2s cubic-bezier(0.76, 0.57, 0.17, 1.05) both;
          animation: strike 0.4s 2s cubic-bezier(0.76, 0.57, 0.17, 1.05) both;
  -webkit-transition: all 0.4s cubic-bezier(0.76, 0.57, 0.17, 1.05);
  transition: all 0.4s cubic-bezier(0.76, 0.57, 0.17, 1.05);
}

@-webkit-keyframes strike {
  0% {
    width: 0;
  }
}

@keyframes strike {
  0% {
    width: 0;
  }
}

.mainHeading__description--strike:hover:before {
  height: 80%;
}

.mainHeading__description--super {
  position: absolute;
  color: #EE7D4C;
  -webkit-transform: rotate(-30deg) translate(0.5em, -2.2em) skew(-10deg, 5deg);
          transform: rotate(-30deg) translate(0.5em, -2.2em) skew(-10deg, 5deg);
  border-left: 0.1em solid #EE7D4C;
  border-bottom: 0.1em solid #EE7D4C;
  padding: 0px 0px 5px 2%;
  left: 16.5em;
  bottom: 0;
  line-height: 1.5em;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-animation: super 0.4s 2.4s cubic-bezier(0.76, 0.57, 0.17, 1.05) backwards;
          animation: super 0.4s 2.4s cubic-bezier(0.76, 0.57, 0.17, 1.05) backwards;
}

@-webkit-keyframes super {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-80deg) translate(0em, -2.2em) skew(0deg, 0deg);
            transform: rotate(-80deg) translate(0em, -2.2em) skew(0deg, 0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-30deg) translate(0.5em, -2.2em) skew(-10deg, 5deg);
            transform: rotate(-30deg) translate(0.5em, -2.2em) skew(-10deg, 5deg);
  }
}

@keyframes super {
  0% {
    opacity: 0;
    -webkit-transform: rotate(-80deg) translate(0em, -2.2em) skew(0deg, 0deg);
            transform: rotate(-80deg) translate(0em, -2.2em) skew(0deg, 0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(-30deg) translate(0.5em, -2.2em) skew(-10deg, 5deg);
            transform: rotate(-30deg) translate(0.5em, -2.2em) skew(-10deg, 5deg);
  }
}

@media screen and (max-width: 599px) {
  .mainHeading__description--super {
    -webkit-transform: rotate(-30deg) translate(-10px, -40px) skew(-10deg, 5deg);
            transform: rotate(-30deg) translate(-10px, -40px) skew(-10deg, 5deg);
    -webkit-animation: none;
            animation: none;
    left: 17em;
  }
}

.mainHeading__description--super:hover {
  -webkit-transform: rotate(-20deg) translate(0.5em, -2.2em) skew(-10deg, 5deg);
          transform: rotate(-20deg) translate(0.5em, -2.2em) skew(-10deg, 5deg);
}

.mainHeading__description--line1, .mainHeading__description--line2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: enterLeft 1s 0.8s cubic-bezier(0.76, 0.57, 0.17, 1.05) both;
          animation: enterLeft 1s 0.8s cubic-bezier(0.76, 0.57, 0.17, 1.05) both;
}

.mainHeading__description--line2 {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.mainHeading__video {
  background-color: black;
  width: 70%;
  height: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  position: fixed;
  top: 0;
}

.mainHeading__videoPlayer {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  top: 0;
}

.mainHeading__videoPlayer:before, .mainHeading__videoPlayer:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 2;
  top: 0;
  right: 0;
}

.mainHeading__videoPlayer:after {
  background-color: #313131;
  opacity: 0.8;
}

.mainHeading__scroll {
  width: 2.5em;
  height: 2.5em;
  background-size: cover;
  background-image: url("../assets/triangle.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 64px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: 0.8s ease-in-out both infinite alternate;
          animation: 0.8s ease-in-out both infinite alternate;
  -webkit-animation-name: scrollDown;
          animation-name: scrollDown;
}

.mainHeading__scroll:before, .mainHeading__scroll:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 2;
  top: -15px;
  left: 0;
  -webkit-animation: inherit;
          animation: inherit;
  -webkit-animation-name: scrollDown2;
          animation-name: scrollDown2;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.mainHeading__scroll:after {
  top: -30px;
  opacity: 0.2;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes scrollDown {
  100% {
    -webkit-transform: translateX(-50%) translateY(30px);
            transform: translateX(-50%) translateY(30px);
  }
}

@keyframes scrollDown {
  100% {
    -webkit-transform: translateX(-50%) translateY(30px);
            transform: translateX(-50%) translateY(30px);
  }
}

@-webkit-keyframes scrollDown2 {
  100% {
    opacity: 0;
    top: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes scrollDown2 {
  100% {
    opacity: 0;
    top: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.works {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  padding-left: 5vw;
  padding-right: 5vw;
}

.works__item {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background-color: #313131;
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin: 40px 0;
  transition: all 0.6s ease;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
}

.works__item:first-child {
  margin-top: 0;
}

.works__item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0;
  bottom: 0;
  background-color: #EE7D4C;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 2;
}

.works__item:hover {
  -webkit-transform: scaleX(1.01);
          transform: scaleX(1.01);
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
}

.works__img {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 35%;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.works__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.works__img:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: #313131;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0.8;
  z-index: 1;
}

.works__title {
  width: 50%;
  font-size: 48px;
}

.works__title span {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Major Mono Display", monospace;
  text-transform: uppercase;
  font-size: 2em;
  color: #484848;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translate(-15px, -20px);
          transform: translate(-15px, -20px);
}

.works__subtitle {
  font-weight: 400;
  width: 50%;
  font-size: 20px;
  margin-top: 16px;
}

.works__label {
  position: absolute;
  top: 40px;
  right: 0;
  font-size: 18px;
  padding: 10px 16px;
  background-color: #484848;
  color: #EE7D4C;
  z-index: 2;
}

.works__info {
  width: 50%;
  opacity: 0;
  height: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.works__detail {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  margin: 48px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.works__detail:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.works__subtitle2 {
  font-size: 16px;
  color: #EE7D4C;
  margin-bottom: 16px;
}

.works__description {
  font-size: 16px;
}

.works__tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__tools span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 24px;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.works__link {
  font-family: "Major Mono Display", monospace;
  text-transform: uppercase;
  font-size: 32px;
  background-color: #EE7D4C;
  color: white;
  height: 0px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 0px 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 3;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

.works .works__item:hover:before {
  height: 4px;
}

.works .works__item:hover .works__img {
  opacity: 1;
  width: 40%;
}

.works .works__item:hover .works__title span {
  color: #EE7D4C;
}

.works .openWork:hover {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.works .openWork .works__title span {
  color: #EE7D4C;
}

.works .openWork .works__img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.works .openWork .works__info {
  opacity: 1;
}

.works .openWork .works__detail {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.4s 0.3s ease;
  transition: all 0.4s 0.3s ease;
}

.works .openWork .works__detail:nth-child(2) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.works .openWork .works__link {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  height: 112px;
}

.works .openWork .works__img {
  width: 40%;
  opacity: 1;
}

.works .openWork .works__img img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.works .openWork .works__img:before {
  display: none;
}

.mainTitle {
  width: 100%;
  font-family: "Major Mono Display", monospace;
  line-height: 0.9em;
  font-size: 7em;
  position: relative;
  text-transform: uppercase;
  color: white;
  height: 1.3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.mainTitle span {
  color: #313131;
  font-size: 1.8em;
  position: absolute;
  z-index: -1;
  top: -0.19em;
  line-height: normal;
}

.anime {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */