@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  font-family: "DM Mono", monospace;
  background: #484848;
  color: white;
  font-size: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1023px) {
  body {
    font-size: 90%;
  }
}

@media screen and (max-width: 799px) {
  body {
    font-size: 65%;
  }
}

@media screen and (max-width: 599px) {
  body {
    font-size: 45%;
  }
}

@media screen and (max-width: 399px) {
  body {
    font-size: 40%;
  }
}

.mainNav {
  width: 100%;
  position: fixed;
  z-index: 2;
}

.mainNav__items {
  padding-left: 5vw;
  padding-right: 5vw;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 799px) {
  .mainNav__items {
    margin-top: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mainNav__links {
  font-size: 32px;
  margin-left: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.mainNav__links:first-child {
  margin-left: 0;
}

.mainNav__links:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 8%;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  background-color: #EE7D4C;
  -webkit-transition: inherit;
  transition: inherit;
}

.mainNav__links:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: rgba(255, 255, 255, 0.5);
}

.mainNav__links:hover:before {
  width: calc(100% + 8px);
}

@media screen and (max-width: 799px) {
  .mainNav__links {
    font-size: 18px;
  }
}

.mainHeading {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  padding-left: 5vw;
  padding-right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (max-width: 799px) {
  .mainHeading {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mainHeading__text {
  margin: 80px 0;
}

.mainHeading__title {
  letter-spacing: 0.615em;
  font-size: 3em;
  font-weight: 400;
}

.mainHeading__subtitle {
  font-family: "Major Mono Display", monospace;
  text-transform: uppercase;
  font-size: 7em;
  margin-left: -0.1em;
  line-height: 0.7em;
  color: #EE7D4C;
}

.mainHeading__subtitleWord:first-child {
  letter-spacing: 0.11em;
}

.mainHeading__description {
  margin-top: 2em;
  font-size: 2em;
  font-weight: 500px;
  position: relative;
  line-height: 2em;
}

.mainHeading__description--stroke {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainHeading__description--stroke:before {
  content: '';
  position: absolute;
  width: calc(100% + 8px);
  height: 0.1em;
  background-color: #EE7D4C;
}

.mainHeading__description--super {
  position: absolute;
  color: #EE7D4C;
  -webkit-transform: rotate(-30deg) translate(0.5em, -2.2em) skew(-10deg, 5deg);
          transform: rotate(-30deg) translate(0.5em, -2.2em) skew(-10deg, 5deg);
  border-left: 2px solid #EE7D4C;
  border-bottom: 2px solid #EE7D4C;
  padding: 0px 2%;
}

.mainHeading__video {
  background-color: black;
  width: 70%;
  height: 100%;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
}

.mainHeading__videoPlayer {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.mainHeading__videoPlayer:before, .mainHeading__videoPlayer:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 2;
  top: 0;
  right: 0;
}

.mainHeading__videoPlayer:after {
  background-color: #313131;
  opacity: 0.8;
}

.mainHeading__scroll {
  width: 2.5em;
  height: 2.5em;
  background-size: cover;
  background-image: url("../assets/triangle.svg");
  background-repeat: no-repeat;
  position: absolute;
  bottom: 32px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=main.css.map */