@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:200,300,400,500,600,700,800,900|Barlow:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: normal;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.logo {
  position: fixed;
  z-index: 5;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.logo img {
  width: 55%;
  height: 55%;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  opacity: 0.8;
}

@media screen and (max-width: 799px) {
  .logo {
    display: none;
  }
}

.wrapper {
  width: 100%;
  font-family: "Barlow", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 0.8px;
  margin: 0 auto;
}

.wrapper .btn {
  background: linear-gradient(160deg, #FF8970 8%, #FFB571 86%);
  -webkit-box-shadow: 0px 10px 30px -5px rgba(255, 151, 111, 0.5);
          box-shadow: 0px 10px 30px -5px rgba(255, 151, 111, 0.5);
  padding: 18px 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  cursor: pointer;
  margin-top: 30px;
}

.wrapper .btn:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0px 4px 15px rgba(255, 151, 111, 0.5);
          box-shadow: 0px 4px 15px rgba(255, 151, 111, 0.5);
}

.wrapper .btn:disabled {
  opacity: 0.3;
  cursor: default;
}

.wrapper .btn:disabled:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: 0px 10px 30px -5px rgba(255, 151, 111, 0.5);
          box-shadow: 0px 10px 30px -5px rgba(255, 151, 111, 0.5);
}

.wrapper .btn.btnAnother, .wrapper .btn.btnTry {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: white;
}

.wrapper .btn.btnAnother:hover, .wrapper .btn.btnTry:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .btn.btnTry span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(120deg, #EE5764 8%, #FFAB91 86%);
}

.wrapper .btn.btnAnother span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(120deg, #4DAF9E 8%, #75EDD7 86%);
}

.wrapper nav {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper nav .mainLogo {
  width: 40%;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
}

.wrapper nav .menu {
  width: 60%;
  background-color: purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
  height: 140px;
}

.wrapper nav .shoppingCart {
  width: 48px;
  height: 48px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 100%;
}

.wrapper nav .shoppingCart .itemNumber {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
  border-radius: 100%;
  font-size: 12px;
  color: white;
  font-weight: bold;
  display: none;
  position: absolute;
  top: -2px;
  right: -2px;
}

.wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 800px;
}

.wrapper .content .left,
.wrapper .content .right {
  height: 100%;
}

.wrapper .content .left {
  width: 40%;
  background-color: black;
}

.wrapper .content .left .sliderNavigation {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  margin-top: 80px;
  height: 40px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .content .left .sliderNavigation .swiper-pagination {
  position: initial;
  background-color: red;
  margin: 0 40px;
}

.wrapper .content .left .sliderNavigation .swiper-pagination .swiper-pagination-bullet {
  background-color: blue;
  margin: 0 10px;
}

.wrapper .content .left .sliderNavigation .swiper-button-next,
.wrapper .content .left .sliderNavigation .swiper-button-prev {
  margin: 0;
  top: initial;
  left: initial;
  right: initial;
  position: initial;
}

.wrapper .content .right {
  width: 60%;
  background-color: gray;
}

.wrapper .content .right .rightContent {
  max-width: 600px;
  padding: 0px 60px 0px 15%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrapper .content .right .rightContent .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .content .right .rightContent .quantity .quantityCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: red;
}

.wrapper .content .right .rightContent .quantity .quantityCounter .inputQuantity {
  width: 40px;
  height: 24px;
  text-align: center;
}

.wrapper .content .right .rightContent .quantity .quantityCounter .btnQuantity {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
}

.swiper-container {
  width: 100% !important;
}

.swiper-container .swiper-wrapper {
  width: 100%;
  height: 600px;
}

.galleryMain {
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
}

.galleryMain .swiper-slide {
  width: 100% !important;
}

.galleryMain .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galleryThumbs .swiper-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  grid-column-gap: 20px;
}

@media screen and (max-width: 1023px) {
  .galleryThumbs .swiper-wrapper {
    -ms-grid-rows: (80px)[2];
        grid-template-rows: repeat(2, 80px);
    -ms-grid-columns: (80px)[3];
        grid-template-columns: repeat(3, 80px);
    grid-row-gap: 20px;
  }
}

.galleryThumbs .swiper-slide {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
  opacity: 0.4;
  background-color: white;
  cursor: pointer;
}

.galleryThumbs .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.galleryThumbs .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
  border: 2px solid red !important;
}
/*# sourceMappingURL=main.css.map */