@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:200,300,400,500,600,700,800,900|Barlow:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

* input::-webkit-outer-spin-button,
* input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: #e1e1e1;
  font-family: "Barlow", sans-serif;
  font-weight: normal;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (max-width: 799px) {
  body {
    background-color: white;
  }
}

.logo {
  position: fixed;
  z-index: 5;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.logo img {
  width: 55%;
  height: 55%;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  opacity: 0.8;
}

@media screen and (max-width: 799px) {
  .logo {
    display: none;
  }
}

.wrapper {
  width: 100%;
  font-family: "Barlow", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 0.8px;
  margin: 0 auto;
}

.wrapper .btn {
  background: #FD6561;
  -webkit-box-shadow: 0px 10px 20px -5px rgba(253, 101, 97, 0.4);
          box-shadow: 0px 10px 20px -5px rgba(253, 101, 97, 0.4);
  padding: 18px 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .btn img {
  margin-right: 10px;
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
}

.wrapper .btn:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0px 2px 10px -5px rgba(253, 101, 97, 0.4);
          box-shadow: 0px 2px 10px -5px rgba(253, 101, 97, 0.4);
}

@media screen and (max-width: 799px) {
  .wrapper .btn {
    position: fixed;
    bottom: 20px;
    z-index: 3;
    max-width: 400px;
    width: calc(100% - 10%);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .wrapper .btn:hover {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.wrapper nav {
  background-color: rgba(144, 144, 144, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 140px;
  z-index: 2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper nav.fixed {
  background-color: rgba(144, 144, 144, 0.1);
  -webkit-box-shadow: 00;
          box-shadow: 00;
}

@media screen and (max-width: 799px) {
  .wrapper nav.fixed {
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (max-width: 799px) {
  .wrapper nav {
    height: 60px;
    position: fixed;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.wrapper nav .mainLogo {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
  font-size: 28px;
  color: #FD6561;
  font-weight: 800;
}

@media screen and (max-width: 799px) {
  .wrapper nav .mainLogo {
    width: auto;
    padding: 0 5vw;
    font-size: 20px;
  }
}

.wrapper nav .menu {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 60px;
}

@media screen and (max-width: 799px) {
  .wrapper nav .menu {
    width: auto;
    padding: 0 5vw;
  }
}

.wrapper nav .menu .menuLinks {
  width: calc(100% - 48px);
}

@media screen and (max-width: 799px) {
  .wrapper nav .menu .menuLinks {
    display: none;
  }
}

.wrapper nav .menu .menuLinks .menuLink {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: #979797;
  position: relative;
  margin-right: 10%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper nav .menu .menuLinks .menuLink:last-of-type {
  margin-right: 0;
}

.wrapper nav .menu .menuLinks .menuLink:before {
  content: '';
  position: absolute;
  background-color: #BDBDBD;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  bottom: -10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper nav .menu .menuLinks .menuLink:hover {
  color: #FD6561;
}

.wrapper nav .menu .menuLinks .menuLink:hover:before {
  background-color: #FD6561;
  width: 100%;
  left: calc(100% - 100%);
}

.wrapper nav .shoppingCart {
  width: 48px;
  height: 48px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 100%;
}

@media screen and (max-width: 799px) {
  .wrapper nav .shoppingCart {
    background-color: transparent;
  }
}

.wrapper nav .shoppingCart .itemNumber {
  width: 16px;
  height: 16px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FD6561;
  border-radius: 100%;
  font-size: 10px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: -2px;
  right: -2px;
  padding-left: 1px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.wrapper nav .shoppingCart .itemNumber.addItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: addItem 0.4s ease;
          animation: addItem 0.4s ease;
}

@-webkit-keyframes addItem {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, 100px);
            transform: translate(-50px, 100px);
  }
  80% {
    width: 20px;
    height: 20px;
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  100% {
    width: 16px;
    height: 16px;
  }
}

@keyframes addItem {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50px, 100px);
            transform: translate(-50px, 100px);
  }
  80% {
    width: 20px;
    height: 20px;
    opacity: 1;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  100% {
    width: 16px;
    height: 16px;
  }
}

.wrapper nav .iconMenu {
  width: 48px;
  height: 48px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

@media screen and (max-width: 799px) {
  .wrapper nav .iconMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.wrapper .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  min-height: 800px;
  height: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (max-width: 1023px) {
  .wrapper .content {
    height: auto;
    min-height: auto;
  }
}

@media screen and (max-width: 799px) {
  .wrapper .content {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
  }
}

.wrapper .content .left,
.wrapper .content .right {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 799px) {
  .wrapper .content .left,
  .wrapper .content .right {
    height: auto;
  }
}

.wrapper .content .left {
  padding-top: 220px;
  background-color: #363636;
  position: relative;
}

@media screen and (max-width: 799px) {
  .wrapper .content .left {
    padding: 60px 40px;
  }
}

.wrapper .content .left .sliderNavigation {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 40px;
}

@media screen and (max-width: 799px) {
  .wrapper .content .left .sliderNavigation {
    bottom: 20px;
  }
}

.wrapper .content .left .sliderNavigation .swiper-pagination {
  position: initial;
  margin: 0 20px;
  z-index: 2;
}

.wrapper .content .left .sliderNavigation .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid white;
  background-color: transparent;
  margin: 0 10px;
  border-radius: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 1;
}

.wrapper .content .left .sliderNavigation .swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  background-color: #FD6561;
  border: 1px solid #FD6561;
}

.wrapper .content .left .sliderNavigation .swiper-button-next,
.wrapper .content .left .sliderNavigation .swiper-button-prev {
  margin: 0;
  top: initial;
  left: initial;
  right: initial;
  position: initial;
  background-repeat: repeat;
  background-position: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media screen and (max-width: 799px) {
  .wrapper .content .left .sliderNavigation .swiper-button-next,
  .wrapper .content .left .sliderNavigation .swiper-button-prev {
    display: none;
  }
}

.wrapper .content .left .sliderNavigation .swiper-button-next {
  background-image: url(/assets/arrow-next.svg);
}

.wrapper .content .left .sliderNavigation .swiper-button-next:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.wrapper .content .left .sliderNavigation .swiper-button-prev {
  background-image: url(/assets/arrow-prev.svg);
}

.wrapper .content .left .sliderNavigation .swiper-button-prev:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.wrapper .content .right {
  background-color: white;
  padding: 0px 60px 40px 15%;
}

@media screen and (max-width: 799px) {
  .wrapper .content .right {
    height: auto;
    padding: 0px 5vw;
    padding-bottom: 120px;
  }
}

.wrapper .content .right .subtitle {
  color: #5A5A5A;
  font-weight: 600;
  font-size: 16px;
}

.wrapper .content .right .rightContent {
  max-width: 600px;
  margin-top: 220px;
}

@media screen and (max-width: 799px) {
  .wrapper .content .right .rightContent {
    max-width: 400px;
    margin: auto;
    margin-top: 60px;
  }
}

.wrapper .content .right .rightContent .model {
  margin-bottom: 40px;
}

.wrapper .content .right .rightContent .model .modelTitle {
  color: #FD6561;
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 10px;
}

@media screen and (max-width: 799px) {
  .wrapper .content .right .rightContent .model .modelTitle {
    font-size: 28px;
  }
}

.wrapper .content .right .rightContent .model .modelDesc {
  font-size: 18px;
  color: #5A5A5A;
}

.wrapper .content .right .rightContent .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper .content .right .rightContent .price .priceFinal {
  font-weight: bold;
  font-size: 28px;
  color: #5A5A5A;
  margin-right: 10px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper .content .right .rightContent .price .priceFinal.anime {
  -webkit-animation: price 0.4s ease;
          animation: price 0.4s ease;
}

@-webkit-keyframes price {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes price {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 799px) {
  .wrapper .content .right .rightContent .price .priceFinal {
    font-size: 24px;
  }
}

.wrapper .content .right .rightContent .price .priceOriginal {
  text-decoration: line-through;
  color: #BDBDBD;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper .content .right .rightContent .specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

@media screen and (max-width: 799px) {
  .wrapper .content .right .rightContent .specs {
    margin-bottom: 0px;
  }
}

.wrapper .content .right .rightContent .specs .form {
  background-color: #F5F5F5;
  border-radius: 4px;
  min-height: 36px;
  padding: 4px;
  color: #5A5A5A;
  font-size: 14px;
  margin-top: 15px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper .content .right .rightContent .specs .icon {
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper .content .right .rightContent .specs .icon img {
  width: 16px;
  height: 16px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.wrapper .content .right .rightContent .specs .icon:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.wrapper .content .right .rightContent .specs .icon:hover img {
  width: 20px;
  height: 20px;
}

.wrapper .content .right .rightContent .specs .size .dropdown {
  position: relative;
  z-index: 2;
}

.wrapper .content .right .rightContent .specs .size .dropdown .dropContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .content .right .rightContent .specs .size .dropdown .dropContent .sizeNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 28px;
  height: 28px;
  margin: 0 8px 0px 4px;
}

.wrapper .content .right .rightContent .specs .size .dropdown .dropContent .arrowDrop {
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
}

.wrapper .content .right .rightContent .specs .size .dropdown .dropContent .arrowDrop img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper .content .right .rightContent .specs .size .dropdown .dropOpen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  padding: 4px;
  color: #5A5A5A;
  margin-bottom: 20px;
}

@media screen and (max-width: 799px) {
  .wrapper .content .right .rightContent .specs .size .dropdown .dropOpen {
    position: initial;
  }
}

.wrapper .content .right .rightContent .specs .size .dropdown .dropOpen:before, .wrapper .content .right .rightContent .specs .size .dropdown .dropOpen:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  background-color: #F5F5F5;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 0px 0px 4px 4px;
  z-index: -1;
}

.wrapper .content .right .rightContent .specs .size .dropdown .dropOpen:after {
  z-index: -2;
  border-radius: 4px;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  top: -36px;
}

@media screen and (max-width: 799px) {
  .wrapper .content .right .rightContent .specs .size .dropdown .dropOpen:after {
    top: 0;
  }
}

.wrapper .content .right .rightContent .specs .size .dropdown .dropOpen .dropItems {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: 0;
  overflow-y: auto;
}

.wrapper .content .right .rightContent .specs .size .dropdown .dropOpen .dropItems .dropItem {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  opacity: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: all 0.4s ease, opacity 0.3s ease, -webkit-transform 0.4s 0.3s ease;
  transition: all 0.4s ease, opacity 0.3s ease, -webkit-transform 0.4s 0.3s ease;
  transition: all 0.4s ease, transform 0.4s 0.3s ease, opacity 0.3s ease;
  transition: all 0.4s ease, transform 0.4s 0.3s ease, opacity 0.3s ease, -webkit-transform 0.4s 0.3s ease;
  background-color: transparent;
}

.wrapper .content .right .rightContent .specs .size .dropdown .dropOpen .dropItems .dropItem:hover {
  color: #FD6561;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: white;
}

.wrapper .content .right .rightContent .specs .size .dropdown.open .dropContent {
  border-radius: 4px 4px 0px 0px;
}

.wrapper .content .right .rightContent .specs .size .dropdown.open .dropContent .arrowDrop img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.wrapper .content .right .rightContent .specs .size .dropdown.open .dropOpen {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .content .right .rightContent .specs .size .dropdown.open .dropOpen:before, .wrapper .content .right .rightContent .specs .size .dropdown.open .dropOpen:after {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  height: 100%;
}

.wrapper .content .right .rightContent .specs .size .dropdown.open .dropOpen:after {
  -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.3);
  height: calc(100% + 36px);
}

@media screen and (max-width: 799px) {
  .wrapper .content .right .rightContent .specs .size .dropdown.open .dropOpen:after {
    height: 100%;
    top: 0px;
  }
}

.wrapper .content .right .rightContent .specs .size .dropdown.open .dropOpen .dropItems {
  height: 148px;
}

.wrapper .content .right .rightContent .specs .size .dropdown.open .dropOpen .dropItems .dropItem {
  -webkit-transition: all 0.4s ease, opacity 0.3s 0.2s ease, -webkit-transform 0.4s 0.1s ease;
  transition: all 0.4s ease, opacity 0.3s 0.2s ease, -webkit-transform 0.4s 0.1s ease;
  transition: all 0.4s ease, transform 0.4s 0.1s ease, opacity 0.3s 0.2s ease;
  transition: all 0.4s ease, transform 0.4s 0.1s ease, opacity 0.3s 0.2s ease, -webkit-transform 0.4s 0.1s ease;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.wrapper .content .right .rightContent .specs .quantity {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .content .right .rightContent .specs .quantity .quantityCounter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.wrapper .content .right .rightContent .specs .quantity .quantityCounter .inputQuantity {
  width: 28px;
  margin: 0 8px 0px 4px;
  text-align: center;
  background-color: transparent;
  font-size: 14px;
  color: #5A5A5A;
  font-family: "Barlow", sans-serif;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper .content .right .rightContent .specs .quantity .quantityCounter .btnQuantity:first-of-type {
  margin-right: 4px;
}

.swiper-container {
  max-width: 500px;
}

@media screen and (max-width: 799px) {
  .swiper-container {
    max-width: 400px;
  }
}

@media screen and (max-width: 512px) {
  .swiper-container {
    max-width: 280px;
  }
}

.swiper-container .swiper-wrapper {
  width: 100%;
  max-width: 500px;
}

@media screen and (max-width: 799px) {
  .swiper-container .swiper-wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: 512px) {
  .swiper-container .swiper-wrapper {
    max-width: 280px;
  }
}

.galleryMain {
  margin-right: 0;
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
}

@media screen and (max-width: 799px) {
  .galleryMain {
    margin-right: auto;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.galleryMain .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 512px) {
  .galleryMain .swiper-slide img {
    -o-object-fit: initial;
       object-fit: initial;
  }
}

@media screen and (max-width: 512px) {
  .galleryMain .swiper-slide {
    max-width: 280px;
  }
}

.galleryThumbs {
  height: auto;
  margin: 0;
  margin-bottom: 60px;
}

@media screen and (max-width: 799px) {
  .galleryThumbs {
    display: none;
  }
}

.galleryThumbs .swiper-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-column-gap: 20px;
  overflow: visible;
}

@media screen and (max-width: 1023px) {
  .galleryThumbs .swiper-wrapper {
    -ms-grid-rows: (60px)[2];
        grid-template-rows: repeat(2, 60px);
    -ms-grid-columns: (60px)[3];
        grid-template-columns: repeat(3, 60px);
    grid-row-gap: 10px;
  }
}

.galleryThumbs .swiper-slide {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galleryThumbs .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #BDBDBD;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 4px;
}

.galleryThumbs .swiper-slide:hover img {
  border: 6px solid rgba(189, 189, 189, 0.5);
}

.galleryThumbs .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.galleryThumbs .swiper-slide.swiper-slide-thumb-active img {
  border: 4px solid #FD6561;
}
/*# sourceMappingURL=main.css.map */