@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

$font-01: "Barlow",
sans-serif;
$font-02: "Barlow Condensed",
sans-serif;

$m-01: #306064;
$m-02: #4B8F8E;
$m-03: #72C0B0;
$m-04: #B9D7D5;

$g-01: linear-gradient(45deg, $m-02, $m-03);
$g-02: linear-gradient(120deg, $m-01, $m-03);
$neu-01: #E5E4EA;
$neu-02: #CED2D8;
$neu-03: #606060;
$neu-04: #505050;
$neu-05: #403E3E;



:root {

    --screen-bg: linear-gradient(90deg, #E5E4EA, #CED2D8);
    --screen-fade: linear-gradient(90deg, #E5E4EA 30%, transparent 60%);

    --calc-bg: #fff;
    --numbers-bg: #E5E4EA;
    --actions-bg: #B9D7D5;
    --del-bg: #CED2D8;

    --numbers-color: #4B8F8E;
    --actions-color: #306064;
    --del-color: #306064;

    --hover-keys: #72C0B0;
}

[data-theme="dark"] {
    --screen-bg: linear-gradient(90deg, #474747, #403E3E);
    --screen-fade: linear-gradient(90deg, #474747 30%, transparent 60%);
    --calc-bg: #606060;
    --numbers-bg: #505050;
    --actions-bg: #403E3E;
    --del-bg: #474747;

    --numbers-color: #72C0B0;
    --actions-color: #B9D7D5;
    --del-color: #CED2D8;

    --hover-keys: #222222;
}


@mixin lg {
    @media screen and (max-width: 1240px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 511px) {
        @content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i,
input {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;

    &:focus {
        outline: 0;
    }
}

div {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: $font-01;
    background: $g-02;

}

.logo {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    backdrop-filter: blur(5px);

    img {

        width: 55%;
        height: 55%;
        transform: translateY(-1px);
        opacity: 0.8;
    }
}

.wrapper {

    .container {
        padding: 40px;
        box-sizing: border-box;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-height: 500px) {
            height: 100%;
        }

        .toggle-text {
            position: absolute;
            top: 30px;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
            opacity: 0.5;
        }

        .toggle {
            width: 60px;
            height: 30px;
            background: white;
            border-radius: 30px;
            position: absolute;
            top: 60px;
            transition: all 0.2s ease;
            box-shadow: inset 0px 0px 0px 3px rgba($neu-03, 0.2), 0px 10px 20px 0px rgba($m-01, 0.5);
            cursor: pointer;


            &:before {
                position: absolute;
                content: '';
                width: 22px;
                height: 22px;
                background: $neu-02;
                border-radius: 100%;
                top: 4px;
                left: 4px;
                transition: all 0.4s cubic-bezier(0.99, 0.01, 0.29, 1.24);
                transform: translateX(0px);
                box-shadow: inset -2px 2px 10px 0px rgba($neu-03, 0.3), 5px 0px 10px 0px rgba($neu-03, 0.3);
            }

            &:hover {
                box-shadow: inset 0px 0px 0px 3px rgba($neu-03, 0.2), 0px 5px 10px 0px rgba($m-01, 0.5);
            }


            &.off {
                background: $neu-05;


                &:before {
                    background: $m-03;
                    transform: translateX(30px);
                    box-shadow: inset -2px 2px 8px 0px rgba($m-01, 0.7), -5px 0px 10px 0px rgba(black, 0.4);
                }
            }


        }



        .calculator {
            width: 280px;
            height: 400px;
            background: var(--calc-bg);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 100px 1fr;
            padding: 10px;
            border-radius: 5px;
            transition: all 0.2s ease;
            transform: perspective(150px);
            box-shadow: 0px 20px 40px -20px rgba($m-01, 0.8), 10px 10px 0px 0px rgba($m-01, 0.2);
            position: relative;
            transition: all 0.2s ease;


            .screen {
                background: var(--screen-bg);
                border-radius: 3px;
                margin-bottom: 10px;
                transition: all 0.2s ease;
                position: relative;

                .input,
                .second-input {
                    width: 280px;
                    height: 50%;
                    background-color: transparent;
                    border: 0;
                    text-align: right;
                    font-family: $font-01;
                    font-size: 40px;
                    color: var(--numbers-color);
                    padding: 5px 15px;
                    box-sizing: border-box;
                    overflow: hidden;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    bottom: 0;
                    position: absolute;


                    &:before {
                        position: absolute;
                        content: '';
                        width: 40%;
                        height: 100%;
                        background: var(--screen-fade);
                        left: 0;
                        top: 0;

                    }


                }

                .second-input {
                    font-size: 20px;
                    top: 0;
                    //background-color: yellow;
                }

                .get-action {
                    width: 40px;
                    height: 40px;
                    //background-color: red;
                    z-index: 1;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    display: none;
                    color: var(--numbers-color);
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;


                    &.active-action {
                        display: block;
                        animation: getAction 0.6s ease both;

                        @keyframes getAction {
                            0% {
                                transform: translateY(20px);
                            }
                        }
                    }
                }
            }

            .keyboard {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(5, 1fr);
                border-radius: 0 0 2px 2px;


                .key {
                    background-color: var(--numbers-bg);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 1px;
                    transition: all 0.2s ease;
                    color: var(--numbers-color);
                    position: relative;
                    cursor: pointer;


                    &:before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 100%;
                        background: var(--hover-keys);
                        transition: all 0.4s ease;
                        opacity: 0;
                    }

                    /* total key */
                    &.total {
                        grid-column: 3 / 5;
                        background-image: $g-01;
                        color: white;
                        border-radius: 0 0 3px 0;
                    }

                    /* delete key */
                    &.del {
                        grid-column: 1/3;
                        background: var(--del-bg);
                        color: var(--del-color);
                        border-radius: 3px 0 0 0;
                    }

                    /* back key */
                    &.back {
                        background: var(--del-bg);
                        color: var(--del-color);
                    }

                    /* + - x / */
                    &.action {
                        background-color: var(--actions-bg);
                        color: var(--actions-color);
                    }

                    /* bottom left key */
                    &.bl {
                        border-radius: 0 0 0 3px;
                    }

                    /* top right key */
                    &.tr {
                        border-radius: 0 3px 0 0;
                    }


                    &:hover {
                        color: white;

                        &:before {
                            opacity: 0.3;
                        }
                    }
                }
            }

            &.flip-in {
                transform: rotate3d(0, 10, 0, 90deg);

            }

            &.flip-out {
                transform: rotate3d(0, 10, 0, 0deg);
            }

        }
    }
}