@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

$font-01: "Barlow",
sans-serif;
$font-02: "Barlow Condensed",
sans-serif;

$m-01: #d51e34;
$m-02: #a01222;
$m-03: #781829;

$neu-01: #f5f5f5;
$neu-02: #eaeaea;
$neu-03: #d2d2d2;
$neu-04: #b7b7b7;
$neu-05: #9c9c9c;
$neu-06: #404145;
$neu-07: #1c1c1e;

@mixin lg {
    @media screen and (max-width: 1240px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 511px) {
        @content;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;

    &:focus {
        outline: 0;
    }
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: $font-01;
    background-color: white;

}

.logo {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    backdrop-filter: blur(5px);

    img {

        width: 55%;
        height: 55%;
        transform: translateY(-1px);
        opacity: 0.8;
    }
}

.wrapper {

    .container {
        padding: 40px;
        box-sizing: border-box;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-height: 500px) {
            height: 100%;
        }

        .calculator {
            width: 280px;
            height: 400px;
            background-color: $neu-04;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 100px 1fr;
            padding: 10px;
            border-radius: 5px;

            .screen {
                background-color: $neu-02;
                border-radius: 2px 2px 0 0;
                //margin: 0 0 10px 0;
            }

            .keyboard {
                background-color: $neu-03;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, 1fr);
                border-radius: 0 0 2px 2px;

                .key {
                    background-color: $neu-05;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}