@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i,
input,
figure,
img {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
ul:focus,
li:focus,
button:focus,
a:focus,
i:focus,
input:focus,
figure:focus,
img:focus {
  outline: 0;
}

div {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Barlow", sans-serif;
  background: white;
}

.logo {
  position: fixed;
  z-index: 5;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.logo img {
  width: 55%;
  height: 55%;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  opacity: 0.8;
}

.wrapper .module-team {
  position: relative;
}

.wrapper .module-team:before {
  width: 100%;
  height: 380px;
  background-color: #EAEAEA;
  content: '';
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 799px) {
  .wrapper .module-team:before {
    height: 250px;
  }
}

.wrapper .module-team .team {
  max-width: 1440px;
  margin: 0 auto;
  padding: 100px 5%;
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team {
    padding: 50px 0%;
  }
}

.wrapper .module-team .team .title {
  text-align: center;
  margin-bottom: 80px;
  color: #6F7073;
  font-size: 44px;
  line-height: normal;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.3px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100px;
}

.wrapper .module-team .team .title:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 10px;
  background: #6F7073;
  border-radius: 50px;
  bottom: 0;
  opacity: 0.2;
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team .title:before {
    width: 60px;
    height: 5px;
  }
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team .title {
    font-size: 32px;
    height: 60px;
    margin-bottom: 40px;
  }
}

.wrapper .module-team .team .team-cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapper .module-team .team .team-cards .swiper-container {
  max-width: 920px;
  height: 380px;
  padding: 0 20px;
  /* Card */
}

@media screen and (max-width: 1180px) {
  .wrapper .module-team .team .team-cards .swiper-container {
    max-width: 600px;
  }
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container {
    max-width: 280px;
    padding: 0 20px;
    overflow: visible;
  }
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide {
  background-color: white;
  width: 280px !important;
  height: 320px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 0px 0px 1px #EDEEF4;
          box-shadow: inset 0px 0px 0px 1px #EDEEF4;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 20px 40px -20px #EAEAEA;
          box-shadow: 0px 20px 40px -20px #EAEAEA;
  top: 0px;
  z-index: -1;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .bg {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  border-radius: 4px 4px 0px 0px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: linear-gradient(140deg, #D45B7A, #FDA576);
  z-index: 1;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: 2;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 100%;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more:before, .wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more:after {
  width: 16px;
  height: 2px;
  background-color: white;
  content: '';
  position: absolute;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .more:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .photo {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  overflow: hidden;
  z-index: 1;
  position: absolute;
  top: 40px;
  border: 3px solid #FFFFFF;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0px 4px 10px rgba(111, 112, 115, 0.3);
          box-shadow: 0px 4px 10px rgba(111, 112, 115, 0.3);
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .photo:before, .wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .photo:after {
  width: 100%;
  height: 100px;
  border-radius: 4px;
  content: '';
  position: absolute;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  left: 0;
  top: 0;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .photo:before {
  background: #403E3E;
  z-index: 1;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .photo:after {
  background: linear-gradient(140deg, #D45B7A, #FDA576);
  z-index: 2;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .text {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .text .name {
  font-size: 20px;
  color: #6F7073;
  font-weight: 300;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .text .role {
  font-size: 14px;
  font-weight: 600;
  color: #CBCBCB;
  letter-spacing: 0.8px;
  margin-top: 5px;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .text .desc {
  color: white;
  display: none;
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: 0.6px;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(234, 234, 234, 0.5);
  -webkit-box-shadow: inset 0px 11px 13px -20px #6F7073;
          box-shadow: inset 0px 11px 13px -20px #6F7073;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .pointer {
  display: block;
  width: 10px;
  height: 10px;
  z-index: 2;
  bottom: 50px;
  position: absolute;
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .pointer:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .icons .icon {
  width: 25%;
  height: 24px;
  opacity: 0.3;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .icons .icon:hover {
  opacity: 0.6;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social .icons .icon img {
  width: 100%;
  height: 100%;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide .card .social:hover .pointer {
  opacity: 1;
  bottom: 45px;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide:hover:before {
  -webkit-box-shadow: 0px 10px 10px -10px #EAEAEA;
          box-shadow: 0px 10px 10px -10px #EAEAEA;
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide:hover {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide:hover:before {
    -webkit-box-shadow: 0px 20px 40px -20px #EAEAEA;
            box-shadow: 0px 20px 40px -20px #EAEAEA;
  }
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide:hover .card .photo {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 6px 20px rgba(111, 112, 115, 0.3);
          box-shadow: 0px 6px 20px rgba(111, 112, 115, 0.3);
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-container .swiper-slide:hover .card .photo {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-box-shadow: 0px 4px 10px rgba(111, 112, 115, 0.3);
            box-shadow: 0px 4px 10px rgba(111, 112, 115, 0.3);
  }
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card {
  overflow: hidden;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .more {
  -webkit-transform: rotate(45deg) scale(1);
          transform: rotate(45deg) scale(1);
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .more:hover {
  -webkit-transform: rotate(45deg) scale(1.1);
          transform: rotate(45deg) scale(1.1);
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .social {
  -webkit-transform: translateY(55px);
          transform: translateY(55px);
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .text {
  color: white;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .text .name,
.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .text .role {
  color: white;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .text .desc {
  display: block;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .photo {
  width: 100%;
  height: 100%;
  top: 0px;
  border: solid 0px transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 10px rgba(111, 112, 115, 0);
          box-shadow: 0px 4px 10px rgba(111, 112, 115, 0);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .photo:before {
  height: 100%;
  opacity: 0.5;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .photo:after {
  height: 100%;
  opacity: 0.8;
  border-radius: 4px;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .photo img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .photo:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .bg {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .bg:before {
  opacity: 0.5;
}

.wrapper .module-team .team .team-cards .swiper-container .swiper-slide.show-more .card .bg:after {
  opacity: 0.8;
}

.wrapper .module-team .team .team-cards .swiper-pagination {
  bottom: 0;
  display: none;
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .swiper-pagination {
    display: block;
  }
}

.wrapper .module-team .team .team-cards .swiper-pagination .swiper-pagination-bullet {
  background-color: #6F7073;
  margin: 0 5px;
}

.wrapper .module-team .team .team-cards .swiper-pagination .swiper-pagination-bullet-active {
  background: linear-gradient(140deg, #D45B7A, #FDA576);
}

.wrapper .module-team .team .team-cards .navigation {
  width: 1098px;
  height: 28px;
  position: absolute;
  margin: 0 auto;
  padding: 0 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1180px) {
  .wrapper .module-team .team .team-cards .navigation {
    width: 750px;
  }
}

.wrapper .module-team .team .team-cards .navigation .swiper-button-prev,
.wrapper .module-team .team .team-cards .navigation .swiper-button-next {
  width: 28px;
  height: 28px;
  background-position: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  top: 0;
  margin-top: 0;
}

.wrapper .module-team .team .team-cards .navigation .swiper-button-prev:focus,
.wrapper .module-team .team .team-cards .navigation .swiper-button-next:focus {
  outline: none;
}

@media screen and (max-width: 799px) {
  .wrapper .module-team .team .team-cards .navigation .swiper-button-prev,
  .wrapper .module-team .team .team-cards .navigation .swiper-button-next {
    display: none;
  }
}

.wrapper .module-team .team .team-cards .navigation .swiper-button-prev {
  background-image: url("../assets/arrow-prev.svg");
  background-position-x: 5px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.wrapper .module-team .team .team-cards .navigation .swiper-button-prev:hover {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.wrapper .module-team .team .team-cards .navigation .swiper-button-next {
  background-image: url("../assets/arrow-next.svg");
  background-position-x: -5px;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.wrapper .module-team .team .team-cards .navigation .swiper-button-next:hover {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
/*# sourceMappingURL=main.css.map */