@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
ul:focus,
li:focus,
button:focus,
a:focus,
i:focus {
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: "Barlow", sans-serif;
  background-color: #eaeaea;
}

.logo {
  position: fixed;
  z-index: 5;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.logo img {
  width: 55%;
  height: 55%;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  opacity: 0.8;
}

.wrapper .container {
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-height: 500px) {
  .wrapper .container {
    height: 100%;
  }
}

.wrapper .container .calculator {
  width: 280px;
  height: 400px;
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
  padding: 10px;
  border-radius: 5px;
}

.wrapper .container .calculator .screen {
  background-color: #f5f5f5;
  border-radius: 2px 2px 0 0;
  margin-bottom: 10px;
}

.wrapper .container .calculator .keyboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  border-radius: 0 0 2px 2px;
}

.wrapper .container .calculator .keyboard .key {
  background-color: #fff1de;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.wrapper .container .calculator .keyboard .key.total {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  background-color: #d7aeaf;
}

.wrapper .container .calculator .keyboard .key.del {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background: linear-gradient(45deg, #fff1de, #fbdbc4);
}

.wrapper .container .calculator .keyboard .key.action {
  background-color: #fbdbc4;
}

.wrapper .container .calculator .keyboard .key.back {
  background-color: #fbdbc4;
}

.wrapper .container .calculator .keyboard .key:hover {
  background-color: #d7aeaf;
}
/*# sourceMappingURL=main.css.map */