@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");

$font-01: "Barlow",
sans-serif;
$font-02: "Barlow Condensed",
sans-serif;

$m-01: #E8E8F0;
$m-02: #FFEDC0;

@mixin sm {
    @media screen and (max-width: 640px) {
        @content;
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i,
input,
body {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;

    &:focus {
        outline: 0;
    }
}

body {
    //background-color: black;
}



.logo {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    backdrop-filter: blur(5px);

    img {
        width: 55%;
        height: 55%;
        transform: translateY(-1px);
        opacity: 0.8;
    }

    @include sm {
        display: none;
    }
}




.wrapper {
    display: grid;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    color: white;
    font-family: $font-01;
    user-select: none;



    @include sm {
        padding: 0;
    }


    .content {
        width: 375px;
        height: 760px;
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.3);

        @include sm {
            width: 100%;
            height: 100%;
            border-radius: 0px;
        }

        .icon {
            width: 24px;
            height: 24px;
            cursor: pointer;
            transition: all 0.2s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: contain;
            background-repeat: no-repeat;

            &:before {
                position: absolute;
                content: '';
                width: 24px;
                height: 24px;
                z-index: 1;
                background-size: contain;
                background-repeat: no-repeat;
            }

            &:active {
                &:before {
                    width: 28px;
                    height: 28px;
                }
            }

            &.shuffle {
                &:before {
                    background-image: url('../assets/shuffle.svg');
                    opacity: 0.5;
                }
            }

            &.prev {
                &:before {
                    background-image: url('../assets/prev.svg');
                }
            }

            &.play {
                &:before {
                    background-image: url('../assets/play.svg');
                }
            }

            &.next {
                &:before {
                    background-image: url('../assets/next.svg');
                }
            }


            &.repeat {
                &:before {
                    background-image: url('../assets/repeat.svg');

                    opacity: 0.5;
                }
            }

            &.bottomExpand {
                background-image: url('../assets/arrow-down.svg');
            }

            &.topExpand {
                background-image: url('../assets/arrow-down.svg');
            }

            &.menuHamburguer {
                background-image: url('../assets/menu.svg');
            }

            &.plus {
                background-image: url('../assets/plus.svg');
            }

            &.heart {
                &:before {
                    background-image: url('../assets/heart.svg');
                }

                &.fave {
                    &:before {
                        animation: fave 0.3s ease;
                        background-image: url('../assets/fave.svg');

                        @keyframes fave {
                            50% {
                                width: 40px;
                                height: 40px;
                            }

                            100% {
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }

                }
            }
        }

        // Menu Bar & Music Groups
        .topContent {
            width: 100%;
            max-height: 60px;
            background-color: rgba($m-01, 0.5);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            padding: 20px 0;
            box-sizing: border-box;
            backdrop-filter: blur(5px);
            transition: all 0.4s 0.2s ease;

            .menuBar {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                box-sizing: border-box;
            }

            .musicGroups {
                width: 100%;
                height: 100px;
                margin-top: 25px;
                opacity: 0;
                transform: translateX(100px);
                transition: all 0.4s ease;
                visibility: hidden;
                cursor: grab;

                &:active {
                    cursor: grabbing;
                }

                .swiper-slide {
                    width: 150px;
                    height: 100px;
                    margin-right: 20px;

                    &:first-child {
                        margin-left: 20px;
                    }
                }

                .group {
                    position: relative;
                    border-radius: 4px;
                    overflow: hidden;
                    cursor: pointer;

                    &:before {
                        position: absolute;
                        content: '';
                        width: 100%;
                        height: 30px;
                        background-color: rgba($m-01, 0.5);
                        backdrop-filter: blur(5px);
                        bottom: 0;
                        z-index: 1;
                    }

                    figure {
                        margin: 0;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        &:before {
                            position: absolute;
                            content: '';
                            width: 100%;
                            height: 100%;
                            background: linear-gradient(0deg, black, transparent);
                            bottom: 0;
                            opacity: 0.5;
                        }
                    }

                    .titleGroup {
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        text-align: center;
                        z-index: 1;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        text-transform: uppercase;
                    }


                }
            }

            &.expand {
                max-height: 190px;
                transition: all 0.4s ease;

                .topExpand {
                    transform: rotate(180deg);
                }

                .musicGroups {
                    opacity: 1;
                    transform: translateX(0px);
                    transition: all 0.4s 0.2s ease;
                    height: 100%;
                    visibility: visible;

                }
            }
        }

        // Album Covers
        .middleContent {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;


            .albumContent {
                margin-top: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                &.small {
                    width: 200px;

                    .albumCover {
                        width: 200px;
                        height: 200px;
                        transition: all 0.4s ease;
                    }
                }
            }

            .albumCover {
                width: 280px;
                height: 280px;
                overflow: hidden;
                box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.3);
                border-radius: 8px;
                position: relative;
                transition: all 0.4s 0.2s ease;
                z-index: -1;

                &:before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(145deg, rgba(white, 0.8) -20%, transparent 50%);
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: -1;
                }
            }

            .artistName,
            .songName {
                text-align: center;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.04em;
                z-index: 2;
            }

            .artistName {
                text-transform: uppercase;
                margin: 20px 0 10px 0;
                font-size: 16px;
                font-weight: 600;
            }

            .settings {
                width: 100%;
                height: 40px;
                //background-color: white;
                position: absolute;
                top: 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 20px 0 20px;
                box-sizing: border-box;
                position: fixed;
            }

            .swiper-container {
                height: 100%;
            }

            .swiper-slide {
                width: 280px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        // Player
        .bottomContent {
            width: 100%;
            min-height: 100px;
            max-height: 100px;
            background-color: rgba($m-01, 0.5);
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            backdrop-filter: blur(5px);
            transition: all 0.4s ease;
            padding: 5px 30px 20px 30px;
            box-sizing: border-box;

            .bottomExpand {
                transform: rotate(-180deg);
                opacity: 0.5;
            }

            .progressBar {
                width: 100%;
                // display: none;
                visibility: hidden;
                height: 0;
                transition: all 0.4s 0s ease;


                @include sm {
                    box-sizing: border-box;

                }

                .timer {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                }

                .barTimer {
                    width: 100%;
                    height: 5px;
                    background-color: white;

                }
            }

            .player {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: all 0.2s ease;

                @include sm {}

                .btnPlay {
                    background-color: rgba(white, 0.2);
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.2s ease;

                    &.pause {
                        background-color: rgba(white, 0.4);

                        .play {
                            &:before {
                                background-image: url('../assets/pause.svg');
                            }
                        }

                    }
                }
            }

            &.expand {
                min-height: 200px;
                max-height: 200px;
                padding: 10px 30px 20px 30px;

                .bottomExpand {
                    transform: rotate(0deg);
                    opacity: 1;
                }

                .progressBar {
                    //display: block;
                    visibility: visible;
                    height: 60px;
                    transition: all 0.4s 0.2s ease;
                    //animation: progressBar 0.4s 0.2s ease both;


                    @keyframes progressBar {
                        0% {
                            opacity: 0;
                            transform: translateY(-20px);
                        }

                        100% {
                            opacity: 1;
                            transform: translateY(0px);

                        }
                    }
                }

                .player {

                    @include sm {}

                    .btnPlay {
                        width: 60px;
                        height: 60px;

                        .icon {
                            &:before {
                                width: 32px;
                                height: 32px;
                            }

                            &:active {
                                &:before {
                                    width: 38px;
                                    height: 38px;
                                }
                            }
                        }

                    }
                }


            }
        }

        // Album Covers Background
        .albumBg {
            background-color: gray;
            position: absolute;
            width: 100%;
            max-height: 760px;
            height: 100%;
            top: 0;
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            @include sm {
                max-height: 100vh;
            }

            &:before,
            &:after {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                background: linear-gradient(180deg, rgba(black, 0.5) -40%, transparent 50%);
                z-index: 1;
            }

            &:after {
                top: initial;
                bottom: 0;
                background: linear-gradient(0deg, rgba(black, 0.5) -60%, transparent 50%);
            }

            .imageBg {
                width: 110%;
                height: 110%;
                filter: blur(20px);
                object-fit: cover;

                &.animeBg {
                    animation: animeBg 0.4s ease both;

                    @keyframes animeBg {
                        0% {
                            width: 120%;
                            height: 110%;
                            filter: blur(20px);
                            transform: rotate(0deg);
                        }

                        50% {
                            width: 200%;
                            height: 200%;
                            filter: blur(100px);
                            transform: rotate(20deg);
                        }

                        100% {
                            width: 120%;
                            height: 110%;
                            filter: blur(20px);
                            transform: rotate(0deg);
                        }
                    }
                }

            }
        }
    }
}



.swiper-button-prev,
.swiper-button-next {
    all: unset;
}