@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:200,300,400,500,600,700,800,900|Barlow:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  background-color: #FF9E81;
  font-family: "Barlow", sans-serif;
  font-weight: normal;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.logo {
  position: fixed;
  z-index: 5;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.logo img {
  width: 55%;
  height: 55%;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  opacity: 0.8;
}

@media screen and (max-width: 799px) {
  .logo {
    display: none;
  }
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  font-family: "Barlow", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 0.8px;
  padding: 0px 5%;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .wrapper {
    padding: 0px 20px;
  }
}

.wrapper .cta {
  background: linear-gradient(160deg, #FF8970 8%, #FFB571 86%);
  -webkit-box-shadow: 0px 10px 30px -5px rgba(255, 151, 111, 0.5);
          box-shadow: 0px 10px 30px -5px rgba(255, 151, 111, 0.5);
  padding: 18px 50px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-family: "Barlow", sans-serif;
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  cursor: pointer;
  margin-top: 30px;
}

.wrapper .cta:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  -webkit-box-shadow: 0px 4px 15px rgba(255, 151, 111, 0.5);
          box-shadow: 0px 4px 15px rgba(255, 151, 111, 0.5);
}

.wrapper .cta:disabled {
  opacity: 0.3;
  cursor: default;
}

.wrapper .cta:disabled:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: 0px 10px 30px -5px rgba(255, 151, 111, 0.5);
          box-shadow: 0px 10px 30px -5px rgba(255, 151, 111, 0.5);
}

.wrapper .cta.btnAnother, .wrapper .cta.btnTry {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: white;
}

.wrapper .cta.btnAnother:hover, .wrapper .cta.btnTry:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper .cta.btnTry span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(120deg, #EE5764 8%, #FFAB91 86%);
}

.wrapper .cta.btnAnother span {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(120deg, #4DAF9E 8%, #75EDD7 86%);
}

.wrapper .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 60px auto;
  -webkit-perspective: 800;
          perspective: 800;
}

.wrapper .content .card {
  width: 400px;
  height: 500px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: relative;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.wrapper .content .card article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7A7A7A;
  padding: 0 60px;
  text-align: center;
}

.wrapper .content .card article .titleCard {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 30px;
}

.wrapper .content .card article .description {
  font-size: 24px;
  line-height: 30px;
  color: white;
  font-weight: 200;
}

.wrapper .content .cardUpload {
  background-color: white;
  -webkit-box-shadow: 0px 20px 80px -20px rgba(191, 72, 65, 0.6);
          box-shadow: 0px 20px 80px -20px rgba(191, 72, 65, 0.6);
}

.wrapper .content .cardUpload .inputContent {
  width: 100%;
  height: 60px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 60px 0px 30px 0px;
}

.wrapper .content .cardUpload .inputContent .inputFile {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.wrapper .content .cardUpload .inputContent .uploadIcon {
  background: linear-gradient(160deg, #FF8970 8%, #FFB571 86%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  -webkit-box-shadow: 0px 10px 30px -5px rgba(255, 151, 111, 0.5);
          box-shadow: 0px 10px 30px -5px rgba(255, 151, 111, 0.5);
  -webkit-transition: -webkit-box-shadow 0.2s ease;
  transition: -webkit-box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
  cursor: pointer;
}

.wrapper .content .cardUpload .inputContent .uploadIcon:hover {
  -webkit-box-shadow: 0px 4px 15px rgba(255, 151, 111, 0.5);
          box-shadow: 0px 4px 15px rgba(255, 151, 111, 0.5);
}

.wrapper .content .cardUpload .inputContent .fileReturn {
  color: #7A7A7A;
  position: absolute;
  padding-left: 30px;
  text-align: left;
  word-break: break-all;
  cursor: pointer;
}

.wrapper .content .cardUpload .inputContent .fileReturn:before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../assets/attach.svg");
  background-size: contain;
  background-position: center;
  display: none;
  left: 0px;
}

.wrapper .content .cardUpload .inputContent .fileReturn.show:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .content .cardSuccess,
.wrapper .content .cardError {
  width: 400px;
  height: 500px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  position: absolute;
  z-index: -1;
}

.wrapper .content .cardSuccess {
  background: linear-gradient(120deg, #4DAF9E 8%, #75EDD7 86%);
  visibility: hidden;
  z-index: 2;
}

.wrapper .content .cardError {
  background: linear-gradient(120deg, #EE5764 8%, #FFAB91 86%);
}

.wrapper .content .flipIn {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 2;
}

.wrapper .content .flipOut {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 1;
}
/*# sourceMappingURL=main.css.map */