@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

$font: 'DM Mono',
monospace;

$font2: 'Major Mono Display',
monospace;

$m-01: #EE7D4C;


$neu-08: #484848;
$neu-09: #313131;

$cubic: cubic-bezier(0.76, 0.57, 0.17, 1.05);

@mixin delay {
    @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
            animation-delay: #{0.4 + $i * 0.2}s;
        }
    }
}


@mixin xxl {
    @media screen and (max-width: 1920px) {
        @content;
    }
}

@mixin xl {
    @media screen and (max-width: 1440px) {
        @content;
    }
}

@mixin lg {
    @media screen and (max-width: 1240px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 599px) {
        @content;
    }
}

@mixin xxs {
    @media screen and (max-width: 399px) {
        @content;
    }
}

@mixin delay {
    @for $i from 1 through 100 {
        &:nth-child(#{$i}) {
            animation-delay: #{$i * 0.15}s;
        }
    }
}

@mixin margins {
    padding-left: 5vw;
    padding-right: 5vw;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }
}

body {
    font-family: $font;
    background: $neu-08;
    color: white;
    font-size: 100%;
    transition: all 0.3s ease;

    @include md {
        font-size: 90%;
    }

    @include sm {
        font-size: 65%;
    }

    @include xs {
        font-size: 45%;
    }

    @include xxs {
        font-size: 40%;
    }
}

.mainNav {
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;

    &__items {
        @include margins;
        margin-top: 64px;
        display: flex;
        justify-content: flex-end;

        @include sm {
            margin-top: 32px;
            justify-content: center;
        }
    }

    &__links {
        font-size: 32px;
        margin-left: 40px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s $cubic;
        cursor: pointer;

        &:first-child {
            margin-left: 0;
        }

        &:before {
            content: '';
            position: absolute;
            width: 0px;
            height: 8%;
            transform: translateY(2px);
            background-color: $m-01;
            transition: inherit;
        }

        &:hover {
            transform: translateX(5px);
            color: rgba(white, 0.3);

            &:before {
                width: calc(100% + 8px);
            }
        }

        @include sm {
            font-size: 18px;
        }
    }

}

.mainHeading {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    @include margins;
    display: flex;
    align-items: center;
    position: relative;

    @include sm {
        justify-content: center;
    }

    &__text {
        margin: 80px 0;
        user-select: none;
    }

    &__title {
        font-size: 3em;
        font-weight: 400;
        margin-left: 4px;
        opacity: 0;

        span {
            @include delay;
            margin-right: 0.13em;
            animation: letters 0s ease both;
        }
    }


    &__subtitle {
        font-family: $font2;
        text-transform: uppercase;
        font-size: 7em;
        margin-left: -0.1em;
        line-height: 0.7em;
        color: $m-01;
        overflow: hidden;
        display: block;
        padding: 10px;

    }

    &__subtitleWord {
        @include delay;
        display: block;
        animation: title 1s $cubic both;



        &:first-child {
            letter-spacing: 0.11em;
        }
    }

    &__description {
        margin-top: 2em;
        font-size: 2em;
        font-weight: 500px;
        position: relative;
        line-height: 2em;

        &--strike {
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.9em;

            &:before {
                content: '';
                position: absolute;
                width: calc(100% + 8px);
                height: 0.1em;
                background-color: $m-01;
                animation: strike 0.4s 2s $cubic both;

                @keyframes strike {
                    0% {
                        width: 0;
                    }

                }
            }
        }

        &--super {
            position: absolute;
            color: $m-01;
            transform: rotate(-30deg) translate(0.5em, -2.2em) skew(-10deg, 5deg);
            border-left: 2px solid $m-01;
            border-bottom: 2px solid $m-01;
            padding: 0px 0px 5px 2%;
            animation: super 0.4s 2.4s $cubic both;
            right: 4.5em;
            bottom: 0;
            line-height: 1.5em;

            @keyframes super {
                0% {
                    opacity: 0;
                    transform: rotate(-80deg) translate(0em, -2.2em) skew(0deg, 0deg);
                }
            }
        }

        &--line1,
        &--line2 {
            display: flex;
            animation: title 1s 1s $cubic both;
        }

        &--line2 {
            animation-delay: 1.4s;
        }
    }

    &__video {
        background-color: black;
        width: 70%;
        height: 100%;
        position: absolute;
        z-index: -1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
    }

    &__videoPlayer {
        user-select: none;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        filter: grayscale(100%);

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.8;
            z-index: 2;
            top: 0;
            right: 0;
        }

        &:after {
            background-color: $neu-09;
            opacity: 0.8;
        }
    }

    &__scroll {
        width: 2.5em;
        height: 2.5em;
        background-size: cover;
        background-image: url("../assets/triangle.svg");
        background-repeat: no-repeat;
        position: absolute;
        bottom: 64px;
        left: 50%;
        transform: translateX(-50%);
        animation: 0.8s ease-in-out both infinite alternate;
        animation-name: scrollDown;


        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: inherit;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.5;
            z-index: 2;
            top: -15px;
            left: 0;
            animation: inherit;
            animation-name: scrollDown2;
            animation-delay: 0.2s;
        }

        &:after {
            top: -30px;
            opacity: 0.2;
            animation-delay: 0.4s;
        }



        @keyframes scrollDown {

            100% {
                transform: translateX(-50%) translateY(30px);
            }

        }

        @keyframes scrollDown2 {


            100% {
                opacity: 0;
                top: 0;
                transform: translateY(0px);
            }

        }
    }


    @keyframes title {
        0% {
            opacity: 0;
            transform: translateX(-100%);
        }
    }

    @keyframes letters {
        0% {
            opacity: 0;
        }
    }
}