@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,600,700,800,900|Barlow+Semi+Condensed:100,200,300,400,500,600,700,800,900|Barlow:100,200,300,400,500,600,700,800,900&display=swap');
$font-01: "Barlow",
sans-serif;
$font-02: 'Barlow Semi Condensed',
sans-serif;
$font-03: "Barlow Condensed",
sans-serif;

$neu-01: rgba(47, 47, 65, 0.5);
$neu-02: #4B4B55;
$neu-03: #7C7F9B;
$neu-04: #CDCDD1;

$shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);


$g-01: linear-gradient(180deg, #FBED96 0%, #ABECD6 100%);
$g-02: linear-gradient(90deg, #FBED96 0%, #ABECD6 100%);
$cubic: cubic-bezier(0.44, 0.43, 0, 1.85);

$cubic2: cubic-bezier(0.31, 0.42, 0, 1.39);


@mixin lg {
    @media screen and (max-width: 1919px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 460px) {
        @content;
    }
}

@mixin transition {
    transition: all 0.4s ease;
}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

body {
    font-family: $font-01;
    font-weight: normal;
    background-color: white;

}

.logo {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    backdrop-filter: blur(5px);

    img {
        width: 55%;
        height: 55%;
        transform: translateY(-1px);
        opacity: 0.8;
    }

    @include sm {
        display: none;
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    font-family: $font-01;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 5%;

    @include xs {
        height: auto;
        min-height: 100vh;
        padding: 0 16px;
    }
}

.container {
    background-color: transparent;
    margin: 40px auto;
    text-align: center;
    transition: all 0.4s ease;
    width: 375px;
    height: 760px;
    min-height: 500px;
    //background-color: black;
    background: $neu-02;

    @include xs {
        width: 100vw;
        height: 100%;
        margin: 0;
    }

}

.header {
    //background-color: green;
    width: 100%;
    height: 72px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;

}

.fitness {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 24px;

    @include xs {
        width: 100%;
    }

    &__top {
        width: 100%;
        height: calc(45% - 10px);
        margin: 8px 0;
        padding: 24px;
        box-shadow: $shadow;
        border-radius: 4px;
    }

    &__date {

        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $neu-04;
        margin-top: 16px;
    }

    &__content {
        width: 100%;
        height: calc(55% - 32px);
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px;
        margin-bottom: 32px;
    }

    &__square {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 8px 16px 16px 16px;
        box-shadow: $shadow;
        border-radius: 4px;

        .icon {
            width: 50%;
            height: 50%;
            max-width: 48px;
            max-height: 48px;
            display: flex;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &.steps {
            .icon {
                background-image: url("../assets/iconSteps.svg");
            }
        }

        &.time {
            .icon {
                background-image: url("../assets/iconTime.svg");
            }
        }

        &.distance {
            .icon {
                background-image: url("../assets/iconDistance.svg");
            }
        }

        &.calories {
            .icon {
                background-image: url("../assets/iconCalories.svg");
            }
        }
    }

    &__name {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $neu-04;
        margin: 8px 0px;
    }

    &__desc {
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $neu-03;
    }

    &__small {
        position: absolute;
        top: 8px;
        right: 8px;
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        line-height: 10px;
        text-align: right;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        color: $neu-04;
        opacity: 0.3;
    }

    &__bar {
        height: 6px;
        width: calc(100% - 16px);
        background-color: $neu-01;
        position: absolute;
        border-radius: 4px;
        bottom: 8px;
    }

    &__barValue {
        background: $g-02;
        height: 100%;
        width: 100%;
        display: flex;
        position: absolute;
        left: 0;
        border-radius: 4px;
        transition: all 0.3s ease;
        animation: bar 0.4s ease;

        &.active {
            animation: bar 0.4s ease;

            @keyframes bar {
                0% {
                    width: 0;
                }
            }
        }
    }
}

.swiper-container {
    height: calc(100% - 64px - 72px);
    position: relative;

    .swiperArrows {
        position: absolute;
        top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 48px);
        left: 24px;
        height: 24px;

        .swiper-button-prev,
        .swiper-button-next {
            width: 24px;
            height: 24px;
            top: initial;
            margin-top: 0;

            &:after {
                display: none;
            }
        }

        .swiper-button-prev {
            background-image: url("../assets/back.svg") !important;
        }

        .swiper-button-next {
            background-image: url("../assets/next.svg") !important;
        }
    }

    .swiper-pagination {
        position: absolute;
        top: 90px;
        height: calc(45% - 8px - 5% - 90px);
        //background-color: white;
        width: calc(100% - 48px) !important;
        margin: 0 24px;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        .swiper-pagination-bullet {
            width: 16px;
            height: 100%;
            border-radius: 4px 4px 2px 2px;
            background-color: $neu-01;
            opacity: 1;
            position: relative;

            &:before {
                content: '';
                width: 100%;
                height: 0%;
                border-radius: 4px 4px 2px 2px;
                position: absolute;
                background: $g-01;
                transition: all 0.3s ease;
                bottom: 0;
                left: 0;
            }

            &:nth-child(2) {
                height: 40px;
            }
        }

        .swiper-pagination-bullet-active {
            &:before {
                height: 100%;
            }
        }


    }

    .swiper-slide-active {
        .fitness {
            &__barValue {
                animation: bar2 0.4s 0.4s ease backwards;

                @keyframes bar2 {
                    0% {
                        width: 0;
                    }
                }
            }
        }
    }
}

.footer {
    height: 64px;
    width: 100%;
    background-color: $neu-01;
    opacity: 0.5;
}