@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100,200,300,400,500,600,700,800,900|Barlow+Semi+Condensed:100,200,300,400,500,600,700,800,900|Barlow:100,200,300,400,500,600,700,800,900&display=swap');
$font-01: "Barlow",
sans-serif;
$font-02: 'Barlow Semi Condensed',
sans-serif;
$font-03: "Barlow Condensed",
sans-serif;

$m-01: #1CCCC1;

$neu-01: #363636;
$neu-02: #5A5A5A;
$neu-03: #909090;
$neu-04: #979797;
$neu-05: #BDBDBD;
$neu-06: #F5F5F5;
$neu-07: #F8f8f8;




@mixin lg {
    @media screen and (max-width: 1919px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 799px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 512px) {
        @content;
    }
}

@mixin transition {
    transition: all 0.4s ease;
}


$cubic: cubic-bezier(0.95, 0, 0.37, 1.44);

:root {
    --bg: #ECECEC;
    --border: 6px solid #ECECEC;
    --bgGradient: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.15), transparent);
    --bgPosition: 100%;
    --shadow: 0px 20px 30px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(0, 0, 0, 0.1), inset 0px 0px 20px rgba(0, 0, 0, 0.2);
    --shadowHover: 0px 5px 5px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(0, 0, 0, 0.1), inset 0px 0px 20px rgba(0, 0, 0, 0.2);
    --position: 6px;
    --dotShadow: 4px 0px 10px rgba(0, 0, 0, 0.25), inset 0px 4px 20px rgba(141, 141, 141, 0.5);
    --dotBorder: 2px solid #ECECEC;
    --icon: #E4E4E4;


}

[data-theme="on"] {
    --bg: #1CCCC1;
    --border: 6px solid #1CCCC1;
    --bgPosition: 0%;
    --shadow: 0px 10px 30px rgba(0, 0, 0, 0.42), 0px 2px 5px rgba(0, 0, 0, 0.4), inset 0px 0px 20px rgba(0, 0, 0, 0.3);
    --shadowHover: 0px 5px 5px rgba(0, 0, 0, 0.42), 0px 2px 5px rgba(0, 0, 0, 0.4), inset 0px 0px 20px rgba(0, 0, 0, 0.3);
    --position: calc(100% - 58px - 6px);
    --dotShadow: -4px 0px 10px rgba(0, 0, 0, 0.25), inset 0px 4px 20px rgba(28, 204, 193, 0.5);
    --dotBorder: 2px solid #1CCCC1;
    --icon: #1CCCC1;

}


* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

body {
    background-color: $neu-06;
    font-family: $font-01;
    font-weight: normal;
}

.logo {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    backdrop-filter: blur(5px);

    img {
        width: 55%;
        height: 55%;
        transform: translateY(-1px);
        opacity: 0.8;
    }

    @include sm {
        display: none;
    }
}

.wrapper {
    width: 100%;
    height: 100vh;
    font-family: $font-01;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        background-color: $neu-01;
        left: 0;
        transition: all 0.5s $cubic;
    }

    &:after {
        background-color: $m-01;
        z-index: -1;
        transition: all 0.5s 0.1s $cubic;
    }

    &.active {

        &:before,
        &:after {

            width: 100%;
            transition: all 0.5s 0.2s $cubic;
        }

        &:after {
            transition: all 0.5s $cubic;
        }
    }

}

.toggle {
    width: 160px;
    height: 80px;
    background-color: var(--bg);
    border-radius: 80px;
    border: var(--border);
    position: relative;
    overflow: hidden;
    box-shadow: var(--shadow);
    display: flex;
    align-items: center;
    cursor: pointer;
    @include transition();
    transform: scale(0.8);

    &:hover {
        box-shadow: var(--shadowHover);
        transform: translateY(-5px) scale(0.8);
    }

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: var(--bgGradient);
        background-position: var(--bgPosition);
        background-size: 200%;
        transition: all 0.5s $cubic;
    }

    &__dot {
        width: 58px;
        height: 58px;
        display: flex;
        background-color: white;
        border-radius: 100%;
        z-index: 1;
        position: absolute;
        left: var(--position);
        box-shadow: var(--dotShadow);
        border: var(--dotBorder);
        transform: rotate(0deg);
        transition: all 0.4s ease, left 0.6s 0.2s $cubic, transform 0.6s 0.2s $cubic;

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 28px;
            height: 3px;
            border-radius: 4px;
            background-color: var(--icon);
            top: 50%;
            left: 49%;
            transform: rotate(45deg) translate(-50%, -50%);
            transform-origin: left;
            transition: all 0.3s 0.2s ease;
        }

        &:after {
            left: 51%;
            transform: rotate(-45deg) translate(-50%, -50%);
        }
    }
}

.on {
    .toggle {
        &__dot {
            transform: rotate(360deg);

            &:before,
            &:after {
                width: 24px;
                transform: rotate(-45deg);
                left: 23px;
                top: 65%;
                transition: all 0.5s 0.4s ease;
            }

            &:after {
                width: 10px;
                left: 17px;
                top: 28px;
                transform: rotate(45deg);
            }
        }
    }
}